{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

<!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-3 ">
                                <!-- Material Login -->
								<h2 class="section-title">Formulaire de connexion</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h4>Connexion</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
					<div class="text-center m-t-sm m-b-md">
                                            {% if error %}
                                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
                                            
                                        </div>
                                        <form class="form-horizontal m-t-sm" action="{{ path("fos_user_security_check") }}" method="post">
                                            {% if csrf_token %}
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                            {% endif %} 
                                            
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="form-material">
                                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{%trans%}Entez le nom d'utilisateur{% endtrans%}..." />
                                                        <label for="username">{{ 'security.login.username'|trans }}</label>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="form-material">
                                                        <input  class="form-control" type="password" id="password" name="_password" required="required" placeholder="Entez votre mot de passe..."/>
                                                        <label for="password">{{ 'security.login.password'|trans }}</label>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                
                                                    <label class="css-input switch switch-sm switch-default" for="remember_me">{{ 'security.login.remember_me'|trans }} </label>
                                                    </div>
                                                <div class="col-xs-6">
                                                
                                                    <label for="remember_me">
                                                        <a class="mdl-label" href="{{ path("fos_user_resetting_request") }}">{{ 'Mot de passe perdu'|trans}} ?</a>
                                                    </label>
                                                    </div>    
                                            </div>
                                            <div class="form-group m-b-0">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-app-teal" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" >Se connecter</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}