{% extends "::layout.html.twig" %}

{#{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Accueil</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}">Deconnexion</a>
    </nav>
{% endblock %}#}

{#{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Profil</a>
        <a class="mdl-navigation__link navlink" href="#">Mes Patrouilles</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
    </nav>
{% endblock %}#}

{% block stylepage %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

   <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
   {# <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">#}
   {# <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">#}

{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                <img src="{{ asset('images/admin.png') }} "/>
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU UTILISATEURS'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="#">{{'Ajouter un utilisateur'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path('siren_useradmin_patrouille') }}">{{'Gestion des Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_home") }}"> {{'Retour au menu principal'|trans}} </a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="#"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div></div>
    {% endblock %}

    {% block body %} 
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone">
                <div class="box box-info">
                    <div class="box-header">
                      <i class="fa fa-envelope"></i>
                      <h3 class="box-title">Ajouter un actualite</h3>
                      
                    </div>
                    <div class="box-body row">
                        <form method="post" action="" enctype="multipart/form-data">
                          <div class="col-xs-6">
               
                            <div class="form-group"><label>Nom</label>
                                <input type="text" class="form-control" name="Nom" placeholder="titre" required="required"/>
                            </div>
                            <div class="form-group"><label>Email</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Email" required="required"/>
                            </div>
                            <div class="form-group"><label>Pseudo</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Pseudo" required="required"/>
                            </div>
                            <div class="form-group"><label>Mot de passe</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Mot de passe" required="required"/>
                            </div>
                            <div class="form-group"><label>Numéro de télephone</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Numéro de télephone" required="required"/>
                            </div>
                            <div class="form-group"><label>Facebook</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Facebook" required="required"/>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-group"><label>Twitter</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Twitter" required="required"/>
                            </div>
                            <div class="form-group"><label>Facebook</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Facebook" required="required"/>
                            </div>
                            <div class="form-group"><label>Nom Projet</label>
                                <select class="form-control" name="id_cathegorie" required="required">
                                    <option value='' >
                                    cathegorie
                                    </option>
                                    <?php
                                            include_once 'controleur/commune/cathegorie.php';
                                            $cathegorie= new cathegorie();
                                            $ref=$cathegorie->cathegorie_ll();
                                    ?>
                                </select>

                            </div>
                            <div class="form-group"><label>Ville</label>
                                <select class="form-control" name="id_cathegorie" required="required">
                                    <option value='' >
                                    cathegorie
                                    </option>
                                    <?php
                                            include_once 'controleur/commune/cathegorie.php';
                                            $cathegorie= new cathegorie();
                                            $ref=$cathegorie->cathegorie_ll();
                                    ?>
                                </select>

                            </div>


                            <div class="box box-info"><label>Organisation</label>
                               <div class="box-body pad">
                                    <textarea id="editor1" name="Organisation" rows="10" cols="80"></textarea>
                                </div>
                            </div>

                            <div class="form-group"><label>Niveau</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Niveau" required="required"/>
                            </div>


                            <div class="box-footer clearfix">
                                <button type="submit" class="pull-right btn btn-default" id="sendEmail">Enregistrer <i class="fa fa-arrow-circle-right"></i></button>
                            </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
            

        </div>
    {% endblock %}

    {% block scriptpage %}

        <script src="{{ asset('plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('plugins/fastclick/fastclick.min.js') }}"></script>
        <script src="{{ asset('dist/js/app.min.js') }}"></script>
        <script src="{{ asset('dist/js/demo.js') }}"></script>
        <script>
          $(function () {
            $("#example1").DataTable();
          });
        </script>
    {% endblock %}

{# empty Twig template #}

