<ion-header>
  <navbar [title]= "'Mes projets'" ></navbar>
</ion-header>


<ion-content class="backgroundcorps">



  <ion-list  *ngIf="testeur == 0">                                                                                               
       <ion-card (click)="findObservationByProjet(element.id)" class="observation" *ngFor="let element of mesprojets">
          
          <ion-row>
               <ion-col col-9>
                   <p class="pnom"> {{element.nom}}</p>
                   <p class="plieu">{{element.lieu}}</p>
               </ion-col>
               <ion-col col-3>
                <button class="monbuttoncheck">
                   <ion-icon name="checkmark"></ion-icon>
                </button>
               </ion-col>
          </ion-row>
      
          
       </ion-card>
  </ion-list>


  <ion-list *ngIf="testeur == 1">                                                                                               
      <ion-card class="observation" *ngFor="let element of mesobservations">
         
         <ion-row (click)="details(element)">
              <ion-col col-9>
                <p class="pnom">{{element.dateo | date: 'short'}} </p>
                  <p class="plieu">{{element.note}}</p>
              </ion-col>
              <ion-col  col-3>
               <button class="monbuttoncheck" style="color: #1b9eea;">
                 <ion-icon name="checkmark"></ion-icon>  
               </button>
               
              </ion-col>
         </ion-row>
     
         
      </ion-card>
 </ion-list>


 <ion-list *ngIf="testeur == 2">                                                                                               
      <ion-card class="observation" *ngFor="let element of mesobservations">
      
      <ion-row (click)="details(element)">
              <ion-col col-9>
              <p class="pnom">{{element.dateo | date: 'short'}} </p>
                  <p class="plieu">{{element.note}}</p>
              </ion-col>
              <ion-col col-3 >
              <button *ngIf="element.etat == 1" class="monbuttoncheck" style="color: #1b9eea;">
              <ion-icon name="checkmark"></ion-icon>  
              </button>
              <button *ngIf="element.etat == 0" class="monbuttoncheck" style="color: red;">
              <ion-icon  name="md-close-circle"></ion-icon>  
              </button>
              </ion-col>
      </ion-row>
      
      </ion-card>
  </ion-list>

  <div *ngIf="detail != 0">


          <p class="titre">{{ 'RECAPITULATIF' | translate }}</p>

          <br>
         
      
          <ion-row>
             <ion-col class="dateheure2">
                Date et heure :
             </ion-col>
             <ion-col class="dateheure3">
              {{observationchoisie.dateo | date: 'short'}} 
             </ion-col>
          </ion-row>
      
          <ion-row>
              <ion-col class="dateheure2">
                Localisation :
              </ion-col>
              <ion-col class="dateheure3">
                {{observationchoisie.coordX}}  | {{observationchoisie.coordY}}
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="dateheure2">
                Type d'observation :
              </ion-col>
              <ion-col class="dateheure3">
                {{montypeObservations}}
              </ion-col>
          </ion-row>
          <ion-row *ngIf="montesteur == 1">
              <ion-col class="dateheure2">
                Groupe :
              </ion-col>
              <ion-col class="dateheure3">
                {{mongroupe}}
              </ion-col>
          </ion-row>
          <ion-row *ngIf="montesteur == 1">
              <ion-col class="dateheure2">
                Sous-groupe :
              </ion-col>
              <ion-col class="dateheure3">
                {{monsousgroupe}}
              </ion-col>
          </ion-row>
          <ion-row *ngIf="montesteur == 1">
              <ion-col class="dateheure2">
                Espèce :
              </ion-col>
              <ion-col class="dateheure3">
                {{monespece}}
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="dateheure2">
                Description :
              </ion-col>
              <ion-col class="dateheure3">
                {{observationchoisie.note}}
              </ion-col>
          </ion-row>
      
          <!--<ion-row *ngIf="question!=0">
              <ion-col class="dateheure2">
                {{question}}
              </ion-col>
              <ion-col class="dateheure3">
                {{reponse}}
              </ion-col>
          </ion-row>-->
      
          <ion-row *ngFor="let item of listequestions">
              <ion-col class="dateheure2">
                {{item.questions}}
              </ion-col>
              <ion-col class="dateheure3">
                {{item.contenu}}
              </ion-col>
          </ion-row>
      
      
        
  </div>


  <button *ngIf="detail != 0" class="monbutonvalide" (click)="retours()" ion-fab right bottom  color="positive"> <ion-icon name="md-checkmark"></ion-icon> </button>


</ion-content>
