{% extends 'base.html.twig' %}

{% block body %}
    <h1>Positions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Coordx</th>
                <th>Coordy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td><a href="{{ path('position_show', { 'id': position.id }) }}">{{ position.id }}</a></td>
                <td>{% if position.date %}{{ position.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ position.coordX }}</td>
                <td>{{ position.coordY }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('position_show', { 'id': position.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('position_edit', { 'id': position.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('position_new') }}">Create a new position</a>
        </li>
    </ul>
{% endblock %}
