{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Gérer les pays'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('pays_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter un nouveau pays'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom fr'|trans}}</th>
                <th>{{'Nom en'|trans}}</th>
                <th>{{'Code téléphonique'|trans}}</th>
                <th>{{'Sigle'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td><a href="{{ path('pays_show', { 'id': pay.id }) }}">{{ pay.id }}</a></td>
                <td>{{ pay.nomFr }}</td>
                <td>{{ pay.nomEn }}</td>
                <td>{{ pay.codeTel }}</td>
                <td>{{ pay.sigle }}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('pays_show', { 'id': pay.id }) }}"><i class="fa fa-list"></i></a>
                    
                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('pays_edit', { 'id': pay.id }) }}"><i class="fa fa-edit"></i></a>
                    
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
