{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter un pays'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom fr'|trans}}</th>
                <td>{{ pay.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Nom en'|trans}}</th>
                <td>{{ pay.nomEn }}</td>
            </tr>
            <tr>
                <th>{{'Code téléphonique'|trans}}</th>
                <td>{{ pay.codeTel }}</td>
            </tr>
            <tr>
                <th>{{'Sigle'|trans}}</th>
                <td>{{ pay.sigle }}</td>
            </tr>
            
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('pays_index') }}">{{'Revenir à la liste'|trans}}</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}


