{% extends "::layout.html.twig" %}

{#{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Accueil</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}">Deconnexion</a>
    </nav>
{% endblock %}#}

{#{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Profil</a>
        <a class="mdl-navigation__link navlink" href="#">Mes Patrouilles</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
    </nav>
{% endblock %}#}

{% block stylepage %}
    <style>
        /*[type='checkbox'] + label::before{
            border: 2px solid #3f51b5 !important;
        }*/
        [type='checkbox']:checked + label::before{
            border-right: 2px solid #3f51b5 !important;
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus{
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus + label{
            color: #3f51b5 !important;
        }

        .input-field .prefix.active{
            color: #3f51b5 !important;
        }
    </style>
{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                <img src="{{ asset('images/admin.png') }} "/>
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PRINCIPAL'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path('siren_useradmin_utilisateur') }}">{{'Gestion des Utilisateurs'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path('siren_useradmin_patrouille') }}">{{'Gestion des Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->

            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li>
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            
                
             <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-grid  mdl-shadow--8dp mdl-color--cyan-700">
                <div class="mdl-cell mdl-cell--6-col"><a href="{{ path('siren_useradmin_utilisateur') }}"><span class="mdl-card__title-text mdl-color-text--white">{{'Utilisateurs'|trans}}</span> ({{utilisateur}})</a></div>
                <div class="mdl-cell mdl-cell--12-col">
                    <img src="{{ asset('images/geochart.png') }}" class="responsive-img" />
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-grid  mdl-shadow--8dp mdl-color--cyan-700">
                <div class="mdl-cell mdl-cell--6-col"><a href="{{ path('siren_useradmin_patrouille_type') }}"><span class="mdl-card__title-text mdl-color-text--white">{{'Types'|trans}}</span> ({{type}})</a></div>
                <div class="mdl-cell mdl-cell--12-col">
                    <img src="{{ asset('images/piechart.png') }}" class="responsive-img" />
                </div>
            </div>
               
                
              <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-grid  mdl-shadow--8dp mdl-color--cyan-700">
                <div class="mdl-cell mdl-cell--6-col"><a href="{{ path('siren_useradmin_patrouille_categorie') }}"><span class="mdl-card__title-text mdl-color-text--white">{{'Categories'|trans}}</span> ({{categorie}})</a></div>
                <div class="mdl-cell mdl-cell--12-col">
                    <img src="{{ asset('images/histogram.png') }}" class="responsive-img" />
                </div>
            </div>
                
                
              <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-grid  mdl-shadow--8dp mdl-color--cyan-700">
                <div class="mdl-cell mdl-cell--6-col"><a href="{{ path('siren_useradmin_patrouille_question') }}"><span class="mdl-card__title-text mdl-color-text--white">{{'Questions'|trans}}</span> ({{question}})</a></div>
                <div class="mdl-cell mdl-cell--12-col">
                    <img src="{{ asset('images/area.png') }}" class="responsive-img" />
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        </div>
    {% endblock %}

    {% block scriptpage %}
        <script>
            $(document).ready(function () {

                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthsShort: ['Jan', 'Feb', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
                    weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    showMonthsShort: false,
                    showWeekdaysFull: false,
                    format: 'dd/mm/yyyy',
                    today: 'Aujour.',
                    clear: 'Supp.',
                    close: 'Fermer',
                    // Accessibility labels
                    labelMonthNext: 'Mois suivant',
                    labelMonthPrev: 'Mois précédent',
                    labelMonthSelect: 'Sélectionner un mois',
                    labelYearSelect: 'Sélectionner une année',
                });
            });
        </script>
    {% endblock %}

