{% extends "::layout.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}">Accueil</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">Connexion</a>
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}">Accueil</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">Connexion</a>
    </nav>
{% endblock %}

{% block body %} 
    <div class="mdl-grid" style="height: 100%">

        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-grid type" style="padding-top: 30px;">
                <h3 class="mdl-cell mdl-cell--12-col center mdl-color-text--red-700">Erreur :</h3>
                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                        <img class="responsive-img" src="{{ asset('images/oups.png') }}"/>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone center" style="margin-top: 13px;">
                        <h4>La page sollicitée n'est pas trouvable.</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
