<ion-header>
  <navbar title="{{ 'MENTIOLEGALE' | translate }}"></navbar>
</ion-header>


<ion-content class="backgroundcorps">

  <p style="text-align: center; font-weight: bold; font-size: 20px;">{{monprojet.mention}}</p>

</ion-content>
