{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notifications_projets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_fr</th>
                <th>Nom_en</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notifications_projet in notifications_projets %}
            <tr>
                <td><a href="{{ path('notifications_projet_show', { 'id': notifications_projet.id }) }}">{{ notifications_projet.id }}</a></td>
                <td>{{ notifications_projet.nomfr }}</td>
                <td>{{ notifications_projet.nomen }}</td>
                <td>{% if notifications_projet.date %}{{ notifications_projet.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notifications_projet_show', { 'id': notifications_projet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('notifications_projet_edit', { 'id': notifications_projet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notifications_projet_new') }}">Create a new notifications_projet</a>
        </li>
    </ul>
{% endblock %}
