/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
$couleur: #ef473a;
.primary {
    background-color: #3F51B5;
    color: white;
}
.jour{
    border-color:$positive;
    background-color: $positive;
    color: #fff;
}

.nuit{
    border-color: $assertive;
    background-color: $assertive;
    color: #fff;
}

.menu ion-header-bar {
  border: none;
  box-shadow: none;
  min-height: 169px;
  width: 300px;
  padding: 0; 
}
  .menu ion-header-bar .item {
    background-color: #1B5E20;
    border: none;
    width: 100%;
    
/*    padding-left: 120px;
    padding-top: 45px; */
  }
  
  ion-header-bar > center > img {
      margin-top: 10px;
  }
  
  @font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jura/jura-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Jura Regular"), local("Jura-Regular"), url("../fonts/jura/jura-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/jura/jura-v7-latin-regular.woff2") format("woff2"), url("../fonts/jura/jura-v7-latin-regular.woff") format("woff"), url("../fonts/jura/jura-v7-latin-regular.ttf") format("truetype"), url("../fonts/jura/jura-v7-latin-regular.svg#Jura") format("svg");
  /* Legacy iOS */ }


.menu ion-content {
  top: 169px;
  
}
.menu ion-header-bar .item img {
      max-width: 100px !important;
      max-height: 100px;
      top: 10% !important;
      left: 10px !important;
}
.test {
  font-family: 'Jura';
}
center h5 {
  font-size: 17px;
  color: white;
}
center p {
  font-size: 15px;
  color: white;
}

.mode{
    font-size: 20px;
    color: red;
}

.commencer{
    width: 80%;
    top: 30px;
    left: 10%;
    margin-bottom: 50px;
}

.logo_text{
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Jura';
}
.logo_img{
  width: 100px;;
  margin-top:10px;
}
.arrierejour{
    background-image: url('../img/backjour.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 

}

.arrierenuit{
    background-image: url('../img/backnuit.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 

}
.arriere1{
    background-image: url('../img/back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    
}
.transp {
    background-color: #FFFFFF;
    opacity: 0.7;
    border: 0px;
}