page-commentaire {
    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    h2{
        font-size: 1px;
    }

    .alert-md .alert-title {
        font-size: 13px;
    }
    
    
}
