{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Gérer les projets'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('projet_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter un nouveau projet'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom'|trans}}</th>
                <th>{{'Lieu'|trans}}</th>
                <th>{{'Pays'|trans}}</th>
                <th>{{'Admin'|trans}}</th>
                <th>{{'Projet public'|trans}}</th>
                <th>{{'Date début'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
                     
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nom }}
                {% if projet.utilisateurs.id == app.user.id %}&emsp;<span class="btn btn-success">Je suis Admin</span> {% endif %}
                </td>
                <td>{{ projet.lieu }}</td>
                <td>{{ projet.pays }}</td>
                <td>{{ projet.utilisateurs.username}}</td>
                <td>{% if projet.public %} Oui {% else %} Non {% endif %}</td>
                <td>{% if projet.date %}{{ projet.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('projet_show', { 'id': projet.id }) }}"><i class="fa fa-list"></i></a>
                    
                </td>
                <td>
                   {% if projet.utilisateurs.id == app.user.id  or is_granted('ROLE_ADMIN')%}
                        <a class="btn btn-warning center-block" href="{{ path('projet_edit', { 'id': projet.id }) }}"><i class="fa fa-edit"></i></a>
                   {% endif %} 
                </td>
                
            </tr>
        
        {% endfor %}
       
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
