{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-4 col-md-4 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter un projet'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ projet.lieu }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ projet.couleur }}</td>
            </tr>
            <tr>
                {% if (app.request.getLocale()) == 'fr' %} 
                    <th>Mention</th>
                    <td>{{ projet.mention }}</td>
                {% else %} 
                    <th> Legal Notices </th>
                    <td>{{ projet.mention_en }}</td>
                {% endif %}
                
            </tr>
            <tr>
            <tr>
                <th>Maplink</th>
                <td>{{ projet.maplink }}</td>
            </tr>
            <tr>
            <th>Web Site link</th>
                <td>{{ projet.site }}</td>
            </tr>
            <tr>
                <th>Organization</th>
                <td>{{ projet.organization }}</td>
            </tr>
            <tr>
                {% if (app.request.getLocale()) == 'fr' %} 
                    <th> Note de fin d'observation </th>
                    <td>{{ projet.note }}</td>
                {% else %} 
                    <th> Note </th>
                    <td>{{ projet.note_en }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Projet Public</th>
                <td>{% if projet.public %} Oui {% else %} Non {% endif %}</td>
            </tr>
            {% if projet.image != null %}
                <br/><br/>
                <tr>
                    <th>{{'Image'|trans}}</th>
                    <td><img 
                                        src="{{ app.request.basePath }}/images/projet/{{ projet.image }}"
                                        alt="{{ projet.nom }}"
                                        width="100"
                                        height="100"
                                        /></td>
                </tr>
            {% else %}
            <tr>
                    <th>{{'Image'|trans}}</th>
                    <td>Pas de photo</td>
                </tr>
            {% endif %}
            <tr>
                <th>Date</th>
                <td>{% if projet.date %}{{ projet.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            
            {% if projet.id == 62153 %}
            
            <tr>
                <th><a class="btn btn-red" href="{{ path('homepageRenatura') }}"><i class="ion-stats-bars"></i> {{'Maps'|trans}}</a></th>
                <td><a class="btn btn-green" href="{{ path('statistiqueRenatura') }}"><i class="ion-navigate"></i> {{'Statistiques'|trans}}</a></td>
            </tr>
            
            
            {% endif %}
            
         </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('projet_index') }}">{{'Revenir à la liste des projets'|trans}}</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
    
    
                                
    <div class="card">
                                    <div class="card-header bg-red bg-inverse">
                                        <h2 class="section-title">{{'Menu du projet'|trans}} 
                                        {% if projet.utilisateurs.id == app.user.id %}<a class="btn btn-white right" href="{{ path('projet_menu_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a>{% endif %}
                                        
                                        </h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Menu</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_menu in projet_menus %}
            <tr>
                <td><a href="">{{ projet_menu.id }}</a></td>
                <td>{{ projet_menu.menu.nomfr }}</td>
                <td><a class="btn btn-danger center-block"  href="{{ path('projet_menu_show', { 'id': projet_menu.id }) }}"><i class="fa fa-close"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                
    <div class="card">
                                    <div class="card-header bg-blue bg-inverse">
                                        <h2 class="section-title">{{'Type obseration du projet'|trans}} 
                                        {% if projet.utilisateurs.id == app.user.id %}<a class="btn btn-white right" href="{{ path('projet_typeobservations_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a>{% endif %}
                                        
                                        </h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type observation</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_type_observation in projet_type_observations %}
            <tr>
                <td><a href="">{{ projet_type_observation.id }}</a></td>
                <td>{{ projet_type_observation.typeObservations.nomFr }}</td>
                <td><a class="btn btn-danger center-block"  href="{{ path('projet_typeobservations_show', { 'id': projet_type_observation.id }) }}"><i class="fa fa-close"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
    
    <div class="card">
                                    <div class="card-header bg-blue bg-inverse">
                                        <h2 class="section-title">{{'especes du projet'|trans}} 
                                        {% if projet.utilisateurs.id == app.user.id %}<a class="btn btn-white right" href="{{ path('projet_especes_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a>{% endif %}
                                        
                                        </h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Especes</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_espece in projet_especes %}
            <tr>
                <td><a href="{{ path('projet_especes_show', { 'id': projet_espece.id }) }}">{{ projet_espece.id }}</a></td>
                <td>{{ projet_espece.especes.nomFr }}</td>
                <td><a class="btn btn-danger center-block"  href="{{ path('projet_especes_show', { 'id': projet_espece.id }) }}"><i class="fa fa-close"></i></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                
                                <div class="card">
                                    <div class="card-header bg-green bg-inverse">
                                        <h2 class="section-title">{{'Utilisateur du projet'|trans}} 
                                        {% if projet.utilisateurs.id == app.user.id %}
                                            <a class="btn btn-white right" href="{{ path('projet_utilisateur_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a>
                                        {% endif %}
                                        
                                        </h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_utilisateur in projet_utilisateurs %}
            <tr>
                <td> {{loop.index }} &ensp;</td>
                <td>&ensp;{{ projet_utilisateur.utilisateurs.username }}&ensp;</td>
                <td>&ensp;<a class="btn btn-danger center-block"  href="{{ path('projet_utilisateur_show', { 'id': projet_utilisateur.id }) }}"><i class="fa fa-close"></i>&ensp;</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
    <!-- .card -->
    <div class="card">
                                    <div class="card-header bg-red bg-inverse">
                                        <h2 class="section-title">{{'Notifications du projet'|trans}}
                                        {% if projet.utilisateurs.id == app.user.id %}<a class="btn btn-white right" href="{{ path('notifications_projet_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a>{% endif %}
                                        
                                        </h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notifications</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for notifications_projet in notifications_projets %}
            <tr>
                <td><a href="{{ path('notifications_projet_show', { 'id': notifications_projet.id }) }}">{{ notifications_projet.id }}</a></td>
                <td>{{ notifications_projet.nomFr }}</td>
                <td><a class="btn btn-danger center-block"  href="{{ path('notifications_projet_show', { 'id': notifications_projet.id }) }}"><i class="fa fa-close"></i></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
    
    
                                <!-- End Material Login -->
                            </div>
                            
    <div class="col-sm-8 col-md-8 ">
                                			
                                <!-- Material Login -->
				 <div class="card">
                                    
                                        <div class="card-header bg-orange bg-inverse">
                                        <h2 class="section-title">{{'Observations du projet'|trans}}
                                        
                               </h2>
                                    </div>
                                    <div class="card-block">
						
    <ul class="nav nav-tabs" data-toggle="tabs">
        <li class="active">
            <a href="#non">{{'Non Validé'|trans}}</a>
        </li>
        <li>
            <a href="#oui">{{'Validé'|trans}}</a>
        </li>
       
    </ul>
    <div class="card-block tab-content">
        <div class="tab-pane fade fade-up in active" id="non">
            <table class="table table-striped">
        <thead>
            <tr>
               <th>Id</th>
                <th>{{'Date'|trans}}</th>
                <th>{{'Coord x,y'|trans}}</th>
                <th>{%trans%}Type d'observations{%endtrans%}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
                    {% if is_granted('ROLE_ADMIN') %}
                         <th>{{'Validé'|trans}}</th>
                    {% endif %}
               {% endif %}
            </tr>
        </thead>
        <tbody>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                {% for observation in observations %}
                    {% if observation.projet.utilisateurs.id == app.user.id and observation.etat==0 %}
                        <tr>
                            <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.id }}</a></td>
                            <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                            <td>x: {{ observation.coordX }}<br/>y: {{ observation.coordY }}</td>
                            <td>{{ observation.typeObservations.nomFr }}</td>

                           <td>
                                <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                            </td>
                            <td>
                                <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                            </td>

                        </tr>
                {% endif %}
        {% endfor %}
            {% elseif is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                {% for observation in observations %}
                    {% if observation.etat==0 %}
                <tr>
                    <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.id }}</a></td>
                    <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                    <td>x: {{ observation.coordX }}<br/>y: {{ observation.coordY }}</td>
                    <td>{{ observation.typeObservations.nomFr }}</td>

                   <td>
                        <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                    </td>
                    <td>
                        <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                    </td>
                    <td>
                        <a class="btn btn-success center-block" href="{{ path('observations_valider', { 'id': observation.id }) }}"><i class="fa fa-check-circle-o"></i></a>

                    </td>

                </tr>
                {% endif %}
            {% endfor %}

            {% endif %}

                                
        {% endif %}
        
        </tbody>
    </table>

        </div>
        <div class="tab-pane fade fade-up" id="oui">
        <table class="table table-striped">
        <thead>
            <tr>
               <th>Id</th>
                <th>{{'Date'|trans}}</th>
                <th>{{'Coord x, y'|trans}}</th>
                <th>{%trans%}Type d'observations{%endtrans%}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
                
            </tr>
        </thead>
        <tbody>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                {% for observation in observations %}
                    {% if observation.projet.utilisateurs.id == app.user.id and observation.etat==1 %}
                        <tr>
                            <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.id }}</a></td>
                            <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                            <td>x: {{ observation.coordX }}<br/>y: {{ observation.coordY }}</td>
                            <td>{{ observation.typeObservations.nomFr }}</td>

                           <td>
                                <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                            </td>
                            <td>
                                <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                            </td>

                        </tr>
                {% endif %}
        {% endfor %}
            {% endif %}
            {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                {% for observation in observations %}
                    {% if observation.etat==1 %}
                <tr>
                    <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.id }}</a></td>
                    <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                    <td>x: {{ observation.coordX }}<br/>y: {{ observation.coordY }}</td>
                    <td>{{ observation.typeObservations.nomFr }}</td>

                   <td>
                        <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                    </td>
                    <td>
                        <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                    </td>

                </tr>
                {% endif %}
            {% endfor %}

            {% endif %}

                                
        {% endif %}
        
        </tbody>
    </table>
</div>
        
    </div>
    
  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}


