{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Gérer les feedbacks'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('feedback_new') }}"><i class="fa fa-plus-circle"></i> {% trans%}Ajouter un nouveau feedback{% endtrans%}</a>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Utilisateur'|trans}}</th>
                <th>{{'Email'|trans}}</th>
                <th>{{'Commentaire'|trans}}</th>
                <th>{{'Date'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                <td><a href="{{ path('feedback_show', { 'id': feedback.id }) }}">{{ feedback.id }}</a></td>
                <td>{{ feedback.nom }}</td>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.contenu }}</td>
                <td>{% if feedback.date %}{{ feedback.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('feedback_show', { 'id': feedback.id }) }}"><i class="fa fa-list"></i></a>
                    
                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('feedback_edit', { 'id': feedback.id }) }}"><i class="fa fa-edit"></i></a>
                    
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
