<ion-view  view-title="Siren Turtles">
    <ion-content ng-class="utilisateur.arriere">
        <center>
        <p style="color:black;"><b>Illustrative photo credit: Courtesy of the IUCN-SSC Marine Turtle Specialist Group</b></p> 
        </center>
    </ion-content>
</ion-view>
