<div class="list">
  <p style="color:black;"><i class="icon ion-ios-location assertive" style="font-size: 20px;"> </i>lat: {{lat}}</p>
  <p style="color:black;"><i class="icon ion-ios-location positive" style="font-size: 20px;"> </i>long: {{long}}</p>

  <label class="item item-input ">
    <span class="input-label">{{'nom du site'|translate}}</span>
    <input type="text" auto-complete ui-items="names" ng-model="data.tron">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      {{'segment'|translate}}
    </div>
    <select ng-model="data.seg" name="segment">
      <option value="autre" selected>{{'nouveau'|translate}}</option>
      <option ng-repeat="seg in segAll" value={{seg.nom}}>{{seg.nom}}</option>
    </select>
  </label>
  <label class="item item-input" ng-show="data.seg=='autre'">
    <span class="input-label">{{'segment'|translate}}</span>
    <input type="text" placeholder="D453-C789" ng-model="data.nseg">
  </label>
  <input type="hidden" ng-model="data.id" value={{seg.id}}>
</div>