<ion-view cache-view="false" view-title="Siren Turtles">
    <ion-floating-button has-footer="false" click="openModal()" button-color="#ef473a" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
  <ion-content ng-class="utilisateur.arriere">
      <div class="row" style="width: 90%;margin-left: 5%;font-size:medium;">
          <div class="col col-75">
              <p><b>{{'segment'|translate}}: </b><span class="badge" ng-class="utilisateur.mode">{{pat_tmp.segment|uppercase}}</span></p> 
              <p><b>{{'nom du site'|translate}}: </b><span  class="badge " ng-class="utilisateur.mode">{{pat_tmp.nomSite|uppercase}}</span></p>
              <p><b>{{'Heure de début'|translate}}: </b><span class="badge" ng-class="utilisateur.mode">{{pat_tmp.date | date:'HH:mm'}}</span></p>
              <p><b>{{'Distance parcouru'|translate}}: </b><span class="badge" ng-class="utilisateur.mode"> {{pat_tmp.distance | number: 0}} m </span></p>
              
          </div>   
          
          <div class="col col-25">
              <center>
                  <p class="badge" ng-class="utilisateur.mode">{{duree.h}} : {{duree.m}}</p>    
                  <a class="button icon ion-android-checkbox-blank" style="font-size: 75px; color:#F44336; margin-top: 0px;padding-top: 0px; background-color: #03A9F4;" ng-click="stop()"></a>
                  <p class="badge" ng-class="utilisateur.mode" style="margin-top: 5px;">Stop</p>
              </center> 
          </div>
          
      </div>
          <div class="button button-block button-light" ng-repeat="list in list_observation"    style="box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8);background-color: #444; color: white;">
              <div ng-if="list.categorie == 1" class="row">
                  <div style="width: 10%;">
                      
                      <div style="font-size:x-large;">{{$index + 1}}</div>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/trace.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <div style="font-size:x-large;">{{'Trace' | translate}}</div>
                  </div>
                  <div style="width:15;" >
                      
                      <div style="text-align: right;font-size:x-large;">{{list.dateAdd | date:'HH:mm'}}</div>
                  </div>        
              </div>

              <div ng-if="list.categorie == 2" class="row">
                  <div style="width: 10%;">
                      
                      <div style="font-size:x-large;">{{$index + 1}}</div>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/carcasse.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <div style="font-size:x-large;">{{'Carcasse' | translate}}</div>
                  </div>
                  <div style="width:15;" >
                      
                      <div style="text-align: right;font-size:x-large;">{{list.dateAdd | date:'HH:mm'}}</div>
                  </div>        
              </div>

              <div ng-if="list.categorie == 3" class="row">
                  <div style="width: 10%;">
                      
                      <div style="font-size:x-large;">{{$index + 1}}</div>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/nid.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <div style="font-size:x-large;">{{'Nid' | translate}}</div>
                  </div>
                  <div style="width:15;" >
                      
                      <div style="text-align: right;font-size:x-large;">{{list.dateAdd | date:'HH:mm'}}</div>
                  </div>        
              </div>

              <div ng-if="list.categorie == 4" class="row">
                  <div style="width: 10%;">
                      
                      <div style="font-size:x-large;">{{$index + 1}}</div>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/tortue.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <div style="font-size:x-large;">{{'Individu' | translate}}</div>
                  </div>
                  <div style="width:15;" >
                      
                      <div style="text-align: right;font-size:x-large;">{{list.dateAdd | date:'HH:mm'}}</div>
                  </div>        
              </div>


          </div>
      
  </ion-content>
</ion-view>
