<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{'nom'|translate}}</span>
    <input type="text" placeholder="John" ng-model="inscrire.username">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{'email'|translate}}</span>
    <input type="text" placeholder="john@suhr.com" ng-model="inscrire.email">
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">{{'mot de passe' | translate}}</span>
    <input type="text" placeholder="Suhr" ng-model="inscrire.password">
  </label>
</div>