<ion-view>
    <ion-content class="arriere1">
        <center>
            <img src="img/logo_siren.jpg" alt="adam" class="img-circle logo_img"> 
            <p class="logo_text">Siren Turtles</p>
        </center>
        <div style="max-width:90%; margin-left:5%;"> 
            
            <div class="list">
            <center>
                <p style="color: white;"><b>{{login_error}}</b></p>     
            </center>
                 
                <form name="connec">
                <label class="item item-input item-floating-label item- transp">                    
                    <span class="item-note" ng-show="connec.email.$error.required">{{'obligatoire' | translate}} !</span>
                    <span class="input-label">{{'email'|translate}}</span>
                    <input type="text" name="email" ng-model="login.pseudo" translate translate-attr-placeholder='email' required>
                </label>

                <label class="item item-input item-floating-label transp">
                     <span class="item-note" ng-show="connec.password.$error.required">{{'obligatoire' | translate}} !</span>
                    <span class="input-label">{{'mot de passe' | translate}}</span>
                    <input type="password" name="password" ng-model="login.pwd" translate translate-attr-placeholder='mot de passe'  required>
                </label>
                <div class="row" style="margin-left: 0%;font-size: 14px;">
                    <div class="col">
                            <a style="color: white;" ng-click="showPopup()">{{'Inscrire'|translate}}</a>
                     </div>
                    <div class="col" style="text-align: right;">
                            <a style="color: white;" ng-click="showPopup1()">{{'passe oublie'|translate}}</a>
                    </div>
                 </div>

            <button class="button button-block button-positive " ng-click="connexion()">
                {{'connexion'|translate}}
            </button>
            </form> 

            <center>
                <p style="color: white;"> {{'ou'|translate}}</p> 
             
            </center>
            <button class="button button-block button-positive" ng-click="testconnec()">
                {{'Se Connecter avec Facebook'|translate}}
            </button>
            <button class="button button-block button-calm">
                {{'Se Connecter avec Twitter'|translate}}
            </button>
            <button class="button button-block button-assertive">
                {{'Se Connecter avec Google +'|translate}}
            </button>
        
        </div>
    </ion-content>
</ion-view>
