<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-header bar-dark" >
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon button-light" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar menu-close nav-direction="enter" nav-clear ng-class="utilisateur.mode">
            <center class="test">
                <img src="img/aristide.png" alt="adam" class="img-circle" style="width: 40%"> 
                <h5 ng-bind="utilisateur.username">Aristide Kamla</h5>
                <h5>Aristide Kamla</h5>
            </center>
        </ion-header-bar>
        <ion-content>
                <div class="list">

                <a class="item item-icon-left" ng-click="profil()" menu-close>
                    <i class="icon ion-person"></i>
                    {{'profil' | translate}}
                </a>

                <a class="item item-icon-left" ng-click="showPopup()" menu-close>
                    <i class="icon ion-mic-a"></i>
                    {{'langue' | translate}}
                    <span class="item-note" ng-bind="language.item">
                        
                    </span>                    
                </a>
                 <a class="item item-icon-left" ng-click="synchro()" menu-close>
                    <i class="icon ion-ios-loop-strong"></i>
                    {{'synchronisation' | translate}}
                                      
                </a>
                

                <li class="item item-toggle item-icon-left">
                    <i class="icon ion-gear-a mode"></i>
                    {{'mode'|translate}}
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-click="theme()" >
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <a class="item item-icon-left" ng-click="about()" menu-close>
                    <i class="icon ion-information-circled"></i>
                    {{'propos' | translate}}
                                      
                </a>
                <a class="item item-icon-left" ng-click="logout()" menu-close>
                    <i class="icon ion-log-out"></i>
                    {{'deconnexion'|translate}}
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
