<ion-view cache-view="false" view-title="Siren Turtles">
    <ion-content ng-class="utilisateur.arriere">
        <button ng-class="utilisateur.mode"  class="button commencer icon-left ion-android-alarm-clock" ng-click="showPopup()">
            <b>{{'commencer' | translate}}</b>
        </button>
        <div class="card" ng-repeat="pat in patrouille" style="box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); ">
            <div class="item item-text-wrap">
                <a class="button" style="min-width: 82%; text-align: left;" ng-click="voir_patrouille(pat.id)">
                    <h3>
                       {{pat.dateAffiche | date:'EEEE, dd MMMM yyyy' | translate}}
                    </h3>
                    <p>
                        Axe {{pat.nom}}  <span class="item-note" style="color: blue;"> {{pat.dateDebut | date:'HH:mm'}} - {{pat.dateFin | date:'HH:mm'}} </span>
                    </p>
                </a>
                <a ng-if="pat.etat==0" class="button button-icon icon ion-ios-loop-strong">
                    <span class="badge badge-assertive" style="left: 0px;">{{pat.taille}}</span>
                </a>
                <a ng-if="pat.etat==1" class="button button-icon icon ion-checkmark-round">
                    <span class="badge badge-assertive" style="left: 0px;">{{pat.taille}}</span>
                </a>
                 
            </div>
        </div>  
        
    </ion-content>
</ion-view>
