<ion-modal-view ng-class="utilisateur.arriere">
    <ion-header-bar class="bar bar-header" ng-class="utilisateur.mode">
      <h1 class="title" style="text-align: center;color: white;">{{'observation' | translate}}</h1>
      <button class="button button-assertive icon-left ion-trash-b"  ng-click="modal.hide()">{{'annuler' | translate}}</button>
    </ion-header-bar>
    <ion-content >
    <div ng-if="question.test=='t'">
 	 <div class="item" style="text-align: center;background-color: white;color: #444; font-weight: bold;">
    {{'Choix de lobservation' | translate}}
  	 </div>

     <div class="button button-block button-light" style="box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); color: white; background-color: #444;" ng-click="nid()">
              <div class="row">
                  <div style="width: 10%;">
                      
                      <span style="font-size:x-large;">1</span>                      
                  </div>
                  <div style="width: 25%;">
                      <img src="img/nid.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <span style="font-size:x-large;">{{'Nid' | translate}}</span>
                  </div>
                         
              </div>
          </div>
          <div class="button button-block button-light" style="box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); color: white; background-color: #444;" ng-click="trace()">
              <div class="row">
                  <div style="width: 10%; ">
                      
                      <span style="font-size:x-large;">2</span>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/trace.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <span style="font-size:x-large;">{{'Trace' | translate}}</span>
                  </div>
                        
              </div>
          </div>
          
          <div class="button button-block button-light" style="box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); color: white; background-color: #444;" ng-click="individu()">
              <div class="row">
                  <div style="width: 10%;">
                      
                      <span style="font-size:x-large;">3</span>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/tortue.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <span style="font-size:x-large;">{{'Individu' | translate}}</span>
                  </div>
                          
              </div>
          </div>
          <div class="button button-block button-light" style="box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); color: white; background-color: #444;" ng-click="carcasse()">
              <div class="row">
                  <div style="width: 10%;">
                      
                      <span style="font-size:x-large;">4</span>                       
                  </div>
                  <div style="width: 25%;">
                      <img src="img/carcasse.png" width="40px;">     
                  </div>
                  <div style="width: 50%;">
                      
                      <span style="font-size:x-large;">{{'Carcasse' | translate}}</span>
                  </div>
                          
              </div>
          </div>
          
      </div>
      <div ng-if="question.test=='qcm'">
      	<div class="item" style="text-align: center; background-color: white;color: #444; box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); font-weight: bold;">
    		{{question.texte}}
  	 	</div>
  	 	<ion-list >
			  <ion-radio ng-repeat="rep in reponse"  ng-click="solu(rep.id)" style="margin-top: 10px;box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8); border: 0px;">
        <b ng-if="rep.question_id==4 || rep.question_id==20">
        <img ng-if="rep.valeur_fr=='Luth'|| rep.valeur_fr=='Leatherback'" src="img/luth.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Olivâtre'|| rep.valeur_fr=='Olive Ridley'" src="img/olivatre.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Kemp'|| rep.valeur_fr=='Kemp’s'" src="img/kemps.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Verte'|| rep.valeur_fr=='Green'" src="img/verte.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Caouanne'|| rep.valeur_fr=='Loggerhead'" src="img/caouanne.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Indéterminée'|| rep.valeur_fr=='Undetermined'" src="img/indeterminer.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Autre'|| rep.valeur_fr=='Other'" src="img/aucune.png" width="40px;">
        <img ng-if="rep.valeur_fr=='Imbriquée'|| rep.valeur_fr=='Hawksbill'" src="img/imbriquee.png" width="40px;"></b>
        {{rep.valeur_fr}}
			  </ion-radio>
		</ion-list>
		
		<div class="button-bar" style="margin-top: 15px; ">
			<a class="button icon-right ion-chevron-right  button-assertive" ng-click="suivant()">{{'suivant' | translate}}</a>
		</div>
		
      </div>
      <div ng-if="question.test=='qro'">
      	<div class="item" style="text-align: center;background-color: white;color: #444; box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset; box-shadow:0 0 20px rgba(0,0,0,0.8);font-weight: bold;">
    		{{question.texte}}
  	 	</div>
  	 	<div class="list" style="margin-top: 10px;">
		  <label class="item item-input" style="background-color: #444 !important; ">
		    <span style="color: white;" class="input-label" ng-if="question.texte!='Numéro'&&question.texte!='Number'" >{{'Taille en cm' | translate}}:</span>
		    <span style="color: white;" class="input-label" ng-if="question.texte=='Numéro'||question.texte=='Number'" >{{'Numéro' | translate}}:</span>
		    <input style="color: white;" type="number" name="result1" ng-model="result1.reponseText">
		  </label>
  		</div>
		<div class="button-bar">
			<a class="button icon-right ion-chevron-right  button-assertive" ng-click="suivant()">{{'suivant' | translate}}</a>
		</div>
      </div>
      <div ng-if="question.test=='pho'">
      	<div class="item" style="text-align: center;background-color: #444;color: white;">
    		{{'Ajouter des photos' | translate}}!
  	 	</div>
  	 	</br>
  	 	<center>
			<button class="button icon-left ion-image" ng-class="utilisateur.mode" ng-click="choosePhoto()">
	  			   {{'Aller à la galerie' | translate}}
			</button>
			<button class="button icon-left ion-ios-camera-outline" ng-class="utilisateur.mode" ng-click="takePhoto()">
	  			   {{'Prendre une photo' | translate}}
			</button>
			<p ng-repeat="img in imgURI">
			<img ng-show="imgURI !== undefined" ng-src="data:image/jpeg;base64,{{img}}">
	    	</p>
		</center>
			<div class="button-bar" style="margin-top: 10px;">
				<a class="button icon-right ion-chevron-right  button-assertive" ng-click="suivant()">{{'suivant' | translate}}</a>
			</div>      	
      </div>
      <div ng-if="question.test=='ter'">
      	<div class="item" style="text-align: center;background-color: #444;color: white;">
    		{{'Observation terminée' | translate}}...
  	 	</div>
  	 	<div class="list" style="margin-top: 10px;">
		  <label class="item item-input">
		    <span class="input-label" ng-if="question.texte=='Note'" >{{'Note' | translate}}:</span>
		    <textarea rows="5" name="result1" ng-model="result1.reponseText"></textarea>
		  </label>
  		</div>
			<div class="button-bar">
				<a class="button icon-right ion-chevron-right  button-assertive" ng-click="closeModal()">{{'terminer' | translate}}</a>
			</div>
      	
      </div>
    </ion-content>
</ion-modal-view>