<ion-view view-title="Siren Turtles">
    <ion-floating-button has-footer="false" click="terminer()" button-color="#009688" icon="ion-checkmark-round" icon-color="#fff">
    </ion-floating-button>
  <ion-content ng-class="utilisateur.arriere">
      <div class="row" style="width: 100%;margin-left: 5%;font-size:large;">
          <table>
              
              <tr>
                  <td >
                    {{'segment'|translate}}:  
                  </td>
                  <td style="color: red;">
                      {{patrouille.nom}}
                  </td>
                  
              </tr>
              
              <tr>
                  <td>
                    {{'nom du site'|translate}}:  
                  </td>
                  <td style="color: red;">
                      {{patrouille.nomSite}}
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Heure de début'|translate}}:  
                  </td>
                  <td style="color: red;">
                      {{patrouille.dateDebut | date:'HH:mm'}}
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Heure de fin'|translate}}: 
                  </td>
                  <td style="color: red;">
                      {{patrouille.dateFin | date:'HH:mm'}}
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Durée de la patrouille'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Distance parcouru'|translate}}: 
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre de traces'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre de nids'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre d individus vivants'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre d individus morts'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre de carcasses(restes)'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
             
        </table>

      </div>
      <ion-list>

          <ion-checkbox class="checkbox-assertive" ng-model="filter.red">{{'Recevoir par email le récapitulatif ?' | translate}}</ion-checkbox>
          <ion-checkbox ng-model="filter.yellow">{{'Rendre pulblic cette patrouille ?' | translate}}</ion-checkbox>
      </ion-list>
      
  </ion-content>
</ion-view>
