{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">Gérer les menus</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Coordx</th>
                <th>Coordy</th>
                <th>Titre</th>
                <th>Etat</th>
                
                
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
                    {% if is_granted('ROLE_ADMIN') %}
                         <th>Modifier</th>
                    {% endif %}
               {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for boussole in boussoles %}
            <tr>
                <td><a href="{{ path('boussole_show', { 'id': boussole.id }) }}">{{ boussole.id }}</a></td>
                <td>{% if boussole.date %}{{ boussole.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ boussole.coordX }}</td>
                <td>{{ boussole.coordY }}</td>
                <td>{{ boussole.titre }}</td>
                <td>{% if boussole.etat == 1 %}Actif{% else %}Non Actif{% endif %}</td>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
                    {% if is_granted('ROLE_ADMIN') %}
                         <td>
                    <a class="btn btn-warning center-block" href="{{ path('boussole_edit', { 'id': boussole.id }) }}"><i class="fa fa-edit"></i></a>
                    
                </td>
                    {% endif %}
               {% endif %}
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
