<ion-header>
    <navbar [title]= "'Mes Notifications'" ></navbar>
</ion-header>

<ion-content class="backgroundcorps">

    <ion-list>                                                                                               
        <ion-card class="observation" *ngFor="let element of mesnotifications">
           
           <ion-row>
                <ion-col col-9>
                    <p class="pnom">{{element.nom_fr}}</p>
                </ion-col>
                <ion-col col-3>
                 <button class="monbuttoncheck">
                   <ion-icon name="checkmark"></ion-icon>
                 </button>
                </ion-col>
           </ion-row>
       
           
        </ion-card>

       
   </ion-list>

</ion-content>

