page-mesnotifications {
    .observation{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
        height: 10%;
        margin-top: 3%;
    }

    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .pnom{
        margin-left: 10px;
    }
    .plieu{
        font-size: 20px; color:#1b9eea ; 
        margin-left: 10px;
    }

    .monbuttoncheck{
        float: right;
        margin-right: 10px;
        height: 35px;
        width: 50%;
    }
}
