
<ion-header>

  <ion-navbar>
    <ion-row>
        <ion-col col-2>
            <img style="height: 50px; width: 50px; margin-top: -6px;" src="assets/imgs/logo.png">
        </ion-col>
        <ion-col>
            <ion-title class="institle">{{ 'INSCRIPTION' | translate }}</ion-title>
        </ion-col>
    </ion-row>
    
  </ion-navbar>

</ion-header>


<ion-content padding class="backgroundcorps">
 
    <div *ngIf="temoininscription==0">

        <p class="textesacceuil">{{ 'INFOSC' | translate }}</p>
        <ion-input class="monimput" type="text" [(ngModel)]="utilisateur.email" placeholder=" Email" style="background: transparent;">
        </ion-input> 
        <hr style=" background-color: black; height: 1px; margin-top: 2px; margin-left: 20px; margin-right: 20px;">
        <ion-input class="monimput" type="password" [(ngModel)]="utilisateur.password" placeholder=" Mot de passe" style="background: transparent;">
        </ion-input> 
          <hr style=" background-color: black; height: 1px; margin-top: 2px; margin-left: 20px; margin-right: 20px;">
    
       <p class="textesacceuil">{{ 'INFOSP' | translate }}</p>
    
     
      
       <ion-item class="monitem">
             <ion-label>{{ 'PAYS' | translate }}</ion-label>
             <ion-select [(ngModel)]="utilisateur.pays" class="moselect">
                 <ion-option  value="{{item.id}}" *ngFor="let item of listepays"> {{item.nom_fr}} </ion-option>
             </ion-select>     
       </ion-item>



       <hr style=" background-color: black; height: 1px; margin-top: 2px; margin-left: 20px; margin-right: 20px;">
       
       <ion-input class="monimput" type="text" [(ngModel)]="utilisateur.telephone" placeholder=" Téléphone" style="background: transparent;">
       </ion-input> 
       <hr style=" background-color: black; height: 1px; margin-top: 2px; margin-left: 20px; margin-right: 20px;">
    
       <ion-input class="monimput" type="text" [(ngModel)]="utilisateur.ville" placeholder=" Ville" style="background: transparent;">
        </ion-input> 
     
       
    
        <hr style=" background-color: black; height: 1px; margin-top: 2px; margin-left: 20px; margin-right: 20px;">
    
       

         <ion-item class="monitem">
            <ion-label>{{ 'FONCTIONS' | translate }}</ion-label>
            <ion-select [(ngModel)]="utilisateur.fonction" class="moselect">
                <ion-option value="{{item.id}}" *ngFor="let item of listefonctions"> {{item.nom_fr}} </ion-option>
            </ion-select>     
        </ion-item>
    
         <hr style=" background-color: black; height: 1px; margin-top: 2px; margin-left: 20px; margin-right: 20px;">
    
         <br>
    
         <div class="blockbutton">
            <button  ion-button class="colors"  block (click)="inscription(donnees)">
               
                {{ 'INSCRIRE' | translate }}
            </button>
         </div>

    </div>

    <div *ngIf="temoininscription==1">
        <p class="textesacceuil"> {{ 'INFOS' | translate }}</p>
        <img style="height: 25%; width: 25%;  margin-left: 40%; margin-top: 10%;" src="assets/imgs/valid.png">
   
   
        <div class="blockbutton">
            <button  ion-button class="colors"  block (click)="connexion()">
               
                {{ 'CONNEXION' | translate }}
            </button>
        </div>
  
    </div>
    

  </ion-content>
