page-inscription {
    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .institle{
       margin-left: 30px;
       margin-top: 10px;
       color: black; 
    }

    .textesacceuil{
        padding-top: 5%;
        font-size: 18px;
        text-align: center;
     }

     .monimput{
         margin-top: 5px;
         margin-left: 15px; 
         margin-right: 20px;
         width: 295px;
     }
     .blockbuttontext{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 20%; 
        box-shadow: 5px 5px 5px #888888;
    }

    .blockbutton{
        margin-left: 5%;
        margin-right: 5%;
    }
   .monitem{
      background: transparent;
      margin-left: 10px;
     
   }

   .moselect{
      margin-right: 20px;
      width: 200%;
   }
   
}
