<ion-header>
  <navbar [title]= "titrequestion" ></navbar>
</ion-header>


<ion-content padding class="backgroundcorps">

    <div  class="mebouttons">
      <button *ngIf="testeur==0" style="background-color: #1b9eea" ion-button icon-start  (click)="takephotos()">
        <ion-icon  style="zoom:2.0;"  name="camera"></ion-icon>
      </button>
      <button *ngIf="testeur==0" style="background-color: #1b9eea" ion-button icon-start  (click)="takegalerie()">
          <ion-icon style="zoom:2.0;" name="md-images"></ion-icon>
      </button>
      <button style="background-color: #cc0c0c"  ion-button icon-start  (click)="deleteall()">
        <ion-icon style="zoom:2.0;"  name="md-trash"></ion-icon>
      </button>
      <!--<button style="background-color: #251f79" ion-button icon-start  (click)="takephotos()">
        <ion-icon name="md-refresh"></ion-icon>
      </button>-->
    </div>
    
    <!--<ion-card style="height: 37%; width: 95%;">
      <img style="height: 75%; width: 90%;" src="assets/imgs/logo.png" alt="">
      <button class="special" style="background-color: #cc0c0c"  ion-button icon-start  (click)="deleteone(1)">
        <ion-icon  name="md-trash"></ion-icon>
      </button>
  </ion-card>-->
  
  <ion-card *ngFor="let item of listeimages" style="height: 37%; width: 95%;">
    <img style="height: 75%; width: 100%;" src="{{item.image}}" alt="">
    <button class="special" style="background-color: #cc0c0c"  ion-button icon-start  (click)="deleteone(1)">
        <ion-icon  name="md-trash"></ion-icon>
    </button>
    
    
  </ion-card>



  <!-- <div class="blockbutton" *ngIf="testeur!=0"> -->
  <div class="blockbutton">
      <button  ion-button class="colors"  block (click)="suivant()">
          {{ 'SUIVANT' | translate }}
          <ion-icon name="arrow-forward" float-right class="monicon"></ion-icon>
      </button>
  </div>

  <ion-row class="monbutonvalide">
    <ion-col>
      <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
    </ion-col>
  </ion-row>

</ion-content>
