{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								<h2 class="section-title">Modifier une annonce</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Mettre à jour" />
    {{ form_end(edit_form) }}
    <br/>
    {% if marche.img1 != null %}
    
    <tr>
        <th>Image 1 <a class="btn btn-danger" onclick="return sup();" href="{{ path('marche_delete_img1', { 'id': marche.id }) }}"><i class="fa fa-close"></i></a></th>
        <td><img 
                            src="{{ app.request.basePath }}/images/marche/tof1/{{ marche.img1 }}"
                            alt="{{ marche.typeDePoisson }}"
                            width="100"
                            height="100"
                            /></td>
    </tr>
    {% endif %}
    
            {% if marche.img2 != null %}
    
    <tr>
        <th>Image 2 <a class="btn btn-danger" onclick="return sup();" href="{{ path('marche_delete_img2', { 'id': marche.id }) }}"><i class="fa fa-close"></i></a></th>
        <td><img 
                            src="{{ app.request.basePath }}/images/marche/tof2/{{ marche.img2 }}"
                            alt="{{ marche.typeDePoisson }}"
                            width="100"
                            height="100"
                            /></td>
    </tr>
    {% endif %}
            {% if marche.img3 != null %}
    
    <tr>
        <th>Image 3 <a class="btn btn-danger" onclick="return sup();" href="{{ path('marche_delete_img3', { 'id': marche.id }) }}"><i class="fa fa-close"></i></a></th>
        <td><img 
                            src="{{ app.request.basePath }}/images/marche/tof3/{{ marche.img3 }}"
                            alt="{{ marche.typeDePoisson }}"
                            width="100"
                            height="100"
                            /></td>
    </tr>
    {% endif %}
            {% if marche.img4 != null %}
    
    <tr>
        <th>Image 4 <a class="btn btn-danger" onclick="return sup();" href="{{ path('marche_delete_img4', { 'id': marche.id }) }}"><i class="fa fa-close"></i></a></th>
        <td><img 
                            src="{{ app.request.basePath }}/images/marche/tof4/{{ marche.img4 }}"
                            alt="{{ marche.typeDePoisson }}"
                            width="100"
                            height="100"
                            /></td>
    </tr>
    {% endif %}
    <a  class="btn btn-app-teal "  href="{{ path('marche_index') }}">Revenir à la liste</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

