{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">Consulter une annoce</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marche.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if marche.date %}{{ marche.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Typedepoisson</th>
                <td>{{ marche.typeDePoisson }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ marche.description }}</td>
            </tr>
            <tr>
                <th>Debarcadaire</th>
                <td>{{ marche.debarcadaire }}</td>
            </tr>
            <tr>
                <th>Sitedepeche</th>
                <td>{{ marche.siteDePeche }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ marche.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ marche.prix }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ marche.telephone }}</td>
            </tr>
            <tr>
                <th>Image 1</th>
                <td><img 
                                    src="{{ app.request.basePath }}/images/marche/tof1/{{ marche.img1 }}"
                                    alt="{{ marche.typeDePoisson }}"
                                    width="200"
                                    height="200"
                                    /></td>
            </tr>
            <tr>
                <th>Image 2</th>
                 <td><img 
                                    src="{{ app.request.basePath }}/images/marche/tof2/{{ marche.img2 }}"
                                    alt="{{ marche.typeDePoisson }}"
                                    width="200"
                                    height="200"
                                    /></td>
            </tr>
            <tr>
                <th>Image 3</th>
                 <td><img 
                                    src="{{ app.request.basePath }}/images/marche/tof3/{{ marche.img3 }}"
                                    alt="{{ marche.typeDePoisson }}"
                                    width="200"
                                    height="200"
                                    /></td>
            </tr>
            <tr>
                <th>Image 4</th>
                 <td><img 
                                    src="{{ app.request.basePath }}/images/marche/tof4/{{ marche.img4 }}"
                                    alt="{{ marche.typeDePoisson }}"
                                    width="200"
                                    height="200"
                                    /></td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if marche.etat == 1 %}Actif{% else %}Non Actif{% endif %}</td>
            </tr>
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('marche_index') }}">Revenir à la liste</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

