<div class="fos_user_group_list">
    <ul>
    {% for group in groups %}
        <li><a  class="btn btn-app-teal"  href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></li>
    {% endfor %}
    </ul>
</div>
