<ion-header *ngIf="noteobservation == 0">
  <navbar [title]= "titrequestion" ></navbar>
</ion-header>

<ion-header *ngIf="noteobservation == 1">
  <navbar [title]= "'Observation'" ></navbar>
</ion-header>


<ion-content padding class="backgroundcorps" *ngIf="noteobservation == 0">

  <p style="text-align: center; font-weight: bold; font-size: 20px;">{{titrequestion}}</p>
    
  <img src="{{myimage}}" style="width: 100%; height: 50%;" *ngIf="printpicture==1">

  <div class="formlogin" style="margin-top: 20px;">
    <textarea style="width: 100%;" type="text" [(ngModel)]="monobservation.description" placeholder="{{titrequestion}}"></textarea>
    <hr>
  
  </div>

  <div class="blockbutton">
      <button  ion-button class="colors"  block (click)="suivant()">
          {{ 'SUIVANT' | translate }}
          <ion-icon name="arrow-forward" float-right class="monicon"></ion-icon>
      </button>
  </div>

  <ion-row class="monbutonvalide">
      <ion-col>
        <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
      </ion-col>
    </ion-row>
    
</ion-content>




<ion-content padding class="backgroundcorps" *ngIf="noteobservation == 1">

  <br>
  <br>

  <div class="formlogin" style="margin-top: 20px;">
    <textarea style="width: 100%;" type="text" [(ngModel)]="manobservation.description" placeholder=" une description de l'observation"></textarea>
    <hr>
  
  </div>



  <p style="text-align: center; font-weight: bold; font-size: 20px;">{{monprojet.note}}</p>

  <div class="blockbutton">
      <button  ion-button class="colors"  block (click)="suivant()">
          {{ 'SUIVANT' | translate }}
          <ion-icon name="arrow-forward" float-right class="monicon"></ion-icon>
      </button>
  </div>

  <ion-row class="monbutonvalide">
    <ion-col>
      <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
    </ion-col>
  </ion-row>


</ion-content>
