<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar>
      <ion-title>Siren</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="profil" *ngIf="testimage == 0">
      <img class="image" src="assets/imgs/logo.png">
        <p class="texte">{{email}}</p>
    </div>

    <div class="profil" *ngIf="testimage == 1">
        <img class="image2" src="{{userconnecte.projet.image}}">
          <p class="texte">{{email}}</p>
    </div>

   
    
    <div  *ngFor="let p of pages">

        <button *ngIf="isAutorise(p.title) || p.title == 'SYNCRONISATION' || p.title == 'DECONNEXION'" class="lebutton" menuClose ion-item  (click)="openPage(p)">
          <!-- <ion-icon  name="{{p.icon}}"> {{p.title | translate}} </ion-icon> -->
          <ion-icon  name="{{p.icon}}"> {{returnTitle(p.title)}} </ion-icon>
        </button>

    </div>  
     
      
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>