:root {
    --color: #1b9eea;
}

.toolbar-background {
    background-color: var(--color);
}
.toolbar-title{
    color:#fff;
    margin-left: 15px;
}

.profil{
    /*background-color: rgba(26, 158, 233, 0.6);*/
    background-color: var(--color);
 }

 .image2{
    
    position: center;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 0%;
    width: 40%;
    cursor: pointer;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
}

 .image{
    
    position: center;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 0%;
    cursor: pointer;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
}

.texte{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}


.lebutton{
    margin-top: 5px;
}


.alert-head{
    background-color: var(--color);
    text-align: center;
    color: white;

    text-align: justify;
    

}

.alert-input-wrapper{
    margin-top: 50px;
}

.alert-button-group{
    color: white;
    background-color: var(--color);
}

.button-inner{
    color:white;
    text-align: center;
}

.alert-message{
    size:2px;
}

.alert-title{
    text-align: center;
}

.alert-md .alert-title {
    font-size: 14px;
}

