{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Gérer les espèces'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('especes_new',{'id': 1}) }}"><i class="fa fa-plus-circle"></i> {% trans%}Ajouter une nouvelle espèces{% endtrans%}</a>
                                                <a class="btn btn-primary text-right" href="{{ path('pays_especes_index') }}"><i class="fa fa-plus-circle"></i>{% trans%} Gérer les pays des espèces{% endtrans%}</a>
                                            
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom fr'|trans}}</th>
                <th>{{'Nom en'|trans}}</th>
                <th>{{'Nom inaturalist'|trans}}</th>
                <th>{{'Sous groupe'|trans}}</th>
                <th>{{'Projet'|trans}}</th>
                <th>{{'Image'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for espece in especes %}
            <tr>
                <td>{{ espece.id }}</td>
                <td>{{ espece.nomFr }}</td>
                <td>{{ espece.nomEn }}</td>
                <td>{{ espece.nomInaturalist }}</td>
                <td>{{ espece.sous_groupes.nomFr }}</td>
                <td>{{ espece.projet.nom }}</td>
                <td><img 
                                    src="{{ app.request.basePath }}/images/especes/{{ espece.image }}"
                                    alt="{{ espece.nomFr }}"
                                    width="40"
                                    height="40"
                                    /></td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('especes_show', { 'id': espece.id }) }}"><i class="fa fa-list"></i></a>
                    
                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('especes_edit', { 'id': espece.id }) }}"><i class="fa fa-edit"></i></a>
                    
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
