page-mesobservations {
    
    :root {
        --color: #1b9eea;
    }
    
    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }
    .pnom{
        margin-left: 10px;
    }
    .plieu{
        font-size: 10px; color:var(--color) ; 
        margin-left: 10px;
    }

    .monbuttoncheck{
        float: right;
        margin-right: 10px;
        height: 35px;
        width: 70%;
        background-color: white;
        
    }

    .monbutonvalide{
        margin-left: 80%;
        margin-top: 20%;
        background-color: var(--color);
    }

    .dateheure2{
        margin-left: 15px;
        margin-top: 10px;
        width: 50%;
        overflow: hidden;
    }

    .dateheure3{
        margin-top: 10px;
        color: red;
        width: 50%;
        overflow: hidden;
    }

    .monbutonvalide{
        margin-left: 80%;
        margin-top: 20%;
        background-color: var(--color);
    }

    .mondelete{
        background-color: var(--color);
    }

    .titre{
        text-align: center;
        font-size: 15px;
        margin-top: 50px;
    }

    .deatails{
        margin-left: 10px;
    }

    

}
