{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet_especes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_espece in projet_especes %}
            <tr>
                <td><a href="{{ path('projet_especes_show', { 'id': projet_espece.id }) }}">{{ projet_espece.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_especes_show', { 'id': projet_espece.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_especes_edit', { 'id': projet_espece.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_especes_new') }}">Create a new projet_espece</a>
        </li>
    </ul>
{% endblock %}
