{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Ajouter une especes au projet'|trans}} : {{projet.nom}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('projet_show', { 'id': projet.id }) }}">{{'Revenir au projet'|trans}}</a>
    
 <div class="card-header bg-teal bg-inverse" style="margin-top: 20px;">
                                        <h4 class="text-center"><i>{{"Vous ne trouvez pas l'espèce souhaitez? "|trans}}</i> <br/>{{"Laissez-nous un message et nous ajouterons la nouvelle espèce pour vous."|trans}}</h4>
                                        
                                        <a  class="btn btn-app-red "  href="{{ path('feedback_new')}}"><i class="fa fa-comment"></i>&emsp;{{'Laisser un message'|trans}}</a>
    
 </div>
  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

