{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}{{'Siren Turtles - mot de passe perdu'|trans}}{% endblock %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    </nav>
{% endblock %}

{% block stylepage %}
    <style>

        .demo-card-wide.mdl-card {
            width: 512px;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        .content
        {
            /*border:solid #0F5;*/
            background-color:#FFF;
            padding-top:20px;
        }

    </style>
{% endblock %}

{% block body %} 
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-phone mdl-cell--8-col-tablet mdl-shadow--8dp type">
            {% if invalid_username is defined %}
                <center><h6 class='mdl-color-text--red-500'>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</h6></center>
            {% endif %}
            
            <div class="container" >
                <div class="hero-content">
                    <h4>{{'Réinitialiser votre mot de passe'|trans}} !!!</h4>
                </div>
            </div>
                {% block fos_user_content %}
                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                {% endblock fos_user_content %}
        </div>

    </div>
{% endblock %}