{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{'Siren Turtles - Connexion'|trans}}{% endblock %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    </nav>
{% endblock %}

{% block stylepage %}
    <style>

        .demo-card-wide.mdl-card {
            width: 512px;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        .content
        {
            /*border:solid #0F5;*/
            background-color:#FFF;
            padding-top:20px;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-phone mdl-cell--8-col-tablet mdl-shadow--8dp type mdl-grid">
            {% if error %}
                <center><h6 class='mdl-color-text--red-500'>{{ error|trans({}, 'FOSUserBundle') }}</h6></center>
            {% endif %}
            <div class="container" >
                <div class="hero-content">
                    <h4>{{'Réinitialisation du mot de passe'|trans}} !!!</h4>
                </div>
            </div>

            {% block fos_user_content %}
                <div class="mdl-cell mdl-cell--12-col">
                    <center>
                    <div class="mdl-cell mdl-cell--4-col" style="text-align: center">
                        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset" style="margin-left: 15px; margin-right: 15px;">
                            {{ form_widget(form) }}
                            <div class="row">
                                <div class="input-field col s5"></div>
                                <div class="input-field col s4">
                                    <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                        {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
                                    </button>
                                </div>
                                <div class="input-field col s3"></div>
                            </div>
                        </form>
                    </div>
                    </center>
                </div>
            {% endblock fos_user_content %}

        </div>

    </div>
{% endblock %}
