{% extends "::layout.html.twig" %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}">Accueil</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">Connexion</a>
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>Accueil</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">Connexion</a>
    </nav>
{% endblock %}

{% block stylepage %}
    <style>
        #langue > li
        {
            display : inline-block;
        }

        #modalWaith
        {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
            filter: alpha(opacity=50);  /* IE 5-7 */
            -moz-opacity: 0.5;          /* Netscape */
            -khtml-opacity: 0.5;        /* Safari 1.x */
            opacity: 0.5;               /* Good browsers */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="mdl-grid" style="height: 100%">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-color--cyan-400 mdl-shadow--6dp" style="margin-bottom: 15px">
            <div class="mdl-cell mdl-cell--12-col">
                <span class="mdl-layout-title mdl-color-text--white center">Tracer un intinéraire</span>
            </div>
            <hr class="mdl-cell mdl-cell--12-col white" style="height:3px;"/>
            <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-grid input-field">
                <select class="mdl-cell mdl-cell--12-col" id="depart">
                    <option value="" disabled selected>Sélectionner un point de départ</option>
                    {% for patrouille in liste_patrouilles %}
                        <option value="{{ patrouille.id }}">{{ patrouille.nomSite }}</option>
                    {% else %}
                    {% endfor %}
                </select>
                <label>Départ</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-grid">
                <select class="mdl-cell mdl-cell--12-col" id="arrivee">
                    <option value="" disabled selected>Sélectionner un point d'arrivée</option>
                    {% for patrouille in liste_patrouilles %}
                        <option value="{{ patrouille.id }}">{{ patrouille.nomSite }}</option>
                    {% else %}
                    {% endfor %}
                </select>
                <label>Arrivée</label>
            </div>
            <hr class="mdl-cell mdl-cell--12-col white"/>

            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect teal mdl-color-text--white right" onclick="traceRoute();">
                    Tracer la route
                </button>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-grid" style="height: 100%">
            <div class="mdl-cell mdl-cell--12-col" id="map" style="margin-bottom: 15px;"></div>
        </div>

    </div>
{% endblock %}

{#{% block modal %}

    <div id="modalWaith" class="modal modal-fixed-footer">
        <div class="modal-content mdl-grid" id="waith">
            <div style="margin:auto;">

                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" id="imagesrc" value="{{ asset('') }}" />
        </div>

    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp0I07PNT-X6yOVeY5Hr9ri23MPwH13W8&callback=initMap"></script>
    
{% endblock %}#}

{% block scriptpage %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAynDbAhqx8Xj7aTyADvr6br02-R4Clkz0&callback=initMap"></script>
    
    <script type="text/javascript">

        $(function () {
            $('select').material_select();

        });
        var map;
        var contents = new Array();
        var markers = new Array();
        var infowindow;
        var directionsDisplay, directionsService;
        var pret = false;

        function initMap() {
            detectBrowser();
            directionsDisplay = new google.maps.DirectionsRenderer();
            directionsService = new google.maps.DirectionsService();
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 3.854642, lng: 11.486378},
                zoom: 15
            });
            directionsDisplay.setMap(map);

            var adressePat = "{{ path("siren_notsiren_map_getAll") }}";
            infowindow = new google.maps.InfoWindow();

            $.getJSON(adressePat, function (data) {
                var nb = data.length;
                for (var i = 0; i < nb; i++) {
                    contents[i] = '<div class="mdl-grid">Lieu : ' + data[i]["site"] + '</div>';


                    markers[i] = new google.maps.Marker({
                        position: {lat: data[i]["coordXDebut"], lng: data[i]["coordYDebut"]},
                        map: map,
                        label: "",
                        title: data[i]["site"]
                    });
                    markers[i].addListener('click', function () {
                        for (var x = 0; x < markers.length; x++)
                        {
                            if (markers[x] == this) {
                                break;
                            }
                        }
                        infowindow.setContent(contents[x]);
                        infowindow.open(map, markers[x]);
                    });

                }

                map.addListener('click', function () {
                    infowindow.close();
                })
            });

        }

        function detectBrowser() {
            var useragent = navigator.userAgent;
            var mapdiv = document.getElementById("map");

            if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1) {
                mapdiv.style.width = '100%';
                mapdiv.style.height = '300px';
            } else {
                $(mapdiv).css('width', '100%');
                mapdiv.style.height = '650px';
            }
        }


        function selectMarkers() {
            $("#modalWaith").modal({dismissible: false});
            $("#modalWaith").modal("open");

            $("#modalWaith").css("-ms-filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)");
            $("#modalWaith").css("filter", "alpha(opacity=50)");
            $("#modalWaith").css("-moz-opacity", "0.5");
            $("#modalWaith").css("-khtml-opacity", "0.5");
            $("#modalWaith").css("opacity", "0.5");

            var type = $("input[name='type']:checked").val();
            var nid = $("#nid").is(":checked");
            var trace = $("#trace").is(":checked");
            var vivant = $("#vivant").is(":checked");
            var mort = $("#mort").is(":checked");
            var carcasse = $("#carcasse").is(":checked");

            var debut = $("#datedebut").val();
            var fin = $("#datefin").val();

            var pathmarker = "{{ path("siren_user_map_get_markers") }}";
            var data = {
                type: type,
                nid: nid,
                trace: trace,
                vivant: vivant,
                mort: mort,
                carcasse: carcasse,
                debut: debut,
                fin: fin
            };
            $.ajax({
                url: pathmarker,
                type: "POST",
                dataType: 'json', // selon le retour attendu
                data: data,
                success: function (donnees) {
                    // La réponse du serveur
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    markers = [];

                    var nb = donnees.length;
                    for (var i = 0; i < nb; i++) {
                        if (type == "patrouille") {

                            contents[i] = '<div class="mdl-grid">' +
                                '<h4 class="mdl-cell mdl-cell--12-col">Détails Patrouille</h4><hr/>' +
                                '<div class="mdl-cell mdl-cell--12-col mdl-grid">' +
                                '<p class="mdl-cell mdl-cell--6-col">' +
                                'Segment : <span class="mdl-color-text--red-300">' + donnees[i]['segment'] + '</span><br/>' +
                                'Site : <span class="mdl-color-text--red-300">' + donnees[i]['site'] + '</span><br/>' +
                                'Débutée le : <span class="mdl-color-text--red-300">' + donnees[i]["dateDebut"] + " à " + donnees[i]["heureDebut"] + '</span><br/>' +
                                'Terminée le : <span class="mdl-color-text--red-300">' + donnees[i]["dateFin"] + " à " + donnees[i]["heureFin"] + '</span><br/>' +
                                '</p>' +
                                '<p class="mdl-cell mdl-cell--6-col">' +
                                'Nombre de Traces : <span class="mdl-color-text--red-300">' + donnees[i]['traces'] + '</span><br/>' +
                                'Nombre de Nids : <span class="mdl-color-text--red-300">' + donnees[i]['nids'] + '</span><br/>' +
                                'Nombre de Carcasses (restes) : <span class="mdl-color-text--red-300">' + donnees[i]['carcasses'] + '</span><br/>' +
                                'Nombre d\'individus vivants : <span class="mdl-color-text--red-300">' + donnees[i]['vivants'] + '</span><br/>' +
                                'Nombre d\'individus Morts : <span class="mdl-color-text--red-300">' + donnees[i]['morts'] + '</span><br/>' +
                                '</p>' +
                                '<div class="mdl-cell mdl-cell--4-col">' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        } else {
                            contents[i] = '<div class="mdl-grid">' +
                                '<h4 class="mdl-cell mdl-cell--12-col">Détails de l\'observation</h4><hr/>' +
                                '<div class="mdl-cell mdl-cell--12-col mdl-grid">' +
                                '<p class="mdl-cell mdl-cell--12-col">' +
                                'Segment : <span class="mdl-color-text--red-300">' + donnees[i]['segment'] + '</span><br/>' +
                                'Site : <span class="mdl-color-text--red-300">' + donnees[i]['site'] + '</span><br/>' +
                                'Type d\'observations : <span class="mdl-color-text--red-300">' + donnees[i]["type"] + '</span><br/>' +
                                '</p>' +
                                '<div class="mdl-cell mdl-cell--12-col carousel"style="max-height:250px;">';

                            if(donnees[i].hasOwnProperty('images')){
                                var nbImg = donnees[i]["images"].length;
                                for(var j = 0; j < nbImg; j++){
                                    contents[i] += '<a class="carousel-item" href="#im-' + j + '"><img src="' + $("#imagesrc").val() + donnees[i]["images"][j] + '"></a>';
                                }
                            }

                            contents[i] += '</div>' +
                                '<div class="mdl-cell mdl-cell--4-col">' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        }
                        //alert("toto");
                        markers[i] = new google.maps.Marker({
                            position: {lat: donnees[i]["coordXDebut"], lng: donnees[i]["coordYDebut"]},
                            map: map,
                            title: donnees[i]["userAdd"]
                        });
                        markers[i].addListener('click', function () {
                            for (var x = 0; x < markers.length; x++)
                            {
                                if (markers[x] == this) {
                                    break;
                                }
                            }
                            infowindow.setContent(contents[x]);
                            infowindow.open(map, markers[x]);
                            $('.carousel').carousel();
                        });

                    }
                    $("#modalWaith").modal("close");
                }
            });
        }

        function traceRoute(){
            var urlDepart = getURL($("#depart").val());
            var urlArrivee = getURL($("#arrivee").val());
            var depart, arrivee;

            //Récupération des coordonnées à partir du controlleur
            $.getJSON(urlDepart,  function(data){
                if(data["error"] == 0){
                    depart = {x: data["x"], y: data["y"]};

                    $.getJSON(urlArrivee,  function(data){
                        if(data["error"] == 0){
                            arrivee = {x: data["x"], y: data["y"]};
                            requestRoute(depart, arrivee);
                        }
                    });
                }
            });

        }

        function requestRoute(depart, arrive) {
            var request = {
                origin: {lat: depart.x, lng: depart.y},
                destination: {lat: arrive.x, lng: arrive.y},
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(result);
                }
            });
        }
        function getURL(id){
            //Récupération de chemin correspondant à la route
            var url = "{{ path("siren_notsiren_map_getCoord", {'id' : 0}) }}";

            //Découpage du chemin pour éliminer l'id à 0
            var table = url.split("/");
            var temp = "";

            for (var i = 0; i < table.length - 1; i++) {
                temp += table[i] + "/";
            }
            //Ajout de la vraie id
            url = temp + id;

            return url;

        }
    </script>
{% endblock %}