page-espece {

    :root {
        --color: #1b9eea;
    }


    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .premier{
        width: 100px;
        height: 100px;
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 10px;
    }

    .textcard{
        color: rgb(7, 6, 6);
        text-align: center;
        padding-bottom: 10px;
        
    }

    .cardpremieracceuil{
        background-color: #fff;
        box-shadow: 3px 3px 5px 6px #ccc;
     }

     .textesacceuil{
        padding-top: 5%;
        font-size: 18px;
        text-align: center;
     }

     /** For well **/
[well]{
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    background-color: #ddd;
}
[well-header]{
    width: 100%;
    padding-left: 120px;
    padding-bottom: 10px;
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
}
[well-body]{

}
[well-body-image]{
    position: absolute;
    margin-top: -39px;
    border-radius: 100%;
    margin-left: 2%;
}
[well-body-image] img{
    width: 80px;
    height: 80px;
}
[well-body-content]{
    width: 100%;
    padding-left: 120px;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 10px;
    font-size: 3vw;
}
[well-body-content] p{

}

/** For well **/
[well]{
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    background-color: #ddd;
}
[well-header]{
    width: 100%;
    padding-left: 120px;
    padding-bottom: 10px;
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
}
[well-body]{

}
[well-body-image]{
    position: absolute;
    margin-top: -39px;
    border-radius: 100%;
    margin-left: 2%;
}
[well-body-image] img{
    width: 80px;
    height: 80px;
}
[well-body-content]{
    width: 100%;
    padding-left: 120px;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 10px;
    font-size: 3vw;
}
[well-body-content] p{

}

.dateheure{
    margin-left: 15px;
    margin-top: 30px;
}

.dateheure2{
    margin-left: 15px;
    margin-top: 10px;
    width: 50%;
    overflow: hidden;
}

.montitre{
    color:  #fff;
}

.dateheure3{
    margin-top: 10px;
    color: red;
    width: 50%;
    overflow: hidden;
}

.dateheuree{

   margin-top: 10px;
   color: red;
   margin-left:10px; 
   margin-right: 10px; 
   padding-left: 3px; 
   padding-right: 3px;
   text-align: justify;
}

.button-float{
  background: var(--color) !important;
  color:white !important;
  z-index: 12 !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  position: fixed;
  bottom: 0px;
  right: 0px; 
  position: absolute;
}

.button-rounded{
  transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

 .floating-menu{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
 }



.observation{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    height: 10%;
    margin-top: 3%;
}

.heure{
    margin-left: 75%; 
    margin-top: 2%; 
    color: var(--color);;
}

.block-img {
  height: 200px;
}

.popup-body textarea{
  background:#e4e6e8 !important;
  height: 120px;
}

.popup-head{

}

.popup-title{
  
}

.popup-buttons{
    
}


.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}

.monbutonvalide{
    margin-top: 30%;  
 }
}
