{# extends "SirenAppBundle:User:dashboard.html.twig" #}

        {% block stylepage %}
           
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css', absolute = true) }}">

            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css', absolute = true) }}">
            <!-- AdminLTE Skins. Choose a skin from the css/skins
                 folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css', absolute = true) }}">
        {% endblock %}

        {% block stat %}
        
         <section class="content">
                         <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xs-12">

                                      <!-- BAR CHART -->
                                      <div class="box box-success">
                                        <div class="box-header with-border">
                                          <div class="row">
                                                <div class="col-md-3 col-lg-3 col-xs-3">
                                                  <h3 class="box-title"><i class="fa fa-line-chart"></i></h3>
                                                </div>
                                                <div class="col-md-9 col-lg-9 col-xs-9">
                                                  <ul class="chart-legend clearfix">
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <li><i class="fa fa-circle-o text-yellow"></i> {{'Nid'|trans}}</li>
                                                    </div><!-- /.col -->
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                      <li><i class="fa fa-circle-o text-green"></i> {{'Carcasse'|trans}}</li>
                                                    </div><!-- /.col -->

                                                    <!-- fix for small devices only -->
                                                    <div class="clearfix visible-sm-block"></div>

                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                      <li><i class="fa fa-circle-o text-light-blue"></i> {{'Individu'|trans}}</li>
                                                    </div><!-- /.col -->
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                      <li><i class="fa fa-circle-o text-aqua"></i> {{'Trace'|trans}}</li>
                                                    </div><!-- /.col -->
                                                   </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                          <div class="chart">
                                            <canvas id="barChart" style="height:430px; width:700px"></canvas>
                                          </div>
                                            <div class="row">
                                              {#<a type="button" class="btn btn-success pull-right" style="margin-right: 5px;" href="{{ path("image_generate", {'resultats': resultats|json_encode(), 'id': 3}) }}"><i class="fa fa-file-image-o"></i> {{'Générer JPG'|trans}}</a>
                                              <a type="button" class="btn btn-success pull-right" style="margin-right: 5px;" href="{{ path("pdf_generate", {resultats: resultats|json_encode(), 'id': 3}) }}"><i class="fa fa-file-pdf-o"></i> {{'Générer PDF'|trans}}</a>#}
                                        </div> 
                                        </div><!-- /.box-body -->
                                        
                                      </div><!-- /.box -->
                                      </div>
                                      <div class="col-md-12 col-lg-12 col-xs-12">
                                      <!-- LINE CHART -->
                                      <div class="box box-info">
                                        <div class="box-header with-border">
                                          <div class="row">
                                                <div class="col-md-3 col-lg-3 col-xs-3">
                                                  <h3 class="box-title"><i class="fa fa-line-chart"></i></h3>
                                                </div>
                                                <div class="col-md-9 col-lg-9 col-xs-9">
                                                  <ul class="chart-legend clearfix">
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <li><i class="fa fa-circle-o text-yellow"></i> {{'Nid'|trans}}</li>
                                                    </div><!-- /.col -->
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                      <li><i class="fa fa-circle-o text-green"></i> {{'Carcasse'|trans}}</li>
                                                    </div><!-- /.col -->

                                                    <!-- fix for small devices only -->
                                                    <div class="clearfix visible-sm-block"></div>

                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                      <li><i class="fa fa-circle-o text-light-blue"></i> {{'Individu'|trans}}</li>
                                                    </div><!-- /.col -->
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                      <li><i class="fa fa-circle-o text-aqua"></i> {{'Trace'|trans}}</li>
                                                    </div><!-- /.col -->
                                                   </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                          <div class="chart">
                                            <canvas id="lineChart" style="height:250px"></canvas>
                                          </div>
                                            <div class="row">
                                            {#<a type="button" class="btn btn-info pull-right" style="margin-right: 5px;" href="{{ path("image_generate", {'resultats': resultats|json_encode(), 'id': 4}) }}"><i class="fa fa-file-image-o"></i> {{'Générer JPG'|trans}}</a>
                                              <a type="button" class="btn btn-info pull-right" style="margin-right: 5px;" href="{{ path("pdf_generate", {resultats: resultats|json_encode(), 'id': 4}) }}"><i class="fa fa-file-pdf-o"></i>{{'Générer PDF'|trans}}</a>#}
                                        </div> 
                                        </div><!-- /.box-body -->
                                        
                                      </div><!-- /.box -->


                                    </div><!-- /.col (RIGHT) -->
                                  </div><!-- /.row -->

                        </section>
                     <!-- /modallll-->
             
        {% endblock %}
        {% block javascripts %}
                <!-- jQuery 2.1.4 -->
                <script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js', absolute = true) }}"></script>
                <!-- Bootstrap 3.3.5 -->
                <script src="{{ asset('bootstrap/js/bootstrap.min.js', absolute = true) }}"></script>
                <!-- ChartJS 1.0.1 -->
                <script src="{{ asset('plugins/chartjs/Chart.min.js', absolute = true) }}"></script>
                <!-- FastClick -->
                <script src="{{ asset('plugins/fastclick/fastclick.min.js', absolute = true) }}"></script>
                <!-- AdminLTE App -->
                <script src="{{ asset('dist/js/app.min.js', absolute = true) }}"></script>
                <!-- AdminLTE for demo purposes -->
                <script src="{{ asset('dist/js/demo.js', absolute = true) }}"></script>
                


             <!-- page script -->
            <script>

              $(function () {
                /* ChartJS
                 * -------
                 * Here we will create a few charts using ChartJS
                 */
                
                // Get context with jQuery - using jQuery's .get() method.
                var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
                // This will get the first returned node in the jQuery collection.
                var lineChart = new Chart(lineChartCanvas);

                var lineChartData = {
                    labels: [
                      {% for key, nouveau in nouveaux %}
                              '{{nouveau.moisAnnee}}',
                      {% endfor %}],
                  datasets: [
                    {
                      label: "Electronics",
                      fillColor: "#f39c12",
                      strokeColor: "#f39c12",
                      pointColor: "#f39c12",
                      pointStrokeColor: "#c1c7d1",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [
                      {% for key, nouveau in nouveaux %}  
                        {{nouveau.Nid}},
                       {% endfor %}]
                    },
                    {
                      label: "Digital Goods",
                      fillColor: "#00a65a",
                      strokeColor: "#00a65a",
                      pointColor: "#00a65a",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: [
                      {% for key, nouveau in nouveaux %}
                       {{nouveau.Carcasse}},
                       {% endfor %}]
                    },
                    {
                      label: "Digital Goods",
                      fillColor: "rgba(60,141,188,0.9)",
                      strokeColor: "rgba(60,141,188,0.8)",
                      pointColor: "#3b8bba",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: [
                       {% for key, nouveau in nouveaux %}
                       {{nouveau.Individu}},
                           {% endfor %}]
                    },
                    {
                      label: "Digital Goods",
                      fillColor: "#00c0ef",
                      strokeColor: "#00c0ef",
                      pointColor: "#00c0ef",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: [
                      {% for key, nouveau in nouveaux %}
                       {{nouveau.Trace}},
                       {% endfor %} ]
                    }
                  ]
                };
                var lineChartOptions = {
                  //  of magnitude down from the lowest value
                  scaleBeginAtZero: true,
                  //Boolean - If we should show the scale at all
                  showScale: true,
                  //Boolean - Whether grid lines are shown across the chart
                  scaleShowGridLines: false,
                  //String - Colour of the grid lines
                  scaleGridLineColor: "rgba(0,0,0,.05)",
                  //Number - Width of the grid lines
                  scaleGridLineWidth: 1,
                  //Boolean - Whether to show horizontal lines (except X axis)
                  scaleShowHorizontalLines: true,
                  //Boolean - Whether to show vertical lines (except Y axis)
                  scaleShowVerticalLines: true,
                  //Boolean - Whether the line is curved between points
                  bezierCurve: true,
                  //Number - Tension of the bezier curve between points
                  bezierCurveTension: 0.3,
                  //Boolean - Whether to show a dot for each point
                  pointDot: false,
                  //Number - Radius of each point dot in pixels
                  pointDotRadius: 4,
                  //Number - Pixel width of point dot stroke
                  pointDotStrokeWidth: 1,
                  //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                  pointHitDetectionRadius: 20,
                  //Boolean - Whether to show a stroke for datasets
                  datasetStroke: true,
                  //Number - Pixel width of dataset stroke
                  datasetStrokeWidth: 2,
                  //Boolean - Whether to fill the dataset with a color
                  datasetFill: false,
                  //String - A legend template
                  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){{'{%'}}><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){{'{%'}}><%=datasets[i].label%><%}%></li><%}%></ul>",
                  //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                  maintainAspectRatio: true,
                  //Boolean - whether to make the chart responsive to window resizing
                  responsive: true
                };

        //Create the line chart
        lineChart.Line(lineChartData, lineChartOptions);

                //-------------
                //- BAR CHART -
                //-------------
                var barChartCanvas = $("#barChart").get(0).getContext("2d");
                var barChart = new Chart(barChartCanvas);
                var barChartData = {
                  
                  labels: [
                      {% for key, nouveau in nouveaux %}
                              '{{nouveau.moisAnnee}}',
                      {% endfor %}],
                  datasets: [
                    {
                      label: "Electronics",
                      fillColor: "#f39c12",
                      strokeColor: "#f39c12",
                      pointColor: "#f39c12",
                      pointStrokeColor: "#c1c7d1",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [
                      {% for key, nouveau in nouveaux %}  
                        {{nouveau.Nid}},
                       {% endfor %}]
                    },
                    {
                      label: "Digital Goods",
                      fillColor: "#00a65a",
                      strokeColor: "#00a65a",
                      pointColor: "#00a65a",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: [
                      {% for key, nouveau in nouveaux %}
                       {{nouveau.Carcasse}},
                       {% endfor %}]
                    },
                    {
                      label: "Digital Goods",
                      fillColor: "rgba(60,141,188,0.9)",
                      strokeColor: "rgba(60,141,188,0.8)",
                      pointColor: "#3b8bba",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: [
                       {% for key, nouveau in nouveaux %}
                       {{nouveau.Individu}},
                           {% endfor %}]
                    },
                    {
                      label: "Digital Goods",
                      fillColor: "#00c0ef",
                      strokeColor: "#00c0ef",
                      pointColor: "#00c0ef",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: [
                      {% for key, nouveau in nouveaux %}
                       {{nouveau.Trace}},
                       {% endfor %} ]
                    }
                  ]
                };

                var barChartOptions = {
                  //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                  scaleBeginAtZero: true,
                  //Boolean - Whether grid lines are shown across the chart
                  scaleShowGridLines: true,
                  //String - Colour of the grid lines
                  scaleGridLineColor: "rgba(0,0,0,.05)",
                  //Number - Width of the grid lines
                  scaleGridLineWidth: 1,
                  //Boolean - Whether to show horizontal lines (except X axis)
                  scaleShowHorizontalLines: true,
                  //Boolean - Whether to show vertical lines (except Y axis)
                  scaleShowVerticalLines: true,
                  //Boolean - If there is a stroke on each bar
                  barShowStroke: true,
                  //Number - Pixel width of the bar stroke
                  barStrokeWidth: 2,
                  //Number - Spacing between each of the X value sets
                  barValueSpacing: 5,
                  //Number - Spacing between data sets within X values
                  barDatasetSpacing: 1,
                  //String - A legend template
                  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){{'{%'}}><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){{'{%'}}><%=datasets[i].label%><%}%></li><%}%></ul>",
                    //Boolean - whether to make the chart responsive
                  responsive: true,
                  maintainAspectRatio: true
                };

                barChartOptions.datasetFill = false;
                barChart.Bar(barChartData, barChartOptions);
              });
            </script>           
        {% endblock %}
