{# extends "SirenAppBundle:User:dashboard.html.twig" #}

        {% block stylepage %}
           
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <!-- AdminLTE Skins. Choose a skin from the css/skins
                 folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
        {% endblock %}

        {% block stat %}
        
         <section class="content">
             <div class="row">
                 <div class="col-md-12 col-lg-12 col-xs-12">

                  <!-- BAR CHART -->
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title"><i class="fa fa-bar-chart"></i></h3>
                      <div class="box-tools pull-right"></div>
                    </div>
                    <div class="box-body">
                      <div class="chart">
                        <canvas id="barChart" style="height:430px; width:700px"></canvas>
                      </div>
                        
                    </div><!-- /.box-body -->

                  </div><!-- /.box -->
                  </div>

          </div><!-- /.row -->

        </section>
                     <!-- /modallll-->
             
        {% endblock %}
        {% block javascripts %}
                <!-- jQuery 2.1.4 -->
                <script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
                <!-- Bootstrap 3.3.5 -->
                <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
                <!-- ChartJS 1.0.1 -->
                <script src="{{ asset('plugins/chartjs/Chart.min.js') }}"></script>
                <!-- FastClick -->
                <script src="{{ asset('plugins/fastclick/fastclick.min.js') }}"></script>
                <!-- AdminLTE App -->
                <script src="{{ asset('dist/js/app.min.js') }}"></script>
                <!-- AdminLTE for demo purposes -->
                <script src="{{ asset('dist/js/demo.js') }}"></script>
                


             <!-- page script -->
            <script>

              $(function () {
                /* ChartJS
                 * -------
                 * Here we will create a few charts using ChartJS
                 */

               

                //-------------
                //- BAR CHART -
                //-------------
                var barChartCanvas = $("#barChart").get(0).getContext("2d");
                var barChart = new Chart(barChartCanvas);
                var barChartData = {
                  labels: [
                      {% for key, resultat in resultats %}
                              '{{resultat.attribut}}',
                      {% endfor %}],
                  datasets: [
                    {
                      label: "Electronics",
                      fillColor: "#00a65a",
                      strokeColor: "#00a65a",
                      pointColor: "#00a65a",
                      pointStrokeColor: "#c1c7d1",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [
                          {% for key, resultat in resultats %}
                              {{resultat.nombre}},
                      {% endfor %} ],
                    }
                  ]
                };

                var barChartOptions = {
                  //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                  scaleBeginAtZero: true,
                  //Boolean - Whether grid lines are shown across the chart
                  scaleShowGridLines: true,
                  //String - Colour of the grid lines
                  scaleGridLineColor: "rgba(0,0,0,.05)",
                  //Number - Width of the grid lines
                  scaleGridLineWidth: 1,
                  //Boolean - Whether to show horizontal lines (except X axis)
                  scaleShowHorizontalLines: true,
                  //Boolean - Whether to show vertical lines (except Y axis)
                  scaleShowVerticalLines: true,
                  //Boolean - If there is a stroke on each bar
                  barShowStroke: true,
                  //Number - Pixel width of the bar stroke
                  barStrokeWidth: 2,
                  //Number - Spacing between each of the X value sets
                  barValueSpacing: 5,
                  //Number - Spacing between data sets within X values
                  barDatasetSpacing: 1,
                  //String - A legend template
                  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){{'{%'}}><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){{'{%'}}><%=datasets[i].label%><%}%></li><%}%></ul>",
                    //Boolean - whether to make the chart responsive
                  responsive: true,
                  maintainAspectRatio: true
                };

                barChartOptions.datasetFill = false;
                barChart.Bar(barChartData, barChartOptions);
              });
            </script>           
        {% endblock %}
