{# extends "SirenAppBundle:User:dashboard.html.twig" #}

        {% block stylepage %}
           
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <!-- AdminLTE Skins. Choose a skin from the css/skins
                 folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
        {% endblock %}

        {% block stat %}
        
                 <!-- Main content -->
                <section class="content">

                  <div class="error-page">
                    <h2 class="headline text-red">ECHEC</h2>
                    <div class='row'>
                    <div class="error-content">
                      <h3><i class="fa fa-warning text-red"></i> {{'Oops! Pas de résultat'|trans}} </h3>
                      <p>
                        {{'Veillez réajuster la date'|trans}}.
                        {{'Pour continuer ou'|trans}} <a href="{{ path("SirenTortue_homepage") }}">{%trans%} retourner à la page d'accueil{% endtrans%}</a> 
                      </p>
                      </div>
                    </div>
                  </div><!-- /.error-page -->

                </section><!-- /.content -->
             
        {% endblock %}
        {% block javascripts %}
                <!-- jQuery 2.1.4 -->
                <script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
                <!-- Bootstrap 3.3.5 -->
                <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
                
                <!-- FastClick -->
                <script src="{{ asset('plugins/fastclick/fastclick.min.js') }}"></script>
                <!-- AdminLTE App -->
                <script src="{{ asset('dist/js/app.min.js') }}"></script>
                <!-- AdminLTE for demo purposes -->
                <script src="{{ asset('dist/js/demo.js') }}"></script>
                


                     
        {% endblock %}

