{% extends "::layout.html.twig" %}

{% block title %}{{ 'Exportation de données'|trans }}{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} "
                         style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white"
                     style="margin-top:15px;">{{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{ 'MENU PROJET'|trans }}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                {% if auteur %}
                    <a class="mdl-navigation__link navlink"
                       href="{{ path("siren_user_projet_question") }}">{{ 'Questions du Projet'|trans }}</a>
                {% endif %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_export") }}">{{ 'Exportation de données'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_site") }}">{{ 'Sites du Projet'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">{{ 'Patrouilles'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet") }}">{{ 'Retour à mes Projets'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{ 'Retour au menu principal'|trans }}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons"
                                                                                                 style="margin-right:5px;">home</i>{{ 'Accueil'|trans }}
            </a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i
                        class="material-icons"
                        style="margin-right:5px;">exit_to_app</i><span>{{ 'Déconnexion'|trans }}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %}

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>

            <div class="mdl-cell mdl-cell--9-col mdl-grid type">
                <div class="mdl-cell mdl-cell--3-col"></div>
                <div class="mdl-cell mdl-cell--6-col mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__title" style="text-align: center">
                            <h4 class="mdl-card__title-text">{{ 'Paramètres de l\'exportation'|trans }}</h4>
                        </div>
                    </div>
                    <form target="_blank" class="mdl-cell mdl-cell--12-col mdl-grid" method="post" action="{{ path("siren_user_projet_export_getfile") }}">
                        <div class="mdl-cell mdl-cell--12-col">
                            <select id="type" name="type" required>
                                <option value="" disabled selected>{{'Données à exporter'|trans}}</option>
                                <option value="patrouille">{{'Patrouilles'|trans}}</option>
                                <option value="observation">{{'Observations'|trans}}</option>
                            </select>
                            <label>{{'Données à exporter'|trans}}</label>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input date" type="text" id="dateDebut" name="dateDebut" />
                            <label class="mdl-textfield__label" for="dateDebut">{{'Date de Début'|trans}}</label>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input date" type="text" id="dateFin" name="dateFin" />
                            <label class="mdl-textfield__label" for="dateFin">{{'Date de Fin'|trans}}</label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--12-col" align="center">
                            <button type="submit" name="export" id="export" class="mdl-color--teal-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                {{ 'Exporter'|trans() }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                $('select').material_select();

                $("#export").click(function (e) {
                    $('select').material_select("destroy");
                    if($("#type").val() === null) {
                       e.preventDefault();
                       Materialize.toast("{% trans %}Choisissez un type de données svp{% endtrans %}", 3000, 'rounded');
                   }
                    $('select').material_select();
                });

                $('.date').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    monthsFull: ["{{'Janvier'|trans  }}", "{{'Février'|trans  }}", "{{'Mars'|trans  }}", "{{'Avril'|trans  }}", "{{'Mai'|trans  }}", "{{'Juin'|trans  }}", "{{'Juillet'|trans  }}", "{{'Août'|trans  }}", "{{'Septembre'|trans  }}", "{{'Octobre'|trans  }}", "{{'Novembre'|trans  }}", "{{'Décembre'|trans  }}"],
                    monthsShort: ["{{'Jan'|trans  }}", "{{'Feb'|trans  }}", "{{'Mar'|trans  }}", "{{'Avr'|trans  }}", "{{'Mai'|trans  }}", "{{'Juin'|trans  }}", "{{'Juil'|trans  }}", "{{'Août'|trans  }}", "{{'Sep'|trans  }}", "{{'Oct'|trans  }}", "{{'Nov'|trans  }}", "{{'Dec'|trans  }}"],
                    weekdaysFull: ["{{'Dimanche'|trans  }}", "{{'Lundi'|trans  }}", "{{'Mardi'|trans  }}", "{{'Mercredi'|trans  }}", "{{'Jeudi'|trans  }}", "{{'Vendredi'|trans  }}", "{{'Samedi'|trans  }}"],
                    weekdaysShort: ["{{'Dim'|trans  }}", "{{'Lun'|trans  }}", "{{'Mar'|trans  }}", "{{'Mer'|trans  }}", "{{'Jeu'|trans  }}", "{{'Ven'|trans  }}", "{{'Sam'|trans  }}"],
                    showMonthsShort: false,
                    showWeekdaysFull: false,
                    format: 'dd/mm/yyyy',
                    today: "{{'Aujour.'|trans  }}",
                    clear: "{{'Supp.'|trans  }}",
                    close: "{{'Fermer'|trans  }}",
                    // Accessibility labels
                    labelMonthNext: "{{'Mois suivant'|trans  }}",
                    labelMonthPrev: "{{'Mois précédent'|trans  }}",
                    labelMonthSelect: "{{'Sélectionner un mois'|trans  }}",
                    labelYearSelect: "{{'Sélectionner une année'|trans  }}"
                });

            });
        </script>

    {% endblock %}
