{% extends "::layout.html.twig" %}

{% block title %} {{'Questions - Projet'|trans}} {% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">

            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} " style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.nom }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white"> {{'MENU PROJET'|trans}} </div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                {% if auteur %}
                    <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_question") }}">{{'Questions du Projet'|trans}}</a>
                {% endif %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_export") }}">{{ 'Exportation de données'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_site") }}">{{ 'Sites du Projet'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">{{'Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet") }}">{{'Retour à mes Projets'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{'Retour au menu principal'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i> {{'Accueil'|trans}} </a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span> {{'Déconnexion'|trans}} </span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>

            <div class="mdl-cell mdl-cell--9-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col" >
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{'Liste des Questions'|trans}} </h2>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a class="waves-effect waves-light btn right teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Ajouter un question" href="#modalQuestion" id="newQuestion" ><i class="material-icons">add</i></a>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" >
                        <div class="mdl-grid" >
                            <ul class="mdl-cell mdl-cell--12-col collapsible popout" data-collapsible="accordion">
                                {% for question in liste_questions %}
                                    <li id="quest-{{ question.id }}">
                                        <div class="collapsible-header">
                                            <i class="material-icons">help</i> {{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}

                                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete question right" id="del-{{ question.id }}"><i class="material-icons">delete</i></a>
                                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon modif question right" id="modif-{{ question.id }}"><i class="material-icons">edit</i></a>

                                        </div>
                                        <div class="collapsible-body mdl-grid">

                                            <div class="mdl-cell mdl-cell--12-col">
                                                <div class="mdl-layout-spacer"></div>
                                                <a class="waves-effect waves-light btn right teal tooltipped modal-trigger new reponse" data-position="bottom" data-delay="50" data-tooltip="Ajouter une reponse" href="#modalReponse" id="forquest-{{ question.id }}" ><i class="material-icons">add</i></a>
                                            </div>
                                            <ul class="collapsible mdl-cell mdl-cell--12-col" data-collapsible="expandable">
                                                {% for reponse in question.reponses %}
                                                    <li id="reponse-{{ reponse.id }}">
                                                        <div class="collapsible-header">
                                                            <i class="material-icons">question_answer</i>{{ reponse.valeur(app.request.attributes.get('_locale')) }}

                                                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete reponse right" id="del-{{ reponse.id }}"><i class="material-icons">delete</i></a>
                                                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon modif reponse right" id="modif-{{ reponse.id }}"><i class="material-icons">edit</i></a>
                                                        </div>
                                                        <div class="collapsible-body" style="padding: 15px;">{{ reponse.valeur(app.request.attributes.get('_locale')) }}</div>
                                                    </li>
                                                {% else %}
                                                    <li> {{'Pas de réponses trouvées'|trans}} .</li>
                                                    {% endfor %}
                                            </ul>
                                        </div>
                                    </li>



                                    <!--<div class="mdl-cell mdl-cell--3-col demo-card-event mdl-card mdl-shadow--9dp mdl-color--cyan-700 question"
                                    {#{% if question.image is not null %}
                                        style="cursor:pointer; background: url('{{ asset(question.image.webPath) }}') center / cover;"
                                    {% endif %}#}
                                    >
                                   <div class="mdl-card__title mdl-card--expand mdl-color-text--white">
                                       <h5>
                                           question :<br/><br/> <br/>
                                </h5>
                            </div>
                            <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect modifQuestion mdl-color-text--white" id="{{ question.id }}">
                                    Modifier
                                </a>
                                    {#<div class="mdl-layout-spacer"></div>#}
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del{{ question.id }}"><i class="material-icons">delete</i></a>
                                </div>
                            </div>-->
                                {% else %}
                                    <li> {{'Pas de questions trouvées'|trans}} .</li>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}

        <div id="modalQuestion" class="modal modal-fixed-footer">
            {{ form_start(form, {'method': 'post', 'action': path('siren_user_projet_question_new', {'projet': 1}), 'attr': {'id': 'formQuestion', 'class' : 'form question' }}) }}
                <div class="modal-content">
                    <h4 id="titreQuestion"> {% trans %} Enregistrement d'une question {% endtrans %} </h4>
                    <span> * : {{'Champs Obligatoires'|trans}} </span><hr/>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.titre_fr, {'id' : 'titre_fr', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.titre_fr, "Titre de la Question en Français *", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.titre_fr) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.titre_en, {'id' : 'titre_en', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.titre_en, "Titre de la Question en Anglais *", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.titre_en) }}</span>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.code, {'id' : 'codeQuest', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.code, "Code *", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.code) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col input-field" id="divType">
                            {{ form_widget(form.type, {'id' : 'typeQuest' }) }}
                            {{ form_label(form.type, "Quel est le type de question ? *", {'label_attr': {'for': 'typeQuestion'}}) }}
                        </div>

                        <div class="mdl-cell mdl-cell--12-col input-field" id="divCat">
                            {{ form_widget(form.categorie, {'id' : 'catQuest' }) }}
                            {{ form_label(form.categorie, "Sélectionner une catégorie *", {'label_attr': {'for': 'catQuest'}}) }}
                        </div>
                        <div class="mdl-cell mdl-cell--12-col file-field input-field mdl-grid">
                            <div class="mdl-cell mdl-cell--2-col btn cyan mdl-color-text--white" id="divImageQuest">
                                <span class="mdl-color-text--white" id="labelImageQuest">Image</span>
                                {{ form_widget(form.image, {'id' : 'imQuest'}) }}
                            </div>
                            <div class="mdl-cell mdl-cell--10-col file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn teal send" type="submit" name="send"><i class="material-icons right">send</i><span class="btSend"> {{'Enregistrer'|trans}} </span></button>
                    <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i> {{'Annuler'|trans}} </button>
                </div>

                <input type='hidden' id="pathgetQuest" value="{{ path("siren_user_projet_question_get", {'id' : '1'}) }}" />
                <input type='hidden' id="pathmodifQuest" value="{{ path("siren_user_projet_question_modif", {'id' : '1', 'projet': 1}) }}" />
                <input type='hidden' id="pathdelQuest" value="{{ path("siren_user_projet_question_delete", {'id' : '1'}) }}" />
            {{ form_end(form) }}
        </div>


        <div id="modalReponse" class="modal modal-fixed-footer">
            {{ form_start(formRep, {'method': 'post', 'action': path('siren_user_projet_reponse_new', {'projet': 1}), 'attr': {'id': 'formReponse', 'class' : 'form reponse' }}) }}
                <div class="modal-content">
                    <h4 id="titreReponse"> {% trans %} Enregistrement d'une réponse {% endtrans %} </h4>
                    <span> * : {{'Champs Obligatoires'|trans}} </span><hr/>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(formRep.valeur_fr, {'id' : 'valeur_fr', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(formRep.valeur_fr, "Réponse en Français *", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(formRep.valeur_fr) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(formRep.valeur_en, {'id' : 'valeur_en', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(formRep.valeur_en, "Réponse en Anglais *", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(formRep.valeur_en) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col input-field" id="divQuest">
                            {{ form_widget(formRep.question, {'id' : 'questRep' }) }}
                            {{ form_label(formRep.question, "Question Correspondante : *", {'label_attr': {'for': 'questRep'}}) }}
                        </div>
                        
                        <div class="mdl-grid mdl-cell mdl-cell--12-col">
                            <div class="mdl-cell mdl-cell--12-col">
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="sautCheck">
                                    <input type="checkbox" id="sautCheck" class="mdl-switch__input" name="sautCheck">
                                    <span class="mdl-switch__label">Saut</span>
                                 </label>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col input-field" id="divQuestSuiv">
                                {{ form_widget(formRep.questionSuivante, {'id' : 'questSuiv' }) }}
                                {{ form_label(formRep.questionSuivante, "Quelle est la question suivante ? *", {'label_attr': {'for': 'typeQuestion'}}) }}
                            </div>
                            <div class="mdl-cell mdl-cell--12-col" id="sauts">
                                <input type="hidden" name="nbSauts" value="1" id="nbSauts" />
                      		<div class="mdl-grid" id="mesSauts">
                                    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo divSaut1">
                                        <input class="mdl-textfield__input required position" type="text" name="position1" id="position1" value="1"/>
                                        <label class="mdl-textfield__label" for="position1">Position *</label>
                                    </div>
                                    
                                     <div class="mdl-cell mdl-cell--10-col input-field divSaut1" id="divQuestSaut1">
                                        <select id="quesSaut1" class="" name="quesSaut1">
                                            <option value="" disabled selected> {{'Choisir la question'|trans}} </option>
                                            {% for question in liste_questions %}
                                                <option value="{{ question.id }}">{{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}</option>
                                            {% endfor %}
                                        </select>
                                        <label> {{'La question'|trans}} </label>
                                    </div>
                                     <div class="mdl-cell mdl-cell--1-col divSaut1">
                                             <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped addQuestion" data-position="bottom" data-delay="50" data-tooltip="ajouter une nouvelle question" id="add1"><i class="material-icons">add</i></a>
                                          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped delQuestion" data-position="bottom" data-delay="50" data-tooltip="supprimer cette question" id="del1"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-grid mdl-cell mdl-cell--12-col">
                            <div class="mdl-cell mdl-cell--12-col">
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="suggCheck">
                                    <input type="checkbox" id="suggCheck" class="mdl-switch__input" name="suggCheck">
                                    <span class="mdl-switch__label"> {{'Est ce que cette réponse peut être sugérée'|trans}} ?</span>
                                 </label>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col" id="suggs">
                                <input type="hidden" name="nbSuggs" value="1" id="nbSuggs" />
                      		<div class="mdl-grid" id="mesSuggs">
                                    <div class="mdl-cell mdl-cell--6-col input-field divSugg1" id="divQuestSugg1">
                                        <select id="quesSugg1" class="questSugg" name="quesSugg1">
                                            <option value="" disabled selected> {{'Question qui provoque la suggestion'|trans}} </option>
                                            {% for question in liste_questions %}
                                                <option value="{{ question.id }}">{{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}</option>
                                            {% endfor %}
                                        </select>
                                        <label> {{'Question qui provoque la suggestion'|trans}} </label>
                                    </div>
                                     <div class="mdl-cell mdl-cell--5-col input-field divSugg1" id="divRespSugg1">
                                        <select id="respSugg1" class="respSugg" name="respSugg1">
                                            <option value="" disabled selected> {{'La réponse qui entraine cette suggestion'|trans}} </option>
                                        </select>
                                        <label> {{'La réponse qui entraine cette suggestion'|trans}} </label>
                                    </div>
                                     <div class="mdl-cell mdl-cell--1-col divSugg1">
                                          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped addSuggestion" data-position="bottom" data-delay="50" data-tooltip="ajouter une nouvelle question" id="add1"><i class="material-icons">add</i></a>
                                          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped delSuggestion" data-position="bottom" data-delay="50" data-tooltip="supprimer cette question" id="del1"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col file-field input-field mdl-grid">
                            <div class="mdl-cell mdl-cell--2-col btn cyan mdl-color-text--white" id="divImage">
                                <span class="mdl-color-text--white" id="labelImage">Image</span>
                                {{ form_widget(formRep.image, {'id' : 'imRep'}) }}
                            </div>
                            <div class="mdl-cell mdl-cell--10-col file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn teal send" type="submit" name="send"><i class="material-icons right">send</i><span class="btSend"> {{'Enregistrer'|trans}}</span></button>
                    <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
                </div>
                <input type='hidden' id="pathgetRepQuest" value="{{ path("siren_user_projet_reponses_question_get", {'id' : '1'}) }}" />
                <input type='hidden' id="pathgetRep" value="{{ path("siren_user_projet_reponse_get", {'id' : '1'}) }}" />
                <input type='hidden' id="pathmodifRep" value="{{ path("siren_user_projet_reponse_modif", {'id' : '1', 'projet': 1}) }}" />
                <input type='hidden' id="pathdelRep" value="{{ path("siren_user_projet_reponse_delete", {'id' : '1'}) }}" />
            {{ form_end(formRep) }}
        </div>

    {% endblock %}
    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                $($($("#imQuest").children()[0]).children()[0]).remove();
                $($($("#imRep").children()[0]).children()[0]).remove();
                $('select').material_select();
                $('.modal').modal();

                $("input[type='file']").removeAttr("required");
                $("input[type='file']").attr("accept", "image/*");
                $("#sauts").hide();
                $("#suggs").hide();
                $("#divQuestSuiv").show();
                
                $(".new").click(function(e){
                    
                    $("input[type='text']").parent().removeClass("is-dirty");
                    $("input[type='text']").val("");
                    
                    $(".btSend").text("{{ 'Enregistrer'|trans }}");
                    $(".send").attr("name", "send");

                    if($(this).hasClass("question"))
                    {
                        
                        $("#typeQuest").addClass("required");
                        $("#divType div").removeClass("required");
                        
                        $("#catQuest").addClass("required");
                        $("#divCat div").removeClass("required");
                        $("#formQuestion").attr("action", "{{ path('siren_user_projet_question_new', {'projet': 1}) }}");
                    }
                    else
                    {
                        $("#position1").val("1");
                        $("#position1").parent().addClass("is-dirty");
                        var tabid = $(this).attr("id").split("-");
                        var id = tabid[tabid.length-1];
                        //alert(id);
                        $('#questRep').material_select('destroy');
                        $("#questRep").val(id);
                        $("#questRep").attr("disabled", "true");
                        $('#questRep').material_select();
                        $("#formReponse").attr("action", "{{ path('siren_user_projet_reponse_new', {'projet': 1}) }}");
                        
                        resetReponse();
                    }
                    
                });
                
                $(".modif").click(function(e){
                    
                    var tabid = $(this).attr("id").split("-");
                    var id = tabid[tabid.length-1];
                    
                    var pathget = $("#pathget").val();
                    var pathmodif = $("#pathmodif").val();

                    if($(this).hasClass("question")){
                       pathget = $("#pathgetQuest").val();
                       pathmodif = $("#pathmodifQuest").val();
                    }
                    else{
                        $("#position1").val("1");
                        $("#position1").parent().addClass("is-dirty");
                        
                        pathget = $("#pathgetRep").val();
                        pathmodif = $("#pathmodifRep").val();
                    }
                        
                    var table = pathget.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + id;

                    table = pathmodif.split("/");
                    vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathmodif = vals + id + "?projet=1";
                    
                    if($(this).hasClass("question"))
                    {
                        
                        $('select').material_select('destroy');
                        $("#formQuestion").attr("action", pathmodif);
                        //$("#idCategorie").val(id);
                        $.getJSON(pathget, function(data){
                            $(".btSend").text("{{ 'Modifier'|trans }}");
                            $(".send").attr("name", "modif");

                            $("#titre_fr").val(data["titre_fr"]);
                            $("#titre_en").val(data["titre_en"]);
                            $("#codeQuest").val(data["code"]);
                            $("#typeQuest").val(data["type"]);
                            
                            $("#catQuest").val(data["categorie"]);
                            $('select').material_select();

                            $("#titre_fr").parent().addClass("is-dirty");
                            $("#titre_en").parent().addClass("is-dirty");
                            $("#codeQuest").parent().addClass("is-dirty");
                        });
                        $('#modalQuestion').modal("open");
                    }
                    else
                    {
                        $("#formReponse").attr("action", pathmodif);
                        
                        resetReponse();
                        
                        //$("#idQuestion").val(id);
                        $.getJSON(pathget, function(data){
                            $(".btSend").text("Modifier");
                            $(".send").attr("name", "modif");

                            $("#valeur_fr").val(data["valeur_fr"]);
                            $("#valeur_en").val(data["valeur_en"]);
                          
                            $('select').material_select('destroy');
                            if(data["sautCheck"] === true){
                                $("#sautCheck").prop('checked', true);
                                $("#sautCheck").parent().addClass("is-checked");
                                $("#sauts").show();
                                $("#divQuestSuiv").hide();
                                for(var i = 0; i< data["saut"]["nb"]; i++){
                                    $("#position" + (i+1)).val(data["saut"][i]["position"]);
                                    $("#quesSaut" + (i+1)).val(data["saut"][i]["id"]);
                                    if(i < (data["saut"]["nb"] - 1))
                                        clickAddSaut($($(".addQuestion")[i]));
                                }
                            }
                            else{
                                $("#sautCheck").prop('checked', false);
                                $("#sautCheck").parent().removeClass("is-checked");
                                $("#sauts").hide();
                                $("#divQuestSuiv").show();
                                $("#questSuiv").val(data["questSuiv"]);
                            }
                            $("#questRep").val(data["questRep"]);
                            $("#questRep").attr("disabled", "true");
                            
                            if(data["suggCheck"] === true){
                                $("#suggCheck").prop('checked', true);
                                $("#suggCheck").parent().addClass("is-checked");
                                $("#suggs").show();
                                for(var i = 0; i< data["sugg"]["nb"]; i++){
                                    $("#quesSugg" + (i+1)).val(data["sugg"][i]["question"]);
                                    //alert(data["sugg"][i]["reponse"]);
                                    changeSugg($("#quesSugg" + (i+1)), data["sugg"][i]["reponse"]);
                                    //$("#respSugg" + (i+1)).val();
                                    //alert($("#respSugg" + (i+1)).val());
                                    if(i < (data["sugg"]["nb"] - 1))
                                        clickAddSugg($($(".addSuggestion")[i]));
                                }
                            }
                            else{
                                $("#suggCheck").prop('checked', false);
                                $("#suggCheck").parent().removeClass("is-checked");
                                $("#suggs").hide();
                            }
                            
                            $('select').material_select();

                            $("#valeur_fr").parent().addClass("is-dirty");
                            $("#valeur_en").parent().addClass("is-dirty");
                        });
                        $('#modalReponse').modal("open");
                    }

                });

                $("#sautCheck").change(function(e){
                    if($(this).is(":checked")){
                        $("#divQuestSuiv").hide();
                        $("#sauts").show();
                        
                        $(".delQuestion").click(forDelSaut);
                        $('.addQuestion').click(forAddSaut);
                    }
                    else{
                        $("#sauts").hide();
                        $("#divQuestSuiv").show();
                    }
                });
              
                $("#suggCheck").change(function(e){
                    if($(this).is(":checked")){
                        $("#suggs").show();
                        
                        $(".delSuggestion").click(forDelSugg);

                        $('.addSuggestion').click(forAddSugg);
                    }
                    else{
                        $("#suggs").hide();
                    }
                });
                
                $(".questSugg").change(forChangeQuesSug);

                $(".delete").click(function(e){
                    var id = $(this).attr("id").substr(4);
                    var type = $(this).hasClass("reponse")?"reponse":"question";
                    var pathdel = ""
                    if(type === "reponse"){
                        pathdel = $("#pathdelRep").val();
                    }else
                        pathdel = $("#pathdelQuest").val();
                    
                    var table = pathdel.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathdel = vals + id;
                    $.getJSON(pathdel, function(data){
                        Materialize.toast("Suppression réussie", 3000, 'rounded');
                    });
                    $(this).parent().parent().remove();
                });

                $(".form").submit(function (e) {
                    $("select").removeAttr("disabled");
                    
                    var block = false;
                    if($(this).hasClass("question"))
                    {
                        $(".question.required").each(function(){
                            if($(this).val()=="")
                            {
                                e.preventDefault();
                                block = true;
                            }
                        });
                        if (block)
                        {
                           setTimeout(function () {
                                $('#modalQuestion').modal("open");
                            }, 500);
                            Materialize.toast("Remplissez tous les champs requis svp", 3000, 'rounded');
                        }
                    }
                    else
                    {
                        $(".reponse.required").each(function(){
                            if($(this).val()=="")
                            {
                                e.preventDefault();
                                block = true;
                            }
                        });
                        if (block)
                        {
                           setTimeout(function () {
                                $('#modalReponse').modal("open");
                            }, 500);
                            Materialize.toast("Remplissez tous les champs requis svp", 3000, 'rounded');
                        }
                    }

                    
                });
                
                $(".delQuestion").click(forDelSaut);
                $('.addQuestion').click(forAddSaut);
                
                $(".delSuggestion").click(forDelSugg);
                $('.addSuggestion').click(forAddSugg);
                
                var forChangeQuesSug = function(e){
                    var id = $(this).val();
                    
                    var classes = $(this).parent().parent().attr("class").split(/\s/);
                    var value = "";
                    for(var k=0; k<classes.length; k++)
                    {
                            //alert(classes[k]);
                            var regex = new RegExp("^divSugg([0-9])*$");

                            if(regex.test(classes[k]))
                            {
                                    value = classes[k];
                                    break;
                            }
                    }
                                                       
                    var objRep = $($($($("." + value)[1]).children()[0]).children()[3]);
                    
                    
                    var pathgetRep = $("#pathgetRepQuest").val();
                   
                    
                    var table = pathgetRep.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathgetRep = vals + id;
                    $.getJSON(pathgetRep, function(data){
                        objRep.material_select("destroy");
                        var html = '<option value="" disabled selected>La réponse qui entraine cette suggestion</option>';
                        for(var i = 0; i< data["nbReponses"]; i++){
                            html += '<option value="' + data["reponse"][i]["id"] + '">' + data["reponse"][i]["valeur"] + '</option>';
                        }
                        objRep.html(html);
                        objRep.material_select();
                    });
                };
                
                var forDelSugg = function(e){
                                var num = $(this).attr("id").substr(3, $(this).attr("id").length);
                                var nbTotal = $("#nbSuggs").val();

                                if(nbTotal-1==0)
                                {
                                        $('.divSugg' + num + ' select').val("");
                                }
                                else
                                {	$('.divSugg' + num).remove();
                                        $("#nbSuggs").val(nbTotal-1);

                                        var nbDivSauts = $("#mesSuggs").children().length;
                                        var i = 1;
                                        var nb = 0;

                                        for(var j=0; j<nbDivSauts; j++)
                                        {
                                                //alert(j);
                                                nb++;
                                                if(nb<3)
                                                {
                                                        var classes = $($("#mesSuggs").children()[j]).attr("class").split(/\s/);
                                                        //alert(classes.length);
                                                        var value = "";
                                                        for(var k=0; k<classes.length; k++)
                                                        {
                                                                //alert(classes[k]);
                                                                var regex = new RegExp("^divSugg([0-9])*$");

                                                                if(regex.test(classes[k]))
                                                                {
                                                                        value = classes[k];
                                                                        break;
                                                                }
                                                        }

                                                        $($("#mesSuggs").children()[j]).removeClass(value).addClass('divSugg'+i);
                                                        //String.s
                                                        /*if($($($("#mesSauts").children()[j]).children()[0]).is("input"))
                                                        {
                                                            $($($("#mesSauts").children()[j]).children()[0]).attr("id", $($($("#mesSauts").children()[j]).children()[0]).attr("id").substring(0, 8)+ i);

                                                            $($($("#mesSauts").children()[j]).children()[0]).attr("name", $($($("#mesSauts").children()[j]).children()[0]).attr("name").substring(0, 8)+i);
                                                            $($($("#mesSauts").children()[j]).children()[1]).attr("for", $($($("#mesSauts").children()[j]).children()[1]).attr("for").substring(0, 8)+i);
                                                        }
                                                        else{*/
                                                            $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("id", $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("id").substring(0, 8)+ i);
                                                            $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("name", $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("name").substring(0, 8)+i);
                                                        //}
                                                        //alert("x");
                                                        //i++;
                                                }
                                                else if(nb == 3){
                                                    var classes = $($("#mesSuggs").children()[j]).attr("class").split(/\s/);
                                                    //alert(classes.length);
                                                    var value = "";
                                                    for(var k=0; k<classes.length; k++)
                                                    {
                                                            //alert(classes[k]);
                                                            var regex = new RegExp("^divSugg([0-9])*$");

                                                            if(regex.test(classes[k]))
                                                            {
                                                                    value = classes[k];
                                                                    break;
                                                            }
                                                    }
                                                    $($("#mesSuggs").children()[j]).removeClass(value).addClass('divSugg'+i);
                                                    $($($("#mesSuggs").children()[j]).children()[0]).attr("id", $($($("#mesSuggs").children()[j]).children()[0]).attr("id").substring(0, 3)+ i);
                                                    $($($("#mesSuggs").children()[j]).children()[1]).attr("id", $($($("#mesSuggs").children()[j]).children()[1]).attr("id").substring(0, 3)+ i);
                                                }
                                                else
                                                {
                                                        i++;
                                                        nb=1;
                                                        var classes = $($("#mesSuggs").children()[j]).attr("class").split(/\s/);
                                                        var value = "";
                                                        for(var k=0; k<classes.length; k++)
                                                        {
                                                                //alert(classes[k]);
                                                                var regex = new RegExp("^divSugg([0-9])*$");

                                                                if(regex.test(classes[k]))
                                                                {
                                                                        value = classes[k];
                                                                        break;
                                                                }
                                                        }
                                                        $($($("#mesSuggs").children()[j]).children()[0]).val(i);
                                                        $($("#mesSuggs").children()[j]).removeClass(value).addClass('divSugg'+i);
                                                        $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("id", $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("id").substring(0, 8)+ i);
                                                        $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("name", $($($($("#mesSuggs").children()[j]).children()[0]).children()[3]).attr("name").substring(0, 8)+i);
                                                }
                                        }
                                        
                                }
                        };
                        
                var forAddSugg = function(e){
                            
                                var num = $(this).attr("id").substr(3, $(this).attr("id").length);
                                var nbTotal = $("#nbSuggs").val();
                                var next = parseInt(nbTotal) + 1;
                                $('#mesSuggs').append('<div class="mdl-cell mdl-cell--6-col input-field divSugg' + next + '" id="divQuestSugg' + next + '">'+
                                                            '<select id="quesSugg1" class="questSugg" name="quesSugg' + next + '">'+
                                                                '<option value="" disabled selected>Question qui provoque la suggestion</option>'+
                                                                {% for question in liste_questions %}
                                                                    '<option value="{{ question.id }}">{{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}</option>'+
                                                                {% endfor %}
                                                            '</select>'+
                                                            '<label>Question qui provoque la suggestion</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--5-col input-field divSugg' + next + '" id="divRespSugg' + next + '">'+
                                                            '<select id="respSugg' + next + '" class="respSugg" name="respSugg' + next + '">'+
                                                                '<option value="" disabled selected>La réponse qui entraine cette suggestion</option>'+
                                                            '</select>'+
                                                            '<label>La réponse qui entraine cette suggestion</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--1-col divSugg' + next + '">'+
                                                              '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped addSuggestion" data-position="bottom" data-delay="50" data-tooltip="ajouter une nouvelle question" id="add' + next + '"><i class="material-icons">add</i></a>'+
                                                              '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped delSuggestion" data-position="bottom" data-delay="50" data-tooltip="supprimer cette question" id="del' + next + '"><i class="material-icons">delete</i></a>'+
                                                        '</div>');
                                        $("#nbSuggs").val(next);

                                       /* $(".newInput").off('focus', setFocus);
                                        $('.newInput').focus(setFocus);*/

                                        //$(".newInput").off('blur', setBlur);
                                        //$('.newInput').focus(setBlur);
                                        $('.delSuggestion').off('click', forDelSugg);
                                        $(".delSuggestion").click(forDelSugg);
                                        //window.location.reload();
                                        $('.addSuggestion').off('click', forAddSugg);
                                        $('.addSuggestion').click(forAddSugg);
                                        
                                        $('select').material_select();

                        };
                        
                
                var forDelSaut = function(e){
                        var num = $(this).attr("id").substr(3, $(this).attr("id").length);
                        var nbTotal = $("#nbSauts").val();

                        if(nbTotal-1==0)
                        {
                                $('.divSaut' + num + ' input').val("");
                        }
                        else
                        {	$('.divSaut' + num).remove();
                                $("#nbSauts").val(nbTotal-1);

                                var nbDivSauts = $("#mesSauts").children().length;
                                var i = 1;
                                var nb = 0;

                                for(var j=0; j<nbDivSauts; j++)
                                {
                                        //alert(j);
                                        nb++;
                                        if(nb<3)
                                        {
                                                var classes = $($("#mesSauts").children()[j]).attr("class").split(/\s/);
                                                //alert(classes.length);
                                                var value = "";
                                                for(var k=0; k<classes.length; k++)
                                                {
                                                        //alert(classes[k]);
                                                        var regex = new RegExp("^divSaut([0-9])*$");

                                                        if(regex.test(classes[k]))
                                                        {
                                                                value = classes[k];
                                                                break;
                                                        }
                                                }

                                                //
                                                if(nb==1)
                                                    $($($("#mesSauts").children()[j]).children()[0]).val(i);
                                                $($("#mesSauts").children()[j]).removeClass(value).addClass('divSaut'+i);
                                                //String.s
                                                if($($($("#mesSauts").children()[j]).children()[0]).is("input"))
                                                {
                                                    $($($("#mesSauts").children()[j]).children()[0]).attr("id", $($($("#mesSauts").children()[j]).children()[0]).attr("id").substring(0, 8)+ i);

                                                    $($($("#mesSauts").children()[j]).children()[0]).attr("name", $($($("#mesSauts").children()[j]).children()[0]).attr("name").substring(0, 8)+i);
                                                    $($($("#mesSauts").children()[j]).children()[1]).attr("for", $($($("#mesSauts").children()[j]).children()[1]).attr("for").substring(0, 8)+i);
                                                }
                                                else{
                                                    $($($($("#mesSauts").children()[j]).children()[0]).children()[3]).attr("id", $($($($("#mesSauts").children()[j]).children()[0]).children()[3]).attr("id").substring(0, 8)+ i);
                                                    //alert($($($($("#mesSauts").children()[j]).children()[0]).children()[3]).attr("id"));
                                                    $($($($("#mesSauts").children()[j]).children()[0]).children()[3]).attr("name", $($($($("#mesSauts").children()[j]).children()[0]).children()[3]).attr("name").substring(0, 8)+i);
                                                }
                                                //alert("x");
                                                //i++;
                                        }
                                        else if(nb == 3){
                                            var classes = $($("#mesSauts").children()[j]).attr("class").split(/\s/);
                                            //alert(classes.length);
                                            var value = "";
                                            for(var k=0; k<classes.length; k++)
                                            {
                                                    //alert(classes[k]);
                                                    var regex = new RegExp("^divSaut([0-9])*$");

                                                    if(regex.test(classes[k]))
                                                    {
                                                            value = classes[k];
                                                            break;
                                                    }
                                            }
                                            $($("#mesSauts").children()[j]).removeClass(value).addClass('divSaut'+i);

                                            $($($("#mesSauts").children()[j]).children()[0]).attr("id", $($($("#mesSauts").children()[j]).children()[0]).attr("id").substring(0, 3)+ i);
                                            $($($("#mesSauts").children()[j]).children()[1]).attr("id", $($($("#mesSauts").children()[j]).children()[1]).attr("id").substring(0, 3)+ i);
                                        }
                                        else
                                        {
                                                i++;
                                                nb=1;
                                                var classes = $($("#mesSauts").children()[j]).attr("class").split(/\s/);
                                                var value = "";
                                                for(var k=0; k<classes.length; k++)
                                                {
                                                        //alert(classes[k]);
                                                        var regex = new RegExp("^divSaut([0-9])*$");

                                                        if(regex.test(classes[k]))
                                                        {
                                                                value = classes[k];
                                                                break;
                                                        }
                                                }
                                                $($($("#mesSauts").children()[j]).children()[0]).val(i);
                                                $($("#mesSauts").children()[j]).removeClass(value).addClass('divSaut'+i);
                                                $($($("#mesSauts").children()[j]).children()[0]).attr("id", $($($("#mesSauts").children()[j]).children()[0]).attr("id").substring(0, 8)+i);
                                                $($($("#mesSauts").children()[j]).children()[0]).attr("name", $($($("#mesSauts").children()[j]).children()[0]).attr("name").substring(0, 8)+i);
                                                $($($("#mesSauts").children()[j]).children()[1]).attr("for", $($($("#mesSauts").children()[j]).children()[1]).attr("for").substring(0, 8)+i);
                                        }
                                }

                        }
                };


                var setFocus = function(e){

                        $(".newInput").each(function(index){
                                $(this).parent().removeClass("is-focused");
                        });
                        $(this).parent().addClass("is-focused");
                };

                var forAddSaut = function(e){
                            
                                var num = $(this).attr("id").substr(3, $(this).attr("id").length);
                                var nbTotal = $("#nbSauts").val();
                                var next = parseInt(nbTotal) + 1;
                                $('#mesSauts').append('<div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo saut divSaut' + next + '">'+
                                                            '<input class="mdl-textfield__input required position newInput" type="text" name="position' + next + '" id="position' + next + '" value="' + next + '"/>'+
                                                            '<label class="mdl-textfield__label" for="position1">Position *</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--10-col input-field divSaut' + next + '" id="divQuestSaut' + next + '">'+
                                                            '<select id="quesSaut' + next + '" class="" name="quesSaut' + next + '">'+
                                                                '<option value="" disabled selected>Choisir la question</option>'+
                                                                {% for question in liste_questions %}
                                                                    '<option value="{{ question.id }}">{{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}</option>'+
                                                                {% endfor %}
                                                            '</select>'+
                                                            '<label>La question</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--1-col divSaut' + next + '">'+
                                                                 '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped addQuestion" data-position="bottom" data-delay="50" data-tooltip="ajouter une nouvelle question" id="add' + next + '"><i class="material-icons">add</i></a>'+
                                                              '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped delQuestion" data-position="bottom" data-delay="50" data-tooltip="supprimer cette question" id="del' + next + '"><i class="material-icons">delete</i></a>'+
                                                        '</div>');
                                        $("#nbSauts").val(next);

                                        $(".newInput").off('focus', setFocus);
                                        $('.newInput').focus(setFocus);

                                        //$(".newInput").off('blur', setBlur);
                                        //$('.newInput').focus(setBlur);
                                        $('.delQuestion').off('click', forDelSaut);
                                        $(".delQuestion").click(forDelSaut);
                                        //window.location.reload();
                                        $('.addQuestion').off('click', forAddSaut);
                                        $('.addQuestion').click(forAddSaut);
                                        
                                        $('select').material_select();
                                        $(".position").parent().addClass("is-dirty");

                        };
                        
                function changeSugg(obj, val){
                   
                    $("select").material_select();
                    var id = $(obj).val();
                    
                    var classes = $(obj).parent().parent().attr("class").split(/\s/);
                    
                    var value = "";
                    for(var k=0; k<classes.length; k++)
                    {
                            //alert(classes[k]);
                            var regex = new RegExp("^divSugg([0-9])*$");

                            if(regex.test(classes[k]))
                            {
                                    value = classes[k];
                                    break;
                            }
                    }
                    
                    var objRep = $($($($("." + value)[1]).children()[0]).children()[3]);
                  
                    var pathgetRep = $("#pathgetRepQuest").val();
                   
                    var table = pathgetRep.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathgetRep = vals + id;
                    //alert(pathgetRep);
                    $.getJSON(pathgetRep, function(data){
                        objRep.material_select("destroy");
                        var html = '<option value="" disabled selected>La réponse qui entraine cette suggestion</option>';
                        for(var i = 0; i< data["nbReponses"]; i++){
                            html += '<option value="' + data["reponse"][i]["id"] + '">' + data["reponse"][i]["valeur"] + '</option>';
                        }
                        objRep.html(html);
                        //alert(val);
                        objRep.val(val);
                        //alert(objRep.val());
                        objRep.material_select();
                    });
                    $("select").material_select("destroy");
                }
                
                function clickAddSugg(obj){
                            
                                var num = obj.attr("id").substr(3, obj.attr("id").length);
                                var nbTotal = $("#nbSuggs").val();
                                var next = parseInt(nbTotal) + 1;
                                $('#mesSuggs').append('<div class="mdl-cell mdl-cell--6-col input-field divSugg' + next + '" id="divQuestSugg' + next + '">'+
                                                            '<select id="quesSugg1" class="questSugg" name="quesSugg' + next + '">'+
                                                                '<option value="" disabled selected>Question qui provoque la suggestion</option>'+
                                                                {% for question in liste_questions %}
                                                                    '<option value="{{ question.id }}">{{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}</option>'+
                                                                {% endfor %}
                                                            '</select>'+
                                                            '<label>Question qui provoque la suggestion</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--5-col input-field divSugg' + next + '" id="divRespSugg' + next + '">'+
                                                            '<select id="respSugg' + next + '" class="respSugg" name="respSugg' + next + '">'+
                                                                '<option value="" disabled selected>La réponse qui entraine cette suggestion</option>'+
                                                            '</select>'+
                                                            '<label>La réponse qui entraine cette suggestion</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--1-col divSugg' + next + '">'+
                                                              '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped addSuggestion" data-position="bottom" data-delay="50" data-tooltip="ajouter une nouvelle question" id="add' + next + '"><i class="material-icons">add</i></a>'+
                                                              '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped delSuggestion" data-position="bottom" data-delay="50" data-tooltip="supprimer cette question" id="del' + next + '"><i class="material-icons">delete</i></a>'+
                                                        '</div>');
                                        $("#nbSuggs").val(next);

                                       /* $(".newInput").off('focus', setFocus);
                                        $('.newInput').focus(setFocus);*/

                                        //$(".newInput").off('blur', setBlur);
                                        //$('.newInput').focus(setBlur);
                                        $('.delSuggestion').off('click', forDelSugg);
                                        $(".delSuggestion").click(forDelSugg);
                                        //window.location.reload();
                                        $('.addSuggestion').off('click', forAddSugg);
                                        $('.addSuggestion').click(forAddSugg);
                                        
                                        $('select').material_select();

                        };
                        
                function clickAddSaut(obj){
                            
                                var num = obj.attr("id").substr(3, obj.attr("id").length);
                                var nbTotal = $("#nbSauts").val();
                                var next = parseInt(nbTotal) + 1;
                                $('#mesSauts').append('<div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo saut divSaut' + next + '">'+
                                                            '<input class="mdl-textfield__input required position newInput" type="text" name="position' + next + '" id="position' + next + '" value="' + next + '"/>'+
                                                            '<label class="mdl-textfield__label" for="position1">Position *</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--10-col input-field divSaut' + next + '" id="divQuestSaut' + next + '">'+
                                                            '<select id="quesSaut' + next + '" class="" name="quesSaut' + next + '">'+
                                                                '<option value="" disabled selected>Choisir la question</option>'+
                                                                {% for question in liste_questions %}
                                                                    '<option value="{{ question.id }}">{{ question.code }} - {{ question.titre(app.request.attributes.get('_locale')) }}</option>'+
                                                                {% endfor %}
                                                            '</select>'+
                                                            '<label>La question</label>'+
                                                        '</div>'+
                                                         '<div class="mdl-cell mdl-cell--1-col divSaut' + next + '">'+
                                                                 '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped addQuestion" data-position="bottom" data-delay="50" data-tooltip="ajouter une nouvelle question" id="add' + next + '"><i class="material-icons">add</i></a>'+
                                                              '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon tooltipped delQuestion" data-position="bottom" data-delay="50" data-tooltip="supprimer cette question" id="del' + next + '"><i class="material-icons">delete</i></a>'+
                                                        '</div>');
                                        $("#nbSauts").val(next);

                                        $(".newInput").off('focus', setFocus);
                                        $('.newInput').focus(setFocus);

                                        //$(".newInput").off('blur', setBlur);
                                        //$('.newInput').focus(setBlur);
                                        $('.delQuestion').off('click', forDelSaut);
                                        $(".delQuestion").click(forDelSaut);
                                        //window.location.reload();
                                        $('.addQuestion').off('click', forAddSaut);
                                        $('.addQuestion').click(forAddSaut);
                                        
                                        $('select').material_select();
                                        $(".position").parent().addClass("is-dirty");

                        };
                        
                function resetReponse(){
                    for(var i = 3; i <  $("#mesSauts").children().length; i++){
                        $($("#mesSauts").children()[i]).remove();
                    }

                    for(var i = 3; i <  $("#mesSuggs").children().length; i++){
                        $($("#mesSuggs").children()[i]).remove();
                    }

                    $("#sautCheck").prop('checked', false);
                    $("#sautCheck").parent().removeClass("is-checked");
                    $("#sauts").hide();
                    $("#divQuestSuiv").show();
                    $("#suggCheck").prop('checked', false);
                    $("#suggCheck").parent().removeClass("is-checked");
                    $("#suggs").hide();  
                }
            });
        </script>
        {% if enreg is defined %}
            {% if enreg == true %}
                <script>
                    $(function () {
                        Materialize.toast("Enregistrement terminé avec succès", 5000, 'rounded');
                    });
                </script>
            {% endif %}
        {% endif %}
        
        {% if code is defined %}
            {% if code == true %}
                <script>
                    $(function () {
                        Materialize.toast("Ce code existe déjà", 5000, 'rounded');
                    });
                </script>
            {% endif %}
        {% endif %}
    {% endblock %}



