{% extends "::layout.html.twig" %}

{% block title %}{{'Segments du Site'|trans}}{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} " style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">Admin - {{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PROJET'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                {% if auteur %}
                    <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_question") }}">{{'Questions du Projet'|trans}}</a>
                {% endif %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_export") }}">{{ 'Exportation de données'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_site") }}">{{'Sites du Projet'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">{{'Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet") }}">{{'Retour à mes Projets'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{'Retour au menu principal'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>

            <div class="mdl-cell mdl-cell--9-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col" >
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{'Liste des Segments'|trans}}</h2>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a class="waves-effect waves-light btn right teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="{{ 'Ajouter un segment'|trans }}" href="#modalSegment" id="newSegment" ><i class="material-icons">add</i></a>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" >
                        <div class="mdl-grid" >
                            {% for segment in liste_segments %}
                                <div class="mdl-cell mdl-cell--3-col demo-card-event mdl-card mdl-shadow--9dp mdl-color--cyan-600 segment" style="cursor:pointer; background: center / cover;">
                                    <div class="mdl-card__title mdl-card--expand mdl-color-text--white">
                                        <h5>
                                            {{ 'Segment'|trans }} :<br/><br/>
                                            {{ segment.nom }} <br/>
                                        </h5>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect modifSegment mdl-color-text--white" id="{{ segment.id }}">
                                            {{'Modifier'|trans}}
                                        </a>
                                        {#<div class="mdl-layout-spacer"></div>#}
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del{{ segment.id }}"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            {% else %}
                                <li>{{'Pas de segment trouvé'|trans}}.</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="modalSegment" class="modal modal-fixed-footer">
            {{ form_start(form, {'method': 'post', 'action': path('siren_user_projet_site_segment', {'id': site.id}), 'attr': {'id': 'formSegment'}}) }}
            <div class="modal-content">
                <h4 id="titre">{% trans %}Enregistrement d'un nouveau segment{% endtrans %}</h4><hr/>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.nom, {'id' : 'nom', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                        {{ form_label(form.nom, "Nom du Segment *"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.nom) }}</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.ville, {'id' : 'ville', 'attr': {'class': 'mdl-textfield__input'} }) }}
                        {{ form_label(form.ville, "Ville"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.ville) }}</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.region, {'id' : 'region', 'attr': {'class': 'mdl-textfield__input'} }) }}
                        {{ form_label(form.region, "Region"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.region) }}</span>
                    </div>

                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="testDebut">
                                <input type="checkbox" id="testDebut" class="mdl-switch__input" name="testDebut">
                                <span class="mdl-switch__label">{{ 'Début de Ponte ?'|trans }}</span>
                            </label>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-grid" id="divDebut">
                            <div class="mdl-cell mdl-cell--5-col">
                                <select id="periodeDebut" name="periodeDebut" class="browser-default">
                                    <option value="" disabled selected>{{ "Période de"|trans }} ...</option>
                                    <option value="1">{{ "Debut du mois"|trans }}</option>
                                    <option value="2">{{ "Mileu du mois"|trans }}</option>
                                    <option value="3">{{ "Fin du mois"|trans }}</option>
                                </select>
                            </div>
                            <span class="mdl-cell mdl-cell--2-col" style="text-align: center">{{ 'de'|trans }}</span>
                            <div class="mdl-cell mdl-cell--5-col">
                                <select id="moisDebut" name="moisDebut" class="browser-default">
                                    <option value="" disabled selected>{{ "Mois"|trans }} ...</option>
                                    <option value="1">{{ "Janvier"|trans }}</option>
                                    <option value="2">{{ "Février"|trans }}</option>
                                    <option value="3">{{ "Mars"|trans }}</option>
                                    <option value="4">{{ "Avril"|trans }}</option>
                                    <option value="5">{{ "Mai"|trans }}</option>
                                    <option value="6">{{ "Juin"|trans }}</option>
                                    <option value="7">{{ "Juillet"|trans }}</option>
                                    <option value="8">{{ "Août"|trans }}</option>
                                    <option value="9">{{ "Septembre"|trans }}</option>
                                    <option value="10">{{ "Octobre"|trans }}</option>
                                    <option value="11">{{ "Novembre"|trans }}</option>
                                    <option value="12">{{ "Décembre"|trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="testPic">
                                <input type="checkbox" id="testPic" class="mdl-switch__input" name="testPic">
                                <span class="mdl-switch__label">{{ 'Pic de Ponte ?'|trans }}</span>
                            </label>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-grid" id="divPic">
                            <div class="mdl-cell mdl-cell--5-col">
                                <select id="periodePic" name="periodePic" class="browser-default">
                                    <option value="" disabled selected>{{ "Période de"|trans }} ...</option>
                                    <option value="1">{{ "Debut du mois"|trans }}</option>
                                    <option value="2">{{ "Mileu du mois"|trans }}</option>
                                    <option value="3">{{ "Fin du mois"|trans }}</option>
                                </select>
                            </div>
                            <span class="mdl-cell mdl-cell--2-col" style="text-align: center">{{ 'de'|trans }}</span>
                            <div class="mdl-cell mdl-cell--5-col">
                                <select id="moisPic" name="moisPic" class="browser-default">
                                    <option value="" disabled selected>{{ "Mois"|trans }} ...</option>
                                    <option value="1">{{ "Janvier"|trans }}</option>
                                    <option value="2">{{ "Février"|trans }}</option>
                                    <option value="3">{{ "Mars"|trans }}</option>
                                    <option value="4">{{ "Avril"|trans }}</option>
                                    <option value="5">{{ "Mai"|trans }}</option>
                                    <option value="6">{{ "Juin"|trans }}</option>
                                    <option value="7">{{ "Juillet"|trans }}</option>
                                    <option value="8">{{ "Août"|trans }}</option>
                                    <option value="9">{{ "Septembre"|trans }}</option>
                                    <option value="10">{{ "Octobre"|trans }}</option>
                                    <option value="11">{{ "Novembre"|trans }}</option>
                                    <option value="12">{{ "Décembre"|trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="testFin">
                                <input type="checkbox" id="testFin" class="mdl-switch__input" name="testFin">
                                <span class="mdl-switch__label">{{ 'Fin de Ponte ?'|trans }}</span>
                            </label>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-grid" id="divFin">
                            <div class="mdl-cell mdl-cell--5-col">
                                <select id="periodeFin" name="periodeFin" class="browser-default">
                                    <option value="" disabled selected>{{ "Période de"|trans }} ...</option>
                                    <option value="1">{{ "Debut du mois"|trans }}</option>
                                    <option value="2">{{ "Mileu du mois"|trans }}</option>
                                    <option value="3">{{ "Fin du mois"|trans }}</option>
                                </select>
                            </div>
                            <span class="mdl-cell mdl-cell--2-col" style="text-align: center">{{ 'de'|trans }}</span>
                            <div class="mdl-cell mdl-cell--5-col">
                                <select id="moisFin" name="moisFin" class="browser-default">
                                    <option value="" disabled selected>{{ "Mois"|trans }} ...</option>
                                    <option value="1">{{ "Janvier"|trans }}</option>
                                    <option value="2">{{ "Février"|trans }}</option>
                                    <option value="3">{{ "Mars"|trans }}</option>
                                    <option value="4">{{ "Avril"|trans }}</option>
                                    <option value="5">{{ "Mai"|trans }}</option>
                                    <option value="6">{{ "Juin"|trans }}</option>
                                    <option value="7">{{ "Juillet"|trans }}</option>
                                    <option value="8">{{ "Août"|trans }}</option>
                                    <option value="9">{{ "Septembre"|trans }}</option>
                                    <option value="10">{{ "Octobre"|trans }}</option>
                                    <option value="11">{{ "Novembre"|trans }}</option>
                                    <option value="12">{{ "Décembre"|trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn teal" id="send" type="submit" name="send"><i class="material-icons right">send</i><span id="btSend">{{'Enregistrer'|trans}}</span></button>
                <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
            </div>
            <input type='hidden' id="pathget" value="{{ path("siren_user_projet_site_segment_get", {'id' : '1'}) }}" />
            <input type='hidden' id="pathmodif" value="{{ path("siren_user_projet_site_segment_modif", {'id' : '1'}) }}" />
            <input type='hidden' id="pathdel" value="{{ path("siren_user_projet_site_segment_delete", {'id' : '1'}) }}" />
            {{ form_end(form) }}
        </div>
    {% endblock %}
    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                
                $('.modal').modal();

                $('select').material_select();
                $("#divDebut").hide();
                $("#divPic").hide();
                $("#divFin").hide();

                $("#newSegment").click(function (e) {
                    $("input[type='text']").parent().removeClass("is-dirty");
                    $("#divDebut").hide();
                    $("#divPic").hide();
                    $("#divFin").hide();

                    $("#testDebut").prop('checked', false);
                    $("#testDebut").parent().removeClass("is-checked");
                    $("#testPic").prop('checked', false);
                    $("#testPic").parent().removeClass("is-checked");
                    $("#testFin").prop('checked', false);
                    $("#testFin").parent().removeClass("is-checked");

                    //$("#images").addClass("required");
                    $("input[type='text']").val("");

                    $("#btSend").text("{{'Enregistrer'|trans}}");
                    $("#send").attr("name", "send");
                    $("#formSite").attr("action", "{{ path('siren_user_projet_site_segment', {'id': site.id}) }}");

                });

                $(".modifSegment").click(function (e) {
                    //$("#idType").val($(this).attr("id"));

                    var id = $(this).attr("id");
                    var pathget = $("#pathget").val();
                    var pathmodif = $("#pathmodif").val();

                    var table = pathget.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + $(this).attr("id");

                    table = pathmodif.split("/");
                    vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathmodif = vals + $(this).attr("id");
                    $("#formSegment").attr("action", pathmodif);

                    $.getJSON(pathget, function (data) {
                        $("#btSend").text("{{ 'Modifier'|trans }}");
                        $("#send").attr("name", "modif");

                        $("#nom").val(data["nom"]);
                        $("#ville").val(data["ville"]);
                        $("#region").val(data["region"]);

                        if(data["testDebut"] === true){
                            $("#testDebut").prop('checked', true);
                            $("#testDebut").parent().addClass("is-checked");
                            $("#divDebut").show();

                            $("#periodeDebut").val(data["periodeDebut"]);
                            $("#moisDebut").val(data["moisDebut"]);
                        }
                        else{
                            $("#testDebut").prop('checked', false);
                            $("#testDebut").parent().removeClass("is-checked");
                            $("#divDebut").hide();
                        }

                        if(data["testPic"] === true){
                            $("#testPic").prop('checked', true);
                            $("#testPic").parent().addClass("is-checked");
                            $("#divPic").show();

                            $("#periodePic").val(data["periodePic"]);
                            $("#moisPic").val(data["moisPic"]);
                        }
                        else{
                            $("#testPic").prop('checked', false);
                            $("#testPic").parent().removeClass("is-checked");
                            $("#divPic").hide();
                        }

                        if(data["testFin"] === true){
                            $("#testFin").prop('checked', true);
                            $("#testFin").parent().addClass("is-checked");
                            $("#divFin").show();

                            $("#periodeFin").val(data["periodeFin"]);
                            $("#moisFin").val(data["moisFin"]);
                        }
                        else{
                            $("#testFin").prop('checked', false);
                            $("#testFin").parent().removeClass("is-checked");
                            $("#divFin").hide();
                        }

                        $("input[type='text']").parent().addClass("is-dirty");
                    });

                    $('#modalSegment').modal("open");

                });

                $(".delete").click(function (e) {
                    var id = $(this).attr("id").substr(3);

                    var pathdel = $("#pathdel").val();

                    var table = pathdel.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathdel = vals + id;
                    var element = this;
                    $.getJSON(pathdel, function (data) {
                        if(data["result"] == true) {
                            Materialize.toast("{% trans %}Suppression réussie{% endtrans %}", 5000, 'rounded');
                            $(element).parent().parent().remove();
                        }
                        else
                            Materialize.toast("{% trans %}Impossible de supprimer.{% endtrans %}", 7000, 'rounded');
                    });

                });

                $("#testDebut").change(function(e){
                    if($(this).is(":checked")){
                        $("#divDebut").show();
                    }
                    else{
                        $("#divDebut").hide();
                    }
                });

                $("#testPic").change(function(e){
                    if($(this).is(":checked")){
                        $("#divPic").show();
                    }
                    else{
                        $("#divPic").hide();
                    }
                });

                $("#testFin").change(function(e){
                    if($(this).is(":checked")){
                        $("#divFin").show();
                    }
                    else{
                        $("#divFin").hide();
                    }
                });

                var form = document.getElementById("formSegment");

                var required = document.getElementsByClassName("required");
                form.addEventListener("submit", function (e) {
                    //e.preventDefault();
                    //alert("toto");
                    var block = false;
                    for (var i = 0; i < required.length; i++)
                    {
                        if ($(required[i]).val() == "")
                        {
                            e.preventDefault();
                            block = true;
                        }
                    }
                    if (block)
                    {
                        //$('#modalCategorie').modal("open");
                        setTimeout(function () {
                            $('#modalType').modal("open");
                        }, 500);
                        Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');

                    }
                });
                {% if nom is defined %}
                {% if nom == true %}
                Materialize.toast("{% trans %}Ce segment existe déjà{% endtrans %}", 5000, 'rounded');
                {% endif %}
                {% endif %}
            });
        </script>
        {% if enreg is defined %}
            {% if enreg == true %}
                <script>
                    $(function () {
                        Materialize.toast('{% trans %}Enregistrement terminé avec succès{% endtrans %}', 5000, 'rounded');
                    });
                </script>
            {% endif %}
        {% endif %}


    {% endblock %}



