{% extends "::layout.html.twig" %}

{% block title %}{{ 'Sites du Projet'|trans }}{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} "
                         style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white"
                     style="margin-top:15px;">Admin - {{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{ 'MENU PROJET'|trans }}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                {% if auteur %}
                    <a class="mdl-navigation__link navlink"
                       href="{{ path("siren_user_projet_question") }}">{{ 'Questions du Projet'|trans }}</a>
                {% endif %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_export") }}">{{ 'Exportation de données'|trans }}</a>
                <a class="mdl-navigation__link navlink"
                   href="{{ path("siren_user_projet_site") }}">{{ 'Sites du Projet'|trans }}</a>
                <a class="mdl-navigation__link navlink"
                   href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">{{ 'Patrouilles'|trans }}</a>
                <a class="mdl-navigation__link navlink"
                   href="{{ path("siren_user_projet") }}">{{ 'Retour à mes Projets'|trans }}</a>
                <a class="mdl-navigation__link navlink"
                   href="{{ path("siren_user_dashboard") }}">{{ 'Retour au menu principal'|trans }}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons"
                                                                                                 style="margin-right:5px;">home</i>{{ 'Accueil'|trans }}
            </a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i
                        class="material-icons"
                        style="margin-right:5px;">exit_to_app</i><span>{{ 'Déconnexion'|trans }}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %}

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>

            <div class="mdl-cell mdl-cell--9-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ 'Liste des Sites'|trans }}</h2>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a class="waves-effect waves-light btn right teal tooltipped modal-trigger"
                           data-position="bottom" data-delay="50" data-tooltip="{{ 'Ajouter un site'|trans }}"
                           href="#modalSite" id="newSite"><i class="material-icons">add</i></a>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-grid">
                            {% for site in liste_sites %}
                                <div class="mdl-cell mdl-cell--3-col demo-card-event mdl-card mdl-shadow--9dp mdl-color--cyan-600 site"
                                     style="background: center / cover;">
                                    <a class="mdl-card__title mdl-card--expand mdl-color-text--white"
                                       href="{{ path('siren_user_projet_site_segment', {'id': site.id}) }}">
                                        <h5>
                                            {{ 'Site'|trans }} :<br/><br/>
                                            {{ site.nom }} <br/>
                                        </h5>
                                    </a>
                                    <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect modifSite mdl-color-text--white"
                                           id="{{ site.id }}">
                                            {{ 'Modifier'|trans }}
                                        </a>
                                        {#<div class="mdl-layout-spacer"></div>#}
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right"
                                           id="del{{ site.id }}"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            {% else %}
                                <li>{{ 'Pas de site trouvé'|trans }}.</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="modalSite" class="modal modal-fixed-footer">
            {{ form_start(form, {'method': 'post', 'action': path('siren_user_projet_site'), 'attr': {'id': 'formSite'}}) }}
            <div class="modal-content">
                <h4 id="titre">{% trans %}Enregistrement d'un nouveau site{% endtrans %}</h4>
                <hr/>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.nom, {'id' : 'nom', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                        {{ form_label(form.nom, "Nom du Site *"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.nom) }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn teal" id="send" type="submit"
                        name="send"><i class="material-icons right">send</i><span
                            id="btSend">{{ 'Enregistrer'|trans }}</span></button>
                <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i
                            class="material-icons right">close</i>{{ 'Annuler'|trans }}</button>
            </div>
            <input type='hidden' id="pathget" value="{{ path("siren_user_projet_site_getsite", {'id' : '1'}) }}"/>
            <input type='hidden' id="pathmodif" value="{{ path("siren_user_projet_site_modif", {'id' : '1'}) }}"/>
            <input type='hidden' id="pathdel" value="{{ path("siren_user_projet_site_delete", {'id' : '1'}) }}"/>
            {{ form_end(form) }}
        </div>
    {% endblock %}
    {% block scriptpage %}
        <script>
            $(document).ready(function () {

                $('.modal').modal();

                $("#newSite").click(function (e) {

                    $("#nom").parent().removeClass("is-dirty");


                    //$("#images").addClass("required");
                    $("input[type='text']").val("");

                    $("#btSend").text("{{ 'Enregistrer'|trans }}");
                    $("#send").attr("name", "send");
                    $("#formSite").attr("action", "{{ path('siren_user_projet_site') }}");

                });

                $(".modifSite").click(function (e) {
                    //$("#idType").val($(this).attr("id"));

                    var id = $(this).attr("id");
                    var pathget = $("#pathget").val();
                    var pathmodif = $("#pathmodif").val();

                    var table = pathget.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + $(this).attr("id");

                    table = pathmodif.split("/");
                    vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathmodif = vals + $(this).attr("id");
                    $("#formSite").attr("action", pathmodif);

                    $.getJSON(pathget, function (data) {
                        $("#btSend").text("{{ 'Modifier'|trans }}");
                        $("#send").attr("name", "modif");

                        $("#nom").val(data["nom"]);

                        $("#nom").parent().addClass("is-dirty");
                    });

                    $('#modalSite').modal("open");

                });

                $(".delete").click(function (e) {
                    var id = $(this).attr("id").substr(3);

                    var pathdel = $("#pathdel").val();

                    var table = pathdel.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathdel = vals + id;
                    var element = this;
                    $.getJSON(pathdel, function (data) {
                        if (data["result"] == true) {
                            Materialize.toast("{% trans %}Suppression réussie{% endtrans %}", 5000, 'rounded');
                            $(element).parent().parent().remove();
                        }
                        else
                            Materialize.toast("{% trans %}Impossible de supprimer. Supprimez d'abord ses segments {% endtrans %}", 7000, 'rounded');
                    });

                });

                var form = document.getElementById("formSite");

                var required = document.getElementsByClassName("required");
                form.addEventListener("submit", function (e) {
                    //e.preventDefault();
                    //alert("toto");
                    var block = false;
                    for (var i = 0; i < required.length; i++) {
                        if ($(required[i]).val() == "") {
                            e.preventDefault();
                            block = true;
                        }
                    }
                    if (block) {
                        //$('#modalCategorie').modal("open");
                        setTimeout(function () {
                            $('#modalType').modal("open");
                        }, 500);
                        Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');

                    }
                });
            });
        </script>
        {% if enreg is defined %}
        {% if enreg == true %}
        <script>
            $(function () {
                Materialize.toast('{% trans %}Enregistrement terminé avec succès{% endtrans %}', 5000, 'rounded');
            });
        </script>
        {% endif %}
        {% endif %}

        {% if nom is defined %}
        {% if nom == true %}
        <script>
            $(function () {
                Materialize.toast("{% trans %}Ce site existe déjà{% endtrans %}", 5000, 'rounded');
            });
        </script>
        {% endif %}
        {% endif %}
    {% endblock %}



