{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

<!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-3 ">
                                <!-- Material Login -->
								<h2 class="section-title">Confirmation d'inscription</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h4>Inscription réussi</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block text-center">
                                            {% trans_default_domain 'FOSUserBundle' %}

                                            <i class="fa fa-check-circle fa-5x text-green"></i><br/><br/>
                                            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p><br/>
                                            <p><a class="btn btn-app-teal center-block" href="{{ path("admin") }}">Continuer</a></p>
                                            
                                         </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
