{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}
    <div class="row">
	<div class="col-md-6">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.username) }}
                    <div class="form-material">
                        {{ form_label(form.username, "Nom d'utilisateur") }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'type': 'text', 'placeholder': 'Entrez votre nom...'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.email) }}
                    <div class="form-material">
                        {{ form_label(form.email, "Email") }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'type': 'email', 'placeholder': 'Entrez votre email...'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}
                    <div class="form-material">
                        {{ form_label(form.plainPassword.first, "Mot de passe") }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Entrez le mot de passe...'}}) }}
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.plainPassword.second) }}
                    <div class="form-material">
                        {{ form_label(form.plainPassword.second, "Confirmation de mot de passe") }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Entrez de nouveau votre mot de passe...'}}) }}
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-6">
             <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.ville) }}
                    <div class="form-material">
                        {{ form_label(form.ville, "Ville") }}
                        {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'type': 'text', 'placeholder': 'Entrez la ville...'}}) }}
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.pays) }}
                    <div class="form-material">
                        {{ form_label(form.pays, "Pays") }}
                        {{ form_widget(form.pays, {'attr': {'class': 'js-select2 form-control pays', 'data-placeholder': 'Choisisez un pays...'}}) }}
                    </div>
                </div>
            </div>
                   
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.telephone) }}
                    <div class="form-material">
                        {{ form_label(form.telephone, "Numero de téléphone") }}
                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'type': 'tel', 'placeholder': 'Entrez votre numero de téléphone ...'}}) }}
                    
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-material">
                    <div class="form-group">
                    {{ form_errors(form.fonctions) }}
                    <div class="form-material">
                        {{ form_label(form.fonctions, "Fonctions") }}
                        {{ form_widget(form.fonctions, {'attr': {'class': 'js-select2 form-control', 'data-placeholder': 'Choisisez une fonctions...'}}) }}
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-b-0">
            <div class="col-md-12">
                <input class="btn btn-app-teal" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>        
        </div>             
    
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}