

<ion-header>
    <navbar [title]= "'Synchronisation'" ></navbar>
</ion-header>


<ion-content class="backgroundcorps">

    <p class="textesacceuil">{{ 'INFOSCRO' | translate }}</p>
    <ion-col>
        <img class="moimage"  src="assets/imgs/loading.gif">
    </ion-col>
    <p class="pourcentage"> {{totaleffectue}} sur {{total}}</p>
</ion-content>
