page-synchronisation {

    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .moimage{
        margin-top: 20%;
        width: 60%;
        height: 15%;
        margin-left: 20%;
        border-radius: 50%;
        background-color: transparent;
    }

    .textesacceuil{
        padding-top: 5%;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
        text-align: center;
     }
     .pourcentage{
         margin-top: 10%;
         font-weight: bold;
         font-size: 20px;
         margin-left: 42%;
     }
}
