{% extends "::layout.html.twig" %}

{% block title %}{{'Mes patrouilles'|trans}}{% endblock %}

{% block stylepage %}

    <style>
        /*[type='checkbox'] + label::before{
            border: 2px solid #3f51b5 !important;
        }*/
        .user{
            height: 100px;
        }

        .patrouilleStyle{
            height: 160px;
        }
    </style>

{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} " style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.nom }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PATROUILLE'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                {% if auteur %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_question") }}">{{'Questions du Projet'|trans}}</a>
                {% endif %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_export") }}">{{ 'Exportation de données'|trans }}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_site") }}">{{'Sites du Projet'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">{{'Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet") }}">{{'Retour à mes Projets'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{'Retour au menu principal'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-card__title"  align="center">
                            <h3 class="mdl-card__title-text"> {{ 'Projet'|trans }} : {{ projet.nom }} </h3>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col"></div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a class="waves-effect waves-light btn teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="nouvelle patrouille" href="#modalPatrouille" >
                                <i class="material-icons">add</i>
                                {{'Enregisrer une patrouille'|trans}}
                            </a>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-grid" >
                            <div class="mdl-cell mdl-cell--12-col" >
                                <div class="mdl-card__title">
                                    <h3 class="mdl-card__title-text"> {{'Historique des patrouilles effectuées'|trans}}</h3>
                                </div>
                            </div>
                            {% for patrouille in liste_patrouilles %}
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--6dp mdl-color--cyan-700 mdl-badge mdl-grid patrouilleStyle" data-badge="{{ patrouille.observations.count() }}" id="{{ patrouille.id }}" style="cursor:pointer">
                                    <div class="mdl-cell mdl-cell--12-col mdl-color-text--black"><span class="waves-effect waves-light white tooltipped modal-trigger">{{patrouille.id }}</span> {{ patrouille.dateDebut|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</div>
                                    <div class="mdl-cell mdl-cell--12-col mdl-color-text--white">{{ 'Patrouilleur'|trans  }} : {{ patrouille.patrouilleur.nom }} {{ patrouille.patrouilleur.prenom }}</div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-color-text--white">{{ patrouille.segment.nom }}</div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-color-text--white">{{ patrouille.dateDebut.format('G:i') }} - {{ patrouille.dateFin.format('G:i') }}</div>
                                    {% if auteur %}
                                        <div class="mdl-cell mdl-cell--12-col mdl-color-text--white">
                                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon deletePat mdl-color-text--white right" id="delPat-{{ patrouille.id }}"><i class="material-icons">delete</i></a>
                                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon patrouille mdl-color-text--white left" id="{{ patrouille.id }}"><i class="material-icons">content_paste</i></a>
                                            
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <p>{{'Pas de patrouilles effectuées'|trans}}.</p>
                            {% endfor %}
                        </div>
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-grid" >
                                
                            </div>
                            <div class="mdl-cell mdl-cell--12-col mdl-grid" id="users" style="margin-top: -35%">
                            <div class="mdl-cell mdl-cell--12-col">
                                    <h4 class="mdl-card__title-text"> {{'Patrouilleurs du Projet'|trans}}</h4>
                                    {% if auteur %}
                                        <a class="waves-effect waves-light btn teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="ajouter patrouilleur" href="#modalUser" style="float: right" >
                                            <i class="material-icons">add</i>
                                        </a>
                                    {% endif %}
                                </div>
                                    {% for participer in projet.activePat %}
                                        <div class="mdl-cell mdl-cell--12-col mdl-shadow--6dp mdl-color--cyan-700 mdl-grid user" id="user-{{ participer.id }}">
                                            <div class="mdl-cell mdl-cell--12-col mdl-color-text--white">{{ participer.patrouilleur.nom }} {{ participer.patrouilleur.prenom }}</div>
                                            <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-color-text--white">@{{ participer.patrouilleur.username }}</div>
                                            {% if auteur %}
                                                <div class="mdl-cell mdl-cell--2-col mdl-color-text--white">
                                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del-{{ participer.id }}"><i class="material-icons">delete</i></a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="toastCancel" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <div id="modalPatrouille" class="modal modal-fixed-footer">
            <form id="formPatrouille" method="post" action="{{ path("siren_user_patrouille_start") }}">
                <div class="modal-content">
                    <h4 id="titre">{{'Démarrage de la patrouille'|trans}}</h4>
                    <span> * : {{'Champs Obligatoires'|trans}}</span><hr/>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" id="divSite">
                            <input class="mdl-textfield__input required" type="text" id="nomSite" name="nomSite" />
                            <label class="mdl-textfield__label" for="nomSite">{{'Nom du Site'|trans}}... (*)</label>
                        </div>
                        {#<ul class="mdl-cell mdl-cell--12-col mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="divSite">
                            <li class="mdl-menu__item">Some Action</li>
                            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
                            <li disabled class="mdl-menu__item">Disabled Action</li>
                            <li class="mdl-menu__item">Yet Another Action</li>
                        </ul>#}
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input required" type="text" id="nomSegment" name="nomSegment" />
                            <label class="mdl-textfield__label" for="nomSegment">{{'Segment'|trans}}... (*)</label>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input date required" type="text" id="dateDebut" name="dateDebut" />
                            <label class="mdl-textfield__label" for="dateDebut">{{'Date de Début'|trans}}... (*)</label>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input required" type="number" id="heureDebut" name="heureDebut" pattern="^[0-9]$" />
                            <label class="mdl-textfield__label" for="heureDebut">{{'Heure'|trans}}... (*)</label>
                            <span class="mdl-textfield__error">{{'Entrée une heure valide'|trans}}!</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input required" type="number" id="minDebut" name="minDebut" />
                            <label class="mdl-textfield__label" for="minDebut">{{'Minute'|trans}}... (*)</label>
                            <span class="mdl-textfield__error">{{'Entrée une minute valide'|trans}}!</span>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input date" type="text" id="dateFin" name="dateFin" />
                            <label class="mdl-textfield__label" for="dateFin">{{'Date de Fin'|trans}}... </label>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input" type="number" id="heureFin" name="heureFin" />
                            <label class="mdl-textfield__label" for="heureFin">{{'Heure'|trans}}... </label>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input" type="number" id="minFin" name="minFin" />
                            <label class="mdl-textfield__label" for="minFin">{{'Minute'|trans}}... </label>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input" type="text" id="coordX" name="coordX" />
                            <label class="mdl-textfield__label" for="coordX">{{'Longitude (X) en dégré décimaux'|trans}}... </label>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input" type="text" id="coordY" name="coordY" />
                            <label class="mdl-textfield__label" for="coordY">{{'Latitude (Y) en dégré décimaux'|trans}}... </label>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input" type="text" id="distance" name="distance" />
                            <label class="mdl-textfield__label" for="distance">{{'Distance parcourue'|trans}}... </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn teal" id="send" type="submit" name="send"><i class="material-icons right">send</i><span id="btSend">{{'Démarrer'|trans}}</span></button>
                    <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
                </div>
            </form>
        </div>

        <div id="modalUser" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 id="titre">{{'Choix du patrouilleur'|trans}}</h4><hr/>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" id="divSite">
                        <input class="mdl-textfield__input required" type="text" id="userAdd" name="user" />
                        <label class="mdl-textfield__label" for="userAdd">{{ 'Patrouilleurs'|trans }}... (*)</label>
                    </div>
                    {#<div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <select class="mdl-cell mdl-cell--12-col" name="user" id="userAdd">
                            {% for user in usersAdd %}
                                <option value="{{ user.id }}">{{ user.nom }} {{ user.prenom }}</option>
                            {% endfor %}
                        </select>
                        <label for="userAdd"></label>
                    </div>#}
                </div>
            </div>

            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn teal" id="sendUsers" type="submit" name="sendUsers"><i class="material-icons right">send</i><span id="btSendUsers">{{'Ajouter'|trans}}</span></button>
                <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
            </div>
            <input type='hidden' id="pathadduser" value="{{ path("siren_user_projet_adduser", {'projet' : projet.id, 'userval' : '1'}) }}" />
            <input type='hidden' id="pathremoveuser" value="{{ path("siren_user_projet_removeuser", {'participer' : '1'}) }}" />
            <input type='hidden' id="pathremovepatrouille" value="{{ path("siren_user_patrouille_remove", {'patrouille' : '1'}) }}" />
        </div>

        <div id="modalInfos" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 id="titre">{{'Résumé de la patrouille'|trans}}</h4><hr/>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid" id="recap">
                        <div class="mdl-cell mdl-cell--6-col">{{'ID'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="id_patrouille"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Segment'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="segment"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Site'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="site"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Débutée le'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="debut"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Terminée le'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="fin"></div>
                        {#<div class="mdl-cell mdl-cell--6-col">Distance parcourue : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('distance') }}</div>#}
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Traces'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbTraces"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Nids'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbNids"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Carcasses'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbCarcasses"></div>
                        <div class="mdl-cell mdl-cell--6-col">{% trans %}Nombre d'individus vivants{% endtrans %} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbVivants"></div>
                        <div class="mdl-cell mdl-cell--6-col">{% trans %}Nombre d'individus Morts{% endtrans %} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbMorts"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Public'|trans}} ? </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="public"></div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid" id="waith">
                        <div style="margin:auto;">

                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                {#<a class="modal-action modal-close waves-effect waves-green btn teal" id="plus" target="__blank" href="#"><i class="material-icons right">open_in_new</i><span id="btSend">{{'Voir plus'|trans}}</span></a>#}

            </div>
            <input type='hidden' id="pathget" value="{{ path("siren_user_patrouille_get_patrouille_recap", {'id' : '1'}) }}" />
        </div>
    {% endblock %}

    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                $('.modal').modal();
                $('select').material_select();

                $(".patrouille").click(function (e) {
                    $("#modalInfos").modal("open");
                    $("#recap").hide();
                    $("#waith").show();

                    var id = $(this).attr("id");

                    //Recpération des infos sur la patrouille
                    var pathget = $("#pathget").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + id;
                    $.getJSON(pathget, function(data){
                        if(data['result'] == true){
                            $("#id_patrouille").text(id);
                            $("#segment").text(data["segment"]);
                            $("#site").text(data["site"]);
                            $("#debut").text(data["dateDebut"] + " à " + data["heureDebut"]);
                            $("#fin").text(data["dateFin"] + " à " + data["heureFin"]);
                            $("#nbTraces").text(data["nbTraces"]);
                            $("#nbCarcasses").text(data["nbCarcasses"]);
                            $("#nbNids").text(data["nbNids"]);
                            $("#nbVivants").text(data["nbVivants"]);
                            $("#nbMorts").text(data["nbMorts"]);
                            $("#public").text(data["public"]);
                            
                            $("#waith").hide();
                            $("#recap").fadeIn(2000);
                        }
                    });
                });

                $("#btSendUsers").click(function (e) {
                    if($("#userAdd").val() === ""){
                        Materialize.toast("{% trans %}Sélectionnez un utilisateur{% endtrans %}", 5000, 'rounded');
                        e.preventDefault();
                    }else{
                        var pathadduser = $("#pathadduser").val();
                        var table = pathadduser.split("/");
                        var vals = "";

                        for (var i = 0; i < table.length - 1; i++) {
                            vals += table[i] + "/";
                        }
                        pathadduser = vals + $("#userAdd").val();

                        $.getJSON(pathadduser, function(data){
                            if(data["result"] == true){
                                var html = '<div class="mdl-cell mdl-cell--12-col mdl-shadow--6dp mdl-color--cyan-700 mdl-grid user" id="user-' + data["id"] + '">\n' +
                                                '<div class="mdl-cell mdl-cell--12-col mdl-color-text--white">' + data["nom"] + '</div>\n' +
                                                '<div class="mdl-cell mdl-cell--10-col mdl-color-text--white">' + data["username"] + '</div>\n' +
                                                '<div class="mdl-cell mdl-cell--2-col mdl-color-text--white">\n' +
                                                    '<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del-' + data["id"] + '"><i class="material-icons">delete</i></a>\n' +
                                                '</div>\n' +
                                            '</div>';

                                $("#users").append(html);

                            }
                            else{
                                Materialize.toast("{% trans %}Utilisateur incorrect{% endtrans %}", 5000, 'rounded');
                            }
                            $("#userAdd").val("");
                        });
                    }
                });

                var element = null;
                $(".delete").click(function (e) {
                   element = this;

                    var data = {
                        message: '{{ "Confirmez ?"|trans }}',
                        timeout: 5000,
                        actionHandler: handler,
                        actionText: '{{ "Oui"|trans }}'
                    };
                    var toastCancel = document.querySelector("#toastCancel");
                    toastCancel.MaterialSnackbar.showSnackbar(data);
                });

                $(".deletePat").click(function (e) {
                   element = this;

                    var data = {
                        message: '{{ "Confirmez ?"|trans }}',
                        timeout: 5000,
                        actionHandler: handlerPat,
                        actionText: '{{ "Oui"|trans }}'
                    };
                    var toastCancel = document.querySelector("#toastCancel");
                    toastCancel.MaterialSnackbar.showSnackbar(data);
                });

                var handler = function(event) {
                    var idDel = $(element).attr("id").split("-");
                    idDel = idDel[1];
                    var pathremoveuser = $("#pathremoveuser").val();
                    var table = pathremoveuser.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathremoveuser = vals + idDel;

                    $.getJSON(pathremoveuser, function (data) {
                       if(data["result"] == true){
                           $($(element).parent().parent()).remove();
                       }
                    });
                };

                var handlerPat = function(event) {
                    var idDel = $(element).attr("id").split("-");
                    idDel = idDel[1];
                    var pathremovepatrouille = $("#pathremovepatrouille").val();
                    var table = pathremovepatrouille.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathremovepatrouille = vals + idDel;

                    $.getJSON(pathremovepatrouille, function (data) {
                       if(data["result"] == true){
                           $($(element).parent().parent()).remove();
                           Materialize.toast("{% trans %}Patrouille supprimée{% endtrans %}", 5000, 'rounded');
                       }
                    });
                };

                var getSites = "{{ path('siren_user_projet_site_get', {'id' : projet.id}) }}";
                var getUsers = "{{ path('siren_user_projet_getusers', {'id' : projet.id}) }}";
                var getSegments = "{{ path('siren_user_projet_segment_get', {'id' : projet.id, 'nomSite' : '1'}) }}";

                $.getJSON(getSites, function (data) {
                    if(data["result"] == true){
                        $('#nomSite').autocomplete({
                            data: data["data"],
                            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                            onAutocomplete: function(val) {
                                // Callback function when value is autcompleted.
                                var table = getSegments.split("/");
                                var vals = "";

                                for (var i = 0; i < table.length - 1; i++) {
                                    vals += table[i] + "/";
                                }
                                getSegments = vals + val;

                                $.getJSON(getSegments, function (data) {
                                    if(data["result"] == true){
                                        $('#nomSegment').autocomplete({
                                            data: data["data"],
                                            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                                            onAutocomplete: function(val) {
                                                // Callback function when value is autcompleted.
                                            },
                                            minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.
                                        });
                                    }
                                });
                            },
                            minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.
                        });
                    }
                });

                $.getJSON(getUsers, function (data) {
                    if(data["result"] === true){
                        $('#userAdd').autocomplete({
                            data: data["data"],
                            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                            onAutocomplete: function(val) {
                                // Callback function when value is autcompleted.
                            },
                            minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.
                        });
                    }
                });

                var form = document.getElementById("formPatrouille");

                var required = document.getElementsByClassName("required");
                form.addEventListener("submit", function (e) {
                    //e.preventDefault();
                    //alert("toto");
                    var block = false;
                    for (var i = 0; i < required.length; i++)
                    {
                        if ($(required[i]).val() == "" && $(required[i]).attr("id") != "userAdd")
                        {
                            e.preventDefault();
                            block = true;
                        }
                    }
                    if (block)
                    {
                        //$('#modalCategorie').modal("open");
                        setTimeout(function () {
                            $('#modalType').modal("open");
                        }, 500);
                        Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');

                    }
                });

                $('.date').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    monthsFull: ["{{'Janvier'|trans  }}", "{{'Février'|trans  }}", "{{'Mars'|trans  }}", "{{'Avril'|trans  }}", "{{'Mai'|trans  }}", "{{'Juin'|trans  }}", "{{'Juillet'|trans  }}", "{{'Août'|trans  }}", "{{'Septembre'|trans  }}", "{{'Octobre'|trans  }}", "{{'Novembre'|trans  }}", "{{'Décembre'|trans  }}"],
                    monthsShort: ["{{'Jan'|trans  }}", "{{'Feb'|trans  }}", "{{'Mar'|trans  }}", "{{'Avr'|trans  }}", "{{'Mai'|trans  }}", "{{'Juin'|trans  }}", "{{'Juil'|trans  }}", "{{'Août'|trans  }}", "{{'Sep'|trans  }}", "{{'Oct'|trans  }}", "{{'Nov'|trans  }}", "{{'Dec'|trans  }}"],
                    weekdaysFull: ["{{'Dimanche'|trans  }}", "{{'Lundi'|trans  }}", "{{'Mardi'|trans  }}", "{{'Mercredi'|trans  }}", "{{'Jeudi'|trans  }}", "{{'Vendredi'|trans  }}", "{{'Samedi'|trans  }}"],
                    weekdaysShort: ["{{'Dim'|trans  }}", "{{'Lun'|trans  }}", "{{'Mar'|trans  }}", "{{'Mer'|trans  }}", "{{'Jeu'|trans  }}", "{{'Ven'|trans  }}", "{{'Sam'|trans  }}"],
                    showMonthsShort: false,
                    showWeekdaysFull: false,
                    format: 'dd/mm/yyyy',
                    today: "{{'Aujour.'|trans  }}",
                    clear: "{{'Supp.'|trans  }}",
                    close: "{{'Fermer'|trans  }}",
                    // Accessibility labels
                    labelMonthNext: "{{'Mois suivant'|trans  }}",
                    labelMonthPrev: "{{'Mois précédent'|trans  }}",
                    labelMonthSelect: "{{'Sélectionner un mois'|trans  }}",
                    labelYearSelect: "{{'Sélectionner une année'|trans  }}"
                });



            });
        </script>
    {% endblock %}

