{% if type == 'texte' %}
    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input required selected" type="text" id="reponseText" name="reponseText" valeur="{{ repSolo.id }}" position="{{ position }}" last="{{ idLast }}" />
        <label class="mdl-textfield__label" for="reponseText">{{'Réponse'|trans}}... (*)</label>
    </div>

{% elseif type == 'Photo' %}
    <form class="mdl-cell mdl-cell--12-col" action="{{ path("siren_user_patrouille_save_temp_image", {'num': '0'}) }}" method="post" enctype="multipart/form-data" id="formImage">
        <div class="mdl-cell mdl-cell--12-col file-field input-field mdl-grid">

            <div class="mdl-cell mdl-cell--2-col btn cyan mdl-color-text--white">
                <span class="mdl-color-text--white" id="labelImage">{{'Image'|trans}}*</span>
                <input type="file" id="image" name="image[]" class="selected image" valeur="{{ repSolo.id }}" last="{{ idLast }}" position="{{ position }}" multiple accept="image/*"/>
            </div>
            <div class="mdl-cell mdl-cell--10-col file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>
{% elseif type == 'end' %}
    <div class="mdl-cell mdl-cell--12-col file-field input-field mdl-grid">
        <h4 class="" valeur="end">{{'Observation Terminée'|trans}}</h4>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input selected end" type="text" id="note" name="note" valeur="end" />
        <label class="mdl-textfield__label" for="reponseText">{{'Note'|trans}}...</label>
    </div>
{% else %}

    {% for reponse in liste_reponses %}
        <div class="mdl-cell mdl-cell--12-col mdl-grid" id="rep-{{ reponse.id }}" style="margin-bottom: 15px;">

            <input class="with-gap" name="choix" type="radio" id="reponse-{{ reponse.id }}" />
            <label class="mdl-cell mdl-cell--12-col reponse" for="reponse-{{ reponse.id }}" valeur="{{ reponse.id }}" position="{{ position }}" last="{{ idLast }}">
                {% if reponse.image is not null %}
                    <img src="{{ asset(reponse.image.webPath) }}" style="margin-right: 15px; max-width: 100px; max-height: 100px" />
                {% endif %}
                {{ reponse.valeur(app.request.attributes.get('_locale')) }}
            </label>

        </div>
        {#<a class="mdl-cell mdl-cell--12-col mdl-grid mdl-color-text--black reponse" id="{{ reponse.id }}" href="#">
            <div class="mdl-cell mdl-cell--12-col">
                <i class="material-icons">navigate_next</i>
                {{ reponse.valeur(app.request.attributes.get('_locale')) }}
            </div>
        </a>#}
    {% endfor %}

{% endif %}
