page-ouestanimal {

    :root {
        --color: #1b9eea;
    }
   
    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .blockbuttontextouesanimal{
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: 2px 2px 5px #888888;
        
    }

    .blockbuttontext{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 20%; 
        box-shadow: 5px 5px 5px #888888;
    }

    .blockbutton{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20%;
    }

    .colors{
        background-color: var(--color);
    }

    .number{
        height: 15px;
        width: 80px;
    }

    .moninput{
        width: 100%; 
        height:32px;
        padding-left: 10px;
    }

    .moncardre{
        margin-top: 20px;
        box-shadow: 3px 5px 1px 1px #ccc;
    }

     .monicon{
         margin-left: 20px;
     }

     .premier{
        width: 100px;
        height: 100px;
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 10px;
    }

    

    .cardpremieracceuil{
        background-color: var(--color);
        box-shadow: 3px 3px 5px 6px #ccc;
     }


    .textcard{
        color: #fff;
        text-align: center;
        padding-bottom: 10px;
        
    }

    .monbutonvalide{
        margin-top: 30%;  
     }
}
