{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{'Siren Turtles - Connexion'|trans}}{% endblock %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    </nav>
{% endblock %}

{% block stylepage %}
    <style>

        .demo-card-wide.mdl-card {
            width: 512px;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        .content
        {
            /*border:solid #0F5;*/
            background-color:#FFF;
            padding-top:20px;
        }

    </style>
{% endblock %}

{% block body %} 
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-phone mdl-cell--8-col-tablet mdl-shadow--8dp type">
            {% if error %}
                    <center><h6 class='mdl-color-text--red-500'>{{ error|trans({}, 'FOSUserBundle') }}</h6></center>
                {% endif %}
            <div class="container" >
                <div class="hero-content">
                    <h4>{{'Connexion'|trans}} !!!</h4>
                    <p>"{% trans %}S'il vous plait, remplissez ce formulaire pour accéder à l'espace membre{% endtrans %}"</p>
                </div>
            </div>

            {% block fos_user_content %}
                
                
                <form action="{{ path("fos_user_security_check") }}" method="post" class="col s12">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="username" name="_username" type="text" value="{{ last_username}}"  class="validate" required>
                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        </div>
                        <div class="input-field col s2"></div>
                    </div>   
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                            <i class="material-icons prefix">security</i>
                            <input id="password" name="_password" type="password" class="validate" required>
                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        </div>
                        <div class="input-field col s2"></div>
                    </div>

                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s4">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
                            </label>
                        </div>
                        <div class="input-field col s4">
                            <label for="password">
                                <a class="mdl-label" href="{{ path("fos_user_resetting_request") }}">{{ 'Mot de passe perdu ?'|trans}}</a>
                            </label>
                        </div>
                        <div class="input-field col s2"></div>
                    </div>


                    <div class="row">
                        <div class="input-field col s5"></div>
                        <div class="input-field col s4">
                            <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                        <div class="input-field col s3"></div>
                    </div>

                </form>
            {% endblock fos_user_content %}

        </div>

    </div>
{% endblock %}

