{% extends "::layout.html.twig" %}


{% block title %}Tableau de Bord{% endblock %}

{% block linknavheader %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{#{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Profil</a>
        <a class="mdl-navigation__link navlink" href="#">Mes Patrouilles</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
    </nav>
{% endblock %}#}

{% block stylepage %}
    
    <style>
        /*[type='checkbox'] + label::before{
            border: 2px solid #3f51b5 !important;
        }*/
        [type='checkbox']:checked + label::before{
            border-right: 2px solid #3f51b5 !important;
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus{
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus + label{
            color: #3f51b5 !important;
        }

        .input-field .prefix.active{
            color: #3f51b5 !important;
        }
    </style>
    
    
{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--brown-900">
        <span  style="margin:15px;">
            <center>
                <img src="{{ asset('images/user.png') }} "/>
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.nom }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">MENU PRINCIPAL</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path("fos_user_profile_show") }}">{{'Profil'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_patrouille", {'id' : app.user.id}) }}">{{'Mes Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{'Statistiques'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_userPlus_dashboard") }}">{{'Stat-site'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}">{% trans %}Retour à l'accueil{% endtrans %}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>Accueil</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>Déconnexion</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div></div>
    {% endblock %}

    {% block body %} 
        <body onload="body()">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-grid">
                <form id="previ">
                <div class="mdl-cell mdl-cell--12-col mdl-shadow--8dp mdl-color--brown-700 mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <span class="mdl-layout-title mdl-color-text--teal center">Périodes prévicionnelles</span>
                    </div>
                    <hr class="mdl-cell mdl-cell--12-col white" style="height:3px;"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-grid">
                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-color-text--white" for="Uneannee">
                            <input type="radio" id="Uneannee" class="mdl-radio__button" name="name" value="Uneannee" checked>
                            <span class="mdl-radio__label" style="margin-left: 15px;">Une année</span>
                        </label>

                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-color-text--white" for="Troismois">
                        <input type="radio" id="Troismois" class="mdl-radio__button" name="name" value="Troismois">
                            <span class="mdl-radio__label" style="margin-left: 15px;">Trois mois</span>
                        </label>
                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-color-text--white" for="Unmois">
                            <input type="radio" id="Unmois" class="mdl-radio__button" name="name" value="Unmois">
                            <span class="mdl-radio__label" style="margin-left: 15px;">Un mois</span>
                        </label>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-shadow--8dp mdl-color--brown-700 mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <span class="mdl-layout-title mdl-color-text--teal center">Filtres</span>
                    </div>
                   
                    <hr class="mdl-cell mdl-cell--12-col white" style="height:3px;"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-grid">
                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-color-text--white" for="patrouille">
                            <input type="radio" id="patrouille" class="mdl-radio__button" name="type" value="patrouille" checked>
                            <span class="mdl-radio__label" style="margin-left: 15px;">Patrouilles</span>
                        </label>

                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-color-text--white" for="observation">
                        <input type="radio" id="observation" class="mdl-radio__button" name="type" value="observation">
                            <span class="mdl-radio__label" style="margin-left: 15px;">Observations</span>
                        </label>
                    </div>
                    {#<hr class="mdl-cell mdl-cell--12-col white"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_traces" class="Trace" value="Trace"/>
                            <label for="stat_traces" class="mdl-color-text--white" style="margin-left: 15px;">{{'Traces'|trans}}</label>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_nids" class="Nid" value="Nid"/>
                            <label for="stat_nids" class="mdl-color-text--white" style="margin-left: 15px;">{{'Nids'|trans}}</label>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_vivants" class="Individu" value="Individu" />
                            <label for="stat_vivants" class="mdl-color-text--white" style="margin-left: 15px;">{{'Individu'|trans}}</label>
                        </div>

                       <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_morts" class="Individu" value="Individu"/>
                            <label for="stat_morts" class="mdl-color-text--white" style="margin-left: 15px;">Individus morts</label>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_caracasses" class="blue" value="Carcasse"/>
                            <label for="stat_caracasses" class="mdl-color-text--white" style="margin-left: 15px;">{{'Carcasses'|trans}}</label>
                        </div>
                    </div>#}
                    <input id="url" type="hidden" value="{{ path("siren_statUserTemps") }}">
                    <input id="id" type="hidden" value="{{ app.user.id }}">
                    <hr class="mdl-cell mdl-cell--12-col white"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <button name="submit" class="submit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect teal mdl-color-text--white right">
                            {{'Générer'|trans}}
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-grid" style="height: 100%">
               <div id="prevision"></div> 
            </div>
            
        </div>
       </body>  
    {% endblock %}

    {% block scriptpage %}

        <script src="{{ asset('js/newpreviUser.js') }}"></script>
        <script src="{{ asset('js/scriptpreviUser.js') }}"></script> 
        
    {% endblock %}

