{% extends "FOSUserBundle:Registration:register.html.twig" %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-phone mdl-cell--10-col-tablet mdl-shadow--10dp type">
            <div class="container" >
                <div class="hero-content">
                    <center><h4>{{'Enregistrement terminé'|trans}}</h4></center>
                </div>
            </div>
            {% block fos_user_content %}
                    <div class="row">
                        <div class="input-field col s12">
                            <center><i class="material-icons green-text">verified_user</i></center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <center><p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p></center>
                        {% if app.session is not empty %}
                            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5"></div>
                        <div class="input-field col s4">
                            
                                <a class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect white-text" href="{{ path("fos_user_security_login") }}">{{'Se connecter'|trans}}</a>
                            
                        </div>
                        <div class="input-field col s3"></div>
                    </div>
                    
                    
                
            {% endblock fos_user_content %}
                    
         </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
{% endblock %}

