
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="row">
            <div class="field col s3"></div>
                <div class="field col s6">
                    {{ form_widget(form) }}
                </div>
            <div class="field col s3">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s5"></div>

            <div class="input-field col s2">
                <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                     {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
                </button>
            </div>
            <div class="input-field col s5"></div>
         </div>
    </form>


