{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{'Siren Turtles - Connexion'|trans}}{% endblock %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{path("SirenTortue_homepage_stat")}}">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Se connecter'|trans}}</a>
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{path("SirenTortue_homepage_stat")}}">{{'Statistiques'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Se connecter'|trans}}</a>
    </nav>
    </nav>
{% endblock %}

{% block stylepage %}
    <style>

        .demo-card-wide.mdl-card {
            width: 512px;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        .content
        {
            /*border:solid #0F5;*/
            background-color:#FFF;
            padding-top:20px;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-grid mdl-cell--10-col-phone mdl-cell--10-col-tablet mdl-shadow--10dp type">
            <div class="mdl-cell mdl-cell--12-col" >
                <div class="hero-content">
                    <h4>{% trans %}S'enregistrer{% endtrans%}</h4>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-grid" >
                {% block fos_user_content %}
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" id="form">
                     {{ form_widget(form._token) }}
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.username, {'id' : 'username', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.username, "Nom d'utilisateur *"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.username) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.email, {'id' : 'email', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.email, "Adresse email *"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.email) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.plainPassword, {'id' : 'plainPassword', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.plainPassword) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.prenom, {'id' : 'prenom', 'attr': {'class': 'mdl-textfield__input'} }) }}
                            {{ form_label(form.prenom, "Prénom"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.prenom) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.nom, {'id' : 'nom', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.nom, "Nom"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.nom) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.ville, {'id' : 'ville', 'attr': {'class': 'mdl-textfield__input'} }) }}
                            {{ form_label(form.ville, "Ville"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.ville) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col input-field" id="divPays">
                            {{ form_widget(form.pays, {'id' : 'pays' }) }}
                            {{ form_label(form.pays, "Pays"|trans, {'label_attr': {'for': 'pays'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.pays) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.telephone, {'id' : 'telephone', 'attr': {'class': 'mdl-textfield__input'} }) }}
                            {{ form_label(form.telephone, "Numero de téléphone (sans indicatif)"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.telephone) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.organisation, {'id' : 'organisation', 'attr': {'class': 'mdl-textfield__input'} }) }}
                            {{ form_label(form.organisation, "Organisation"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.organisation) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col file-field input-field mdl-grid">
                            <div class="mdl-cell mdl-cell--2-col btn cyan mdl-color-text--white" id="divImage">
                                <span class="mdl-color-text--white" id="labelImage">{{'Photo'|trans}}</span>
                                {{ form_widget(form.image, {'id' : 'avatar'}) }}
                            </div>
                            <div class="mdl-cell mdl-cell--10-col file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col mdl-grid">
                            <div class="mdl-cell mdl-cell--5-col "></div>

                            <div class="mdl-cell mdl-cell--2-col ">
                                <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                    {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cell--5-col "></div>
                        </div>
                    </form>

                {% endblock fos_user_content %}
            </div>
         </div>
{% endblock %}

        {% block scriptpage %}
            <script>
                $(document).ready(function () {
                    $($($("#avatar").children()[0]).children()[0]).remove();
                    $('.modal').modal();
                    $('select').material_select();
                    $("label").removeClass("required");
                    $("div").removeClass("required");
                    $("input[type='file']").removeAttr("required");
                    $("input[type='file']").attr("accept", "image/*");

                    var form = document.getElementById("form");

                    var required = document.getElementsByClassName("required");
                    form.addEventListener("submit", function (e) {
                        //e.preventDefault();
                        //alert("toto");
                        var block = false;
                        for (var i = 0; i < required.length; i++)
                        {
                            if (required[i].nodeName != "LABEL" && $(required[i]).val() == "")
                            {
                                e.preventDefault();
                                block = true;
                            }
                        }
                        if (block)
                        {
                            Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');
                        }
                    });
                 });
            </script>
        {% endblock %}