<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %} {{ 'Siren Turtles - Accueil'|trans }} {% endblock %}</title>

    {% block referencement %}
        <meta property="og:title"
              content="Siren Tortles - Plateforme de collecte et d'études statistiques sur les tortues marines"/>
        <meta property="og:description" content=""/>
        <meta name="theme-color" content="#0097a7">
        <meta property="og:image" content="{{ asset('images/logo.ico') }}" />
        {#<meta property="og:url" content="http://adeb-adamaoua.com/" />#}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}"/>
        <link rel="stylesheet" href="{{ asset('materialize/css/materialize2.css') }}"/>
        <link rel="stylesheet" href="{{ asset('mdl/material3.css') }}"/>
        <!--<link rel="stylesheet" href="{{ asset('jquery/jquery-ui.css') }}"/>-->
        <link rel="icon" href="{{ asset('images/logo.ico') }}" sizes="16x16"/>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('jquery/jquery-2.1.0.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('materialize/js/materialize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('mdl/material.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/json2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/pagination.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block stylepage %}
    <style>
        #langue > li {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block layout %}
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
{% endblock %}
    {% block header %}
        <header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--cyan-700 mdl-shadow--8dp">
            <!-- Top row, always visible -->

            <div class="mdl-layout__header-row">
                <!-- Title -->
                {% block titreheader %}<span class="mdl-layout-title"><a href="{{ path('SirenTortue_homepage') }}"
                                                                         class="mdl-color-text--white"><img
                                src="{{ asset('images/logo.jpg') }}" style="margin-right: 10px;"/>
                                    Siren Turtles </a></span>
                {% endblock %}
                <div class="mdl-layout-spacer"></div>

                {% block linkrow1 %}
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li>
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
            {% block linkrow2 %}
                <!-- Bottom row, not visible on scroll -->
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation -->

                    {% block linknavheader %}
                        <nav class="mdl-navigation">

                        </nav>
                    {% endblock %}
                </div>
            {% endblock %}
        </header>
    {% endblock %}
    {% block drawer %}
        <div class="mdl-layout__drawer mdl-color--cyan-900">
            <span class="mdl-layout-title mdl-color-text--white">{% block titredrawer %} Siren Turtles {% endblock %}</span>
            {% block linknavdrawer %}
                <nav class="mdl-navigation">

                </nav>
            {% endblock %}
        </div>
    {% endblock %}
    <main class="mdl-layout__content" style="height: 100%">
        <div class="page-content" style="height: 100%">
            {% block body %}
                {# On affiche les messages flash que définissent les contrôleurs du bundle #}
                {% for key, message in app.session.flashbag.all() %}
                    <div class="alert alert-{{ key }}">
                        {{ message|trans(0, 'FOSUserBundle') }}
                    </div>
                {% endfor %}

                {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            {% endblock %}
        </div>
    </main>
{% block endlayout %} </div> {% endblock %}
{% block modal %}
{% endblock %}
{% block scriptlib %}
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAynDbAhqx8Xj7aTyADvr6br02-R4Clkz0",
            authDomain: "siren-tortles.firebaseapp.com",
            databaseURL: "https://siren-tortles.firebaseio.com",
            projectId: "siren-tortles",
            storageBucket: "siren-tortles.appspot.com",
            messagingSenderId: "966875701200"
        };
        firebase.initializeApp(config);
    </script>
{% endblock %}
{% block scriptpage %}
    <script>
    </script>
{% endblock %}


</body>

</html>
