page-connexion {
    

    .logo{
      
        position: center;
        margin-left: 37%;
        margin-top: 20%;
        margin-bottom: 0%;
        cursor: pointer;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        padding: 0;
        border: none;
        border-radius: 50%;
    }

    .textelogin{
        color: rgba(255, 255, 255, 0.8);
         margin-bottom: 0%;
         padding-bottom: 8%;
         text-align: center;
    }


    .formlogin{
            margin-left: 10%;
            margin-right: 10%; 
    }

    .texte2{
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 0%;
        padding-bottom: 12%;
        font-size: 10px;
        margin-left: 20%;
    }


    .blockbutton{
        margin-left: 10%;
        margin-right: 10%;
    }


    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

      
    input{
        width: 100%;
        color: #fff;
    }

    .formlogin2{
        margin-left: 10%;
        margin-right: 10%;
    }
    .colors{
        background-color: #488aff;
        height: 30px;
    }
   
    .monimput{
        margin-top: 5px;
        margin-left: 25px; 
        margin-right: 20px;
        width: 300px;
    }
   
  
}
