<ion-content class="background">

    <div class="logologin">
        
        <img class="logo" src="assets/imgs/logo.png">   
        <p class="textelogin">Siren</p>
   </div>
 
  
    <ion-input class="monimput" type="text" type="text" [(ngModel)]="utilisateur.login"  placeholder=" Email ou téléphone" style="background: transparent;  color: #fff;">
    </ion-input> 
    <hr style=" background-color: #fff; height: 1px; margin-top: 2px; margin-left: 33px; margin-right: 38px;">
     
    <ion-input class="monimput" type="password" [(ngModel)]="utilisateur.password" placeholder=" Mot de passe" style="background: transparent; color: #fff;">
      </ion-input> 
      <hr style=" background-color: #fff; height: 1px; margin-top: 2px; margin-left: 33px; margin-right: 38px;">
     
    
  
   <ion-row>
      <ion-col>
        <a (click)="inscription()"><p class="texte2">nouveau ? s'incrire</p></a>
      </ion-col>
      <ion-col>
        <a (click)="forguetPassword()"><p class="texte2"> mots de passe oublié? </p></a>
      </ion-col>
   </ion-row>
  
   

  <div class="blockbutton">
    <button  ion-button class="colors"  block (click)="login(utilisateur)">
      CONNEXION
    </button>
  </div>

</ion-content>
