{% extends "::layout.html.twig" %}


{% block title %}{{'Tableau de Bord'|trans}}{% endblock %}

{% block linknavheader %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{#{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Profil</a>
        <a class="mdl-navigation__link navlink" href="#">Mes Patrouilles</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
    </nav>
{% endblock %}#}

{% block stylepage %}
    
    <style>
        /*[type='checkbox'] + label::before{
            border: 2px solid #3f51b5 !important;
        }*/
        [type='checkbox']:checked + label::before{
            border-right: 2px solid #3f51b5 !important;
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus{
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus + label{
            color: #3f51b5 !important;
        }

        .input-field .prefix.active{
            color: #3f51b5 !important;
        }
    </style>
    
    
{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
       
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PRINCIPAL'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_homePlus_dashboard") }}">{{'Stat-site'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_homeTemps_dashboard") }}">{{'Stat-temps'|trans}}</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="mdl-navigation__link navlink" href="{{path("siren_user_dashboard")}}">{{'Mon Profil'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
            {% else %}    
                <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
            {% endif %}
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}">{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{path("SirenTortue_homepage_stat")}}">{{'Statistiques'|trans}}</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="mdl-navigation__link navlink" href="{{path("siren_user_dashboard")}}">{{'Mon Profil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        {% else %}    
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
        {% endif %}
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div></div>
    {% endblock %}

    {% block body %} 
        <body onload="process()">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-shadow--8dp mdl-color--cyan-700 mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <span class="mdl-layout-title mdl-color-text--black center">{{'Mes Statistiques'|trans}}</span>
                    </div>
                    <hr class="mdl-cell mdl-cell--12-col white" style="height:3px;"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-color-text--white">
                        <span>{% trans %}Nombre d'observations total{% endtrans %} : </span> <span><b class="valstat mdl-color-text--black">37</b></span><br/>
                        <span>{{'Nombre de patrouilles total'|trans}} : </span> <span><b class="valstat mdl-color-text--black">10</b></span><br/>
                        <span>{{'Nombre de Segments'|trans}} : </span> <span><b class="valstat mdl-color-text--black">37</b></span>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-shadow--8dp mdl-color--cyan-700 mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <span class="mdl-layout-title mdl-color-text--black center">{{'Filtres'|trans}}</span>
                    </div>
                   <form id = 'form'>
                    <hr class="mdl-cell mdl-cell--12-col white" style="height:3px;"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-grid">
                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-color-text--white" for="patrouille">
                            <input type="radio" id="patrouille" class="mdl-radio__button patrouille" name="type" value="patrouille" checked>
                            <span class="mdl-radio__label" style="margin-left: 15px;">{{'Patrouilles'|trans}}</span>
                        </label>

                        <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-color-text--white" for="observation">
                        <input type="radio" id="observation" class="mdl-radio__button observation" name="type" value="observation">
                            <span class="mdl-radio__label" style="margin-left: 15px;">{{'Observations'|trans}}</span>
                        </label>
                    </div>
                    <hr class="mdl-cell mdl-cell--12-col white"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_traces" class="Trace" value="Trace"/>
                            <label for="stat_traces" class="mdl-color-text--white" style="margin-left: 15px;font-size: 1.5rem;">{{'Traces'|trans}}</label>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_nids" class="Nid" value="Nid"/>
                            <label for="stat_nids" class="mdl-color-text--white" style="margin-left: 15px;font-size: 1.5rem;">{{'Nids'|trans}}</label>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_vivants" class="Individu" value="Individu" />
                            <label for="stat_vivants" class="mdl-color-text--white" style="margin-left: 15px;font-size: 1.5rem;">{{'Individu'|trans}}</label>
                        </div>

                       {#<div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_morts" class="Individu" value="Individu"/>
                            <label for="stat_morts" class="mdl-color-text--white" style="margin-left: 15px;">Individus morts</label>
                        </div>#}

                        <div class="mdl-cell mdl-cell--12-col">
                            <input type="checkbox" id="stat_caracasses" class="blue" value="Carcasse"/>
                            <label for="stat_caracasses" class="mdl-color-text--white" style="margin-left: 15px;font-size: 1.5rem;">{{'Carcasses'|trans}}</label>
                        </div>
                    </div>
                    <hr class="mdl-cell mdl-cell--12-col white"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="input-field mdl-cell mdl-cell--12-col mdl-color-text--white">
                            <i class="material-icons prefix">today</i>
                            <input id="datedebut" type="text" class="validate date datepicker datedebut">
                            <label for="datedebut">{{'Date Début'|trans}}</label>
                        </div>

                        <div class="input-field mdl-cell mdl-cell--12-col mdl-color-text--white">
                            <i class="material-icons prefix">event</i>
                            <input id="datefin" type="text" class="validate date datepicker datefin">
                            <label for="datefin">{{'Date Fin'|trans}}</label>
                        </div>
                    </div>
                    <input id="url" type="hidden" value="{{ path("siren_stat_homepage") }}">
                    <hr class="mdl-cell mdl-cell--12-col white"/>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <button name='submit' class="submit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect teal mdl-color-text--white right">
                            {{'Générer'|trans}}
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-grid" style="height: 100%">
               <div id="afficher"></div> 
            </div>
            
        </div>
       </body>  
    {% endblock %}

    {% block scriptpage %}
        
        <script>
            $(document).ready(function () {

                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthsShort: ['Jan', 'Feb', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
                    weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    showMonthsShort: false,
                    showWeekdaysFull: false,
                    format: 'dd/mm/yyyy'
                    ,
                    today: 'Aujour.',
                    clear: 'Supp.',
                    close: 'Fermer',
                    // Accessibility labels
                    labelMonthNext: 'Mois suivant',
                    labelMonthPrev: 'Mois précédent',
                    labelMonthSelect: 'Sélectionner un mois',
                    labelYearSelect: 'Sélectionner une année'
                });
            });
        </script>
        <script src="{{ asset('js/new.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
         
        
    {% endblock %}
