{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Sélectionner le groupe'|trans}}</h2>
                                    </div>
                                    <div class="card-block ">
                                        <form class="form-horizontal m-t-sm" action="{{ path('observations_groupe') }}" method="post" enctype="multipart/form-data" >
                                          {% for groupe in groupes %}
                                              <div class="radio btn btn-success col-sm-4 text-center" style="text-align:left; border: 2px #ffffff solid"  >
                                                <label for="contenu{{ groupe.id }}" style="padding-left:0; text-align: center;">
                                                    <img for="contenu{{ groupe.id }}"
                                                        src="{{ app.request.basePath }}/images/groupes/{{ groupe.image }}"
                                                        alt="{{ groupe.nomFr }}"
                                                        class="img img-responsive"
                                                        />
                                                    <input  type="radio" id="contenu{{ groupe.id }}" name="groupe" value="{{ groupe.id }}" />&ensp;<b class="text-center fa-1-5xx">{{ groupe.nomFr }}</b>
                                                </label>
                                            </div>
                                          {% endfor %}
                                                
                                         <input type="hidden" id="rep" name="rep" value="1" />
                                               
                                        <input type="hidden" id="observation" name="observation" value="{{ observation }}" />
                                        
                                        <div class="form-group m-b-0" style="clear: both;margin-top:20px;">
                                                <div class="col-xs-12"><br/><br/>
                                                    <button class="btn btn-app-teal btn-block center-block" type="submit">{{'Suivant'|trans}} &ensp; <i class="fa fa-arrow-circle-o-right"></i></button>
                                                </div>
                                        </div>
                                        <br/>
                                        <div class="form-group m-b-0">
                                                <div class="col-xs-12">
                                                    <a class="btn btn-primary" href="{{ path('observations_index0', { 'page': 1 }) }}
                                    

                                   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

