{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resultats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td><a href="{{ path('resultats_show', { 'id': resultat.id }) }}">{{ resultat.id }}</a></td>
                <td>{{ resultat.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('resultats_show', { 'id': resultat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('resultats_edit', { 'id': resultat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resultats_new') }}">Create a new resultat</a>
        </li>
    </ul>
{% endblock %}
