{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{ question.titreFr }}</h2>
                                    </div>
                                    <div class="card-block ">
                                        <form class="form-horizontal m-t-sm" action="{{ path('resultats_add') }}" method="post" enctype="multipart/form-data" >
                                        
                                        {% if type==1 %}
                                            <div class="form-group bg-white">
                                                <div class="col-xs-12">
                                                    <div class="form-material">
                                                        <input class="form-control bg-white" type="integer" id="contenu" name="contenu" placeholder="{{ question.titreFr }}" onblur="return verif({{ question.intervale }});"/>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <label class="col-xs-12">{{ question.titreFr }}</label><br/><br/>
                                              <div class="form-group">
                                                <div class="col-xs-12">
                                                    {% for reponse in reponses %}
                                                        <div class="radio btn btn-success btn-block" style="text-align:left;" >
                                                            <label for="contenu{{ reponse.id }}" >
                                                                <input  type="radio" id="contenu{{ reponse.id }}" name="contenu" value="{{ reponse.id }}" /> &emsp;{{ reponse.titreFr }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                         <input type="hidden" id="rep" name="rep" value="1" />
                                               
                                        {% endif %}
                                        <input type="hidden" id="type" name="type" value="{{ type }}" />
                                        <input type="hidden" id="observation" name="observation" value="{{ observation }}" />
                                        <input type="hidden" id="question" name="question" value="{{ question.id }}" />
                                        <br/>
                                        <div class="form-group m-b-0">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-app-teal btn-block center-block" type="submit">{{'Suivant'|trans}} &ensp; <i class="fa fa-arrow-circle-o-right"></i></button>
                                                </div>
                                        </div>
                                        <br/>
                                        <div class="form-group m-b-0">
                                                <div class="col-xs-12">
                                                    <a class="btn btn-primary" href="{{ path('observations_index0', { 'page': 1 }) }}" ><i class="fa fa-remove"></i> &emsp;{{'Annuler'|trans}}</a>
                                                </div>
                                        </div>
                                   </form>
                                    

                                   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

