<ion-header>
  <navbar [title]= "'Siren'" ></navbar>
</ion-header>


<ion-content padding class="backgroundcorps">

    <p class="titre">{{ 'RECAPITULATIF' | translate }}</p>

    <br>
   

    <ion-row>
       <ion-col class="dateheure2" *ngIf="langue==0">
          Date et heure :
       </ion-col>
       <ion-col class="dateheure2" *ngIf="langue==1">
        Date and time :
       </ion-col>
       <ion-col class="dateheure3">
         {{madate  | date: 'dd/MM/yyyy H:mm' }}
       </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="dateheure2" *ngIf="langue==0">
          Localisation :
        </ion-col>
        <ion-col class="dateheure2" *ngIf="langue==1">
          Localisation :
        </ion-col>
        <ion-col class="dateheure3">
          {{latitude}}  | {{longitude}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="dateheure2" *ngIf="langue==0">
          Type d'observation :
        </ion-col>
        <ion-col class="dateheure2" *ngIf="langue==1">
          Observation Type:
        </ion-col>
        <ion-col class="dateheure3">
          {{typeobservation}}
        </ion-col>
    </ion-row>
    <ion-row *ngIf="testeur == 1">
        <ion-col class="dateheure2">
          Groupe :
        </ion-col>
        <ion-col class="dateheure3">
          {{groupe}}
        </ion-col>
    </ion-row>
    <ion-row *ngIf="testeur == 1"> 
        <ion-col class="dateheure2">
          Sous-groupe :
        </ion-col>
        <ion-col class="dateheure3">
          {{sous_groupe}}
        </ion-col>
    </ion-row>
    <ion-row *ngIf="testeur == 1">
        <ion-col class="dateheure2">
          Espèce :
        </ion-col>
        <ion-col class="dateheure3">
          {{espece}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="dateheure2" *ngIf="langue==0">
          Description :
        </ion-col>
        <ion-col class="dateheure2" *ngIf="langue==1">
          Description :
        </ion-col>
        <ion-col class="dateheure3">
          {{description}}
        </ion-col>
    </ion-row>

    <ion-row *ngIf="question!=0">
        <ion-col class="dateheure2">
          {{question}}
        </ion-col>
        <ion-col class="dateheure3">
          {{reponse}}
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of listequestions">
        <ion-col class="dateheure2">
          {{item.questions.titre_fr}}
        </ion-col>
        <ion-col class="dateheure3">
          {{item.titre_fr}}
        </ion-col>
    </ion-row>

    <ion-row class="monbutonvalide">
      <ion-col>
        <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
      </ion-col>
      <ion-col >
        <button style="margin-left: 70%;" (click)="showActionsheet()" ion-fab right bottom  color="positive"> <ion-icon name="md-checkmark"></ion-icon> </button>
      </ion-col>
    </ion-row>


    
    

</ion-content>
