page-sirin {


    :root {
        --color: #1b9eea;
    }

    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .blockbuttontextouesanimal{
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: 2px 2px 5px #888888;
        
    }

    .blockbuttontext{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 20%; 
        box-shadow: 5px 5px 5px #888888;
    }

    .blockbutton{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20%;
    }

    .colors{
        background-color: var(--color);
    }

    .number{
        height: 15px;
        width: 80px;
    }

    .moninput{
        width: 100%; 
        height:32px;
        padding-left: 10px;
    }

    .moncardre{
        margin-top: 20px;
        box-shadow: 3px 5px 1px 1px #ccc;
    }

     .monicon{
         margin-left: 20px;
     }

     .mebouttons{
         margin-left: 25%;
     }

     .formlogin{
                margin-left: 3%;
                margin-right: 3%;   
      }

      .titre{
          text-align: center;
          font-size: 15px;
          margin-top: 50px;
      }

      .dateheure2{
            margin-left: 15px;
            margin-top: 10px;
            width: 50%;
            overflow: hidden;
        }
        
        .dateheure3{
            margin-top: 10px;
            color: red;
            width: 50%;
            overflow: hidden;
        }

       

        .monbutonvalide{
            margin-top: 30%;  
        }
        

}
