{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-12 col-md-12 ">
                                <!-- Material Login -->
                                <h2 class="section-title">{%trans%}Gérer les utilisateurs{% endtrans %}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                Liste des utilisateurs
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom'|trans}}</th>
                <th>{{'Email'|trans}}</th>
                <th>{{'Pays'|trans}}</th>
                <th>{{'Ville'|trans}}</th>
                <th>{{'Téléphone'|trans}}</th>
                <th>{{'Fonction'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateurs_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.pays.nomFr }}</td>
                <td>{{ utilisateur.ville }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.fonctions.nomFr }}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('utilisateurs_show', { 'id': utilisateur.id }) }}"><i class="fa fa-list"></i></a>
                    
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
