{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une utilisateur'|trans}}</h2>
                                        <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom'|trans}}/th>
                <td>{{ utilisateur.username }}</td>
            </tr>
            <tr>
                <th>{{'Email'|trans}}</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>{{'Pays'|trans}}</th>
                <td>{{ utilisateur.pays.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Ville'|trans}}</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>{{'Téléphone'|trans}}</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
            <tr>
                <th>{{'Fonction'|trans}}</th>
                <td>{{ utilisateur.fonctions.nomFr }}</td>
            </tr>
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('utilisateurs_index') }}">{{'Revenir à la liste'|trans}}</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

