<div class="fos_user_user_show">
    <div class="row">
        <div class="input-field col s1">
            <i class="material-icons prefix">perm_identity</i>
        </div>
        <div class="input-field col s4">
            <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        </div>
    </div>
        <div class="input-field col s1"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s4">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s7">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.prenom }}</p>
        </div>
        <div class="input-field col s2"></div>
    </div>
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s7">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.nom }}</p>
        </div>
        <div class="input-field col s2"></div>
    </div>
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s7">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.organisation }}</p>
        </div>
        <div class="input-field col s2"></div>
    </div>
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s7">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.telephone }}</p>
        </div>
        <div class="input-field col s2"></div>
    </div>
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s7">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.pays.nom }}</p>
        </div>
        <div class="input-field col s2"></div>
    </div>
    
    
</div>
