<ion-header>
    <navbar [title]= "titrequestion" ></navbar>
</ion-header>


<ion-content class="backgroundcorps">


     <div class="blockbuttontext">
        <input class="moninput" [(ngModel)]="donnees.mareponse" type="number"   placeholder="{{titrequestion}}">
     </div>

     <br>
     <br>
     
     <div class="blockbutton">
        <button  ion-button class="colors"  block (click)="ouestlanimal(donnees)">
            {{ 'SUIVANT' | translate }}
            <ion-icon name="arrow-forward" float-right class="monicon"></ion-icon>
        </button>
     </div>

     <ion-row class="monbutonvalide">
        <ion-col>
          <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
        </ion-col>
    </ion-row>

</ion-content>
