page-nombrepetit {
    :root {
        --color: #1b9eea;
    }
    
    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    .blockbuttontext{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 20%; 
        box-shadow: 5px 5px 5px #888888;
    }

    .blockbutton{
        margin-left: 10%;
        margin-right: 10%;
    }

    .colors{
        background-color: var(--color);
    }

    .number{
        height: 15px;
        width: 80px;
    }

    .moninput{
        width: 100%; 
        height:32px;
        padding-left: 10px;
    }

    .monicon{
        margin-left: 20px;
    }

    .formlogin{
        margin-left: 10%;
        margin-right: 10%;   
    }

    .monbutonvalide{
        margin-top: 30%;  
     }


}
