{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
                    <div class="container-fluid p-y-md">
                        <!-- Stats -->
                        <div class="row">
						<div class="col-sm-10 col-sm-offset-1 row">
						
                                                    <h2 class="section-title col-sm-12">{{'Statistique avancée'|trans}}</h2>
						
                            
                            <div class="col-sm-6 col-md-4">
                                <a class="card bg-green bg-inverse" href="{{ path('observations_index1', { 'page': 1 }) }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Observations validées'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ observations1 }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-eye fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                             <div class="col-sm-6 col-md-4">
                                <a class="card bg-orange bg-inverse" href="{{ path('observations_index0', { 'page': 1 }) }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Observations en attende'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ observations2 }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-eye fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .col-sm-6 -->

                            <div class="col-sm-6 col-md-4">
                                <a class="card bg-blue bg-inverse" href="{{ path('groupes_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Groupes'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ groupes }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-android-expand fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .col-sm-6 -->

                            <div class="col-sm-6 col-md-4">
                                <a class="card bg-purple bg-inverse" href="{{ path('sous_groupes_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Sous Groupes'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ sous_groupes }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-keypad fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
							<div class="col-sm-6 col-md-4">
                                <a class="card bg-red bg-inverse" href="{{ path('especes_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Espèces'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ especes }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-social-buffer fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
							<div class="col-sm-6 col-md-4">
                                <a class="card bg-orange bg-inverse" href="{{ path('pays_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Pays'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ pays }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-paw fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
							<div class="col-sm-6 col-md-4">
                                <a class="card bg-teal bg-inverse" href="{{ path('questions_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Questions'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ questions }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-bag fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
							<div class="col-sm-6 col-md-4">
                                <a class="card bg-cyan bg-inverse" href="{{ path('utilisateurs_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Utilisateurs'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ utilisateurs }}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-people fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
							
							<div class="col-sm-6 col-md-4">
                                <a class="card bg-green bg-inverse" href="{{ path('notifications_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Notifications'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ notifications}}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-email fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .col-sm-6 -->
                            <div class="col-sm-6 col-md-4">
                                <a class="card bg-blue bg-inverse" href="{{ path('menu_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Menu'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ menu}}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-list fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .col-sm-6 -->
                            <div class="col-sm-6 col-md-4">
                                <a class="card bg-red bg-inverse" href="{{ path('marche_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Annonce marché'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ marche}}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-bag fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .col-sm-6 -->
                            <div class="col-sm-6 col-md-4">
                                <a class="card bg-green bg-inverse" href="{{ path('boussole_index') }}">
                                    <div class="card-block clearfix">
                                        <div class="pull-right">
                                            <p class="h6 text-muted m-t-0 m-b-xs">{{'Boussole'|trans}}</p>
                                            <p class="h3 m-t-sm m-b-0">{{ boussole}}</p>
                                        </div>
                                        <div class="pull-left m-r">
                                            <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-paw fa-1-5x"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- .col-sm-6 -->
						</div>
                        </div>
                        <!-- .row -->
                        <!-- End stats -->

						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

