{% extends "SirenAppBundle::layout.html.twig" %}

{#{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Accueil</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}">Deconnexion</a>
    </nav>
{% endblock %}#}

{#{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Profil</a>
        <a class="mdl-navigation__link navlink" href="#">Mes Patrouilles</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
    </nav>
{% endblock %}#}

{% block stylepage %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

   <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
   {# <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">#}
   {# <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">#}

{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                <img src="{{ asset('images/admin.png') }} "/>
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU UTILISATEURS'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="#">{{'Ajouter un utilisateur'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path('siren_useradmin_patrouille') }}">{{'Gestion des Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_home") }}"> {{'Retour au menu principal'|trans}} </a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="#"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div></div>
    {% endblock %}

    {% block body %} 
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-shadow--12dp type">
                
                  <div class="container" >
                    <div class="hero-content">
                        <h3>{% trans %}S'inscrire {% endtrans %}</h3>
                    </div>
                  </div>
                     {% block fos_user_content %}
                        <form class="fos_user_registration_register" action="{{ path('fos_user_registration_register') }}" method="POST">
                            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="RTgiI1PRXLCjxOY8sNH_H5N9J0tuDq07Z7IaaawQNR4" />
                          <div class="col-xs-6">
                              
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="nom" name="_nom" type="text" >
                                    <label for="nom">{{ 'nom'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>  
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">mail</i>
                                    <input id="email" name="_email" type="email" >
                                    <label for="email">{{ 'email'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">local_phone</i>
                                    <input id="numTel" name="_numTel" type="number">
                                    <label for="numTel" class="required">{{ 'Numéro de téléphone'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="username" name="_username" type="text"  >
                                    <label for="username">{{ 'pseudo'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>
                            
                          </div>
                          <div class="col-xs-6">
                            
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">security</i>
                                    <input id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" type="password" class="validate" required >
                                    <label for="fos_user_registration_form_plainPassword_first" class="required">{{ 'Mot de passe'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">security</i>
                                    <input id="fos_user_registration.plainPassword_second" name="fos_user_registration_form[plainPassword][second]" type="password" class="validate" required >
                                    <label for="fos_user_registration_form_plainPassword_second" class="required">{{ 'Vérification'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">chat</i>
                                    <input id="facebook" name="_facebook" type="text">
                                    <label for="facebook" class="required">{{ 'Facebook'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">chat</i>
                                    <input id="twitter" name="_twitter" type="text">
                                    <label for="twitter" class="required">{{ 'Twitter'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <div class="input-field col s1"></div>
                            </div>

                          </div>
                            <div class="row">
                                <div class="input-field col s5"></div>
                                
                                <div class="input-field col s2">
                                    <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                         {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
                                    </button>
                                </div>
                                <div class="input-field col s5"></div>
                            </div>
                            <input id="fos_user_registration_form_pays_id" name="fos_user_registration_form[pays_id]" type="hidden" value="NULL" >
                            <input id="fos_user_registration_form_image_id" name="fos_user_registration_form[image_id]" type="hidden" value="NULL" >
                            <input id="fos_user_registration_form_pays_id" name="fos_user_registration_form[pays_id]" type="hidden" value="NULL" >
                      </form>
                    {% endblock fos_user_content %}
                    
            </div>
            

        </div>
    {% endblock %}

    {% block scriptpage %}

        <script src="{{ asset('plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('plugins/fastclick/fastclick.min.js') }}"></script>
        <script src="{{ asset('dist/js/app.min.js') }}"></script>
        <script src="{{ asset('dist/js/demo.js') }}"></script>
        <script>
          $(function () {
            $("#example1").DataTable();
          });
        </script>
    {% endblock %}

{# empty Twig template #}
