{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une observation'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Etat</th>
                <td>{% if observation.etat==0 %}
                        <b class="btn btn-danger center-block">{{'En attente de validation'|trans}} &emsp;<i class="fa fa-refresh"></i></b>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
                        {% if is_granted('ROLE_ADMIN') %}
                             &emsp;<a class="btn btn-success center-block" href="{{ path('observations_valider', { 'id': observation.id }) }}">{{'Validé'|trans}} <i class="fa fa-check-circle-o"></i> </a>
                            
                        {% endif %}
                    {% endif %}
                    
                        {% else %}
                         <b class="btn btn-success center-block">{{'Observation validé'|trans}} &emsp;<i class="fa fa-check-circle-o"></i></b>
                         {% if is_granted('ROLE_ADMIN') %}
                             &emsp;<a class="btn btn-success center-block" href="{{ path('observations_valider', { 'id': observation.id }) }}">{{'Validé'|trans}} <i class="fa fa-check-circle-o"></i> </a>
                            {% if observation.idInaturalist is null %}
            &emsp;
                            <a class="btn btn-success center-block" href="{{ path('observations_send', { 'id': observation.id }) }}"> Upload i-nat <i class="fa fa-upload"></i></a>
                
                            
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ observation.alpha }}</td>
            </tr>
              <tr>
                <th>Id i-naturalist</th>
                <td>{% if observation.idInaturalist %}{{ observation.idInaturalist }} <b class="btn btn-success"> <i class="fa fa-check-circle-o"></i> </b>{% else %}None Upload <b class="btn btn-danger"> <i class="fa fa-close"></i> </b>{% endif %}</td>
            </tr>
            <tr>
                <th>{%trans%}Auteur{%endtrans%}</th>
                <td>{{ observation.utilisateurs.username }}</td>
            </tr>
            
            <tr>
                <th>{{'Date'|trans}}</th>
                <td>{% if observation.date %}{{ observation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{'Coordonnée (x,y)'|trans}}</th>
                <td>{{ observation.coordX }} , {{ observation.coordY }}</td>
            </tr>
            
            <tr>
                <th>{%trans%}Type d'observations{%endtrans%}</th>
                <td>{{ observation.typeObservations.nomFr }}</td>
            </tr>
            {%if observation.typeObservations.typeQuestion == "groupe"%}
                {% if observation.especes.id is defined %}
                    <tr>
                        <th>{{'Espèce'|trans}}</th>
                        <td>{{ observation.groupes.nomFr }} <i class="fa fa-arrow-circle-right"></i> {{ observation.sousgroupes.nomFr }} <i class="fa fa-arrow-circle-right"></i> {{ observation.especes.nomFr }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            
           {% for resultat in resultats %}
            <tr>
                <th>{{ resultat.Questions.titreFr }} : </th>
                <td>{{ resultat.contenu }}</td>
                
            </tr>
        {% endfor %}
        <tr>
                <th>{{'Note'|trans}}</th>
                <td>{{ observation.note }}</td>
            </tr>
        <tr>
                <th>
                    {% if observation.img1 == "observation.png" %}
                                                            <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                        {% else %}
                                                        <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                            <img
                                                                        src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                        alt="{{ observation.img1 }}"
                                                                        width="100"
                                                                        height="75"
                                                                        />
                                                            </a>
                                                    {% endif %}
                </th>
                <td>
                
                 <a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof2/{{ observation.img2 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof2/{{ observation.img2 }}"
                                     alt="NO IMAGE 2 AVAILABLE"
                                    width="120"
                                    height="80"
                                    />
                </a>
                 <a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof3/{{ observation.img3 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof3/{{ observation.img3 }}"
                                     alt="| NO IMAGE 3 AVAILABLE"
                                    width="120"
                                    height="80"
                                    />
                </a>
                 <a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof4/{{ observation.img4 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof4/{{ observation.img4 }}"
                                     alt="| NO IMAGE 4 AVAILABLE"
                                    width="120"
                                    height="80"
                                    />
                </a><br/>
                </td>
            </tr>
        </tbody>
    </table>
<br/>

    <a  class="btn btn-app-teal "  href="{{ path('homepage') }}">{{'Revenir à la maps'|trans}}</a>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

