{% extends "::layout.html.twig" %}

{% block title %}{{'Types - Administration'|trans}}{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                <img src="{{ asset('images/admin.png') }} "/>
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">Admin - {{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PATROUILLE'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_patrouille_type") }}">{{'Gestion des Types'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_patrouille_categorie") }}">{{'Gestion des Catégories'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_patrouille_question") }}">{{'Gestions des Questions'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_home") }}">{{'Retour au menu principal'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>

            <div class="mdl-cell mdl-cell--9-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col" >
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{'Liste des Types'|trans}}</h2>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a class="waves-effect waves-light btn right teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="{{ 'Ajouter un type'|trans }}" href="#modalType" id="newType" ><i class="material-icons">add</i></a>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" >
                        <div class="mdl-grid" >
                            {% for type in liste_types %}
                                <div class="mdl-cell mdl-cell--3-col demo-card-event mdl-card mdl-shadow--9dp mdl-color--cyan-600 type" style="cursor:pointer; background: center / cover;">
                                    <div class="mdl-card__title mdl-card--expand mdl-color-text--white">
                                        <h5>
                                            {{ 'Type'|trans }} :<br/><br/>
                                            {{ type.nom(app.request.attributes.get('_locale')) }} <br/>
                                        </h5>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect modifType mdl-color-text--white" id="{{ type.id }}">
                                            {{'Modifier'|trans}}
                                        </a>
                                        {#<div class="mdl-layout-spacer"></div>#}
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del{{ type.id }}"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            {% else %}
                                <li>{{'Pas de types trouvés'|trans}}.</li>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="modalType" class="modal modal-fixed-footer">
            {{ form_start(form, {'method': 'post', 'action': path('siren_useradmin_patrouille_type_new'), 'attr': {'id': 'formType'}}) }}
            <div class="modal-content">
                <h4 id="titre">{% trans %}Enregistrement d'un nouveau type{% endtrans %}</h4><hr/>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.nom_fr, {'id' : 'nomFr', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                        {{ form_label(form.nom_fr, "Nom du Type en Français", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.nom_fr) }}</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.nom_en, {'id' : 'nomEn', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                        {{ form_label(form.nom_en, "Nom du Type en Anglais", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.nom_en) }}</span>
                    </div>
                    <label class="mdl-cell mdl-cell--12-col mdl-switch mdl-js-switch mdl-js-ripple-effect">
                        {{ form_widget(form.valeur, {'id' : 'valeurType',  'attr': {'class': 'mdl-switch__input'} }) }}
                        <span class="mdl-switch__label">{{'Etat'|trans}}</span>
                    </label>

                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn teal" id="send" type="submit" name="send"><i class="material-icons right">send</i><span id="btSend">{{'Enregistrer'|trans}}</span></button>
                <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
            </div>
            <input type='hidden' id="pathget" value="{{ path("siren_useradmin_patrouille_type_get", {'id' : '1'}) }}" />
            <input type='hidden' id="pathmodif" value="{{ path("siren_useradmin_patrouille_type_modif", {'id' : '1'}) }}" />
            <input type='hidden' id="pathdel" value="{{ path("siren_useradmin_patrouille_type_delete", {'id' : '1'}) }}" />
            {{ form_end(form) }}
        </div>
    {% endblock %}
    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                
                $('.modal').modal();

                $("#newType").click(function (e) {
                    
                    $("#nomFr").parent().removeClass("is-dirty");
                    $("#nomEn").parent().removeClass("is-dirty");

                    $("#valeurType").removeAttr("checked");
                    $("#valeurType").parent().removeClass("is-checked");

                    //$("#images").addClass("required");
                    $("input[type='text']").val("");

                    $("#btSend").text("Enregistrer");
                    $("#send").attr("name", "send");
                    $("#formType").attr("action", "{{ path('siren_useradmin_patrouille_type_new') }}");

                });

                $(".modifType").click(function (e) {
                    //$("#idType").val($(this).attr("id"));

                    var id = $(this).attr("id");
                    var pathget = $("#pathget").val();
                    var pathmodif = $("#pathmodif").val();

                    var table = pathget.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + $(this).attr("id");

                    table = pathmodif.split("/");
                    vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathmodif = vals + $(this).attr("id");

                    $.getJSON(pathget, function (data) {
                        $("#btSend").text("Modifier");
                        $("#send").attr("name", "modif");
                        $("#formType").attr("action", pathmodif);

                        $("#nomFr").val(data["nomFr"]);
                        $("#nomEn").val(data["nomEn"]);
                        $("#valeurType").attr("checked", data["valeur"]);
                        if (data["valeur"]) {
                            $("#valeurType").parent().addClass("is-checked");
                        } else
                            $("#valeurType").parent().removeClass("is-checked");

                        $("#nomFr").parent().addClass("is-dirty");
                        $("#nomEn").parent().addClass("is-dirty");

                    });

                    $('#modalType').modal("open");

                });

                $(".delete").click(function (e) {
                    var id = $(this).attr("id").substr(3);

                    var pathdel = $("#pathdel").val();

                    var table = pathdel.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathdel = vals + id;
                    $.getJSON(pathdel, function (data) {
                        Materialize.toast("{% trans %}Suppression réussie{% endtrans %}", 5000, 'rounded');
                    });
                    $(this).parent().parent().remove();
                });
                
                var form = document.getElementById("formType");

                var required = document.getElementsByClassName("required");
                form.addEventListener("submit", function (e) {
                    //e.preventDefault();
                    //alert("toto");
                    var block = false;
                    for (var i = 0; i < required.length; i++)
                    {
                        if ($(required[i]).val() == "")
                        {
                            e.preventDefault();
                            block = true;
                        }
                    }
                    if (block)
                    {
                        //$('#modalCategorie').modal("open");
                        setTimeout(function () {
                            $('#modalType').modal("open");
                        }, 500);
                        Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');

                    }
                });
            });
        </script>
        {% if enreg is defined %}
            {% if enreg == true %}
                <script>
                    $(function () {
                        Materialize.toast('{% trans %}Enregistrement terminé avec succès{% endtrans %}', 5000, 'rounded');
                    });
                </script>
            {% endif %}
        {% endif %}
    {% endblock %}



