{% extends "FOSUserBundle:Profile:show.html.twig" %}
{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-phone mdl-cell--10-col-tablet mdl-shadow--10dp type">
            <div class="container" >
                <div class="hero-content">
                    <h4>{{'Modifier mon mot de passe'|trans}}</h4>
                </div>
            </div>
                {% block fos_user_content %}
                {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                {% endblock fos_user_content %}
            </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
{% endblock %}