page-acceuil {

    :root {
        --color: #1b9eea;
    }

    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

   

    .premier{
        width: 100px;
        height: 100px;
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 10px;
    }

    .textcard{
        color: #fff;
        text-align: center;
        padding-bottom: 10px;
        
    }

    .cardpremieracceuil{
        background-color: var(--color);
        box-shadow: 3px 3px 5px 6px #ccc;
     }

     .textesacceuil{
        padding-top: 5%;
        font-size: 18px;
        text-align: center;
     }

     


}
